[2019-11-12 18:31] #362 closed

[2019-11-12 20:51] JohnCMcDonough opened #365 "Calling addCluster/User/Context fails if nothing was previously loaded"
**Failing Test Code**
[code]
**Code Referenced By StackTrace**
[code]

It looks like it's as simple as `this.clusters`, `this.users`, `this.contexts` not being defined when the `KubeConfig` is created. The fix would be to just define them when the object is created.

I would create a PR, but I've been fighting the CLA for a while now, and never got it figured out.

[2019-11-13 03:13] brendandburns commented on #364
My guess is that the TCP stream disconnected, but either an exception got swallowed somewhere, or the system is waiting for a socket timeout (which can be up to 20 minutes on Linux)

I'll take a look at the code and see if an exception is getting swallowed somewhere.

[2019-11-13 03:14] brendandburns commented on #365
Thanks for reporting, I'll see about adding a unit test and fixing this.

[2019-11-13 03:22] brendandburns commented on #358
@chelnak Yeah, I think you need `acquireToken`

https://github.com/AzureAD/azure-activedirectory-library-for-js/blob/master/lib/adal.js#L637

A PR for this would be great!

[2019-11-13 19:34] pbelbin opened #367 "Document how to do equivalent of `kubectl apply -f {filename}` using this client"
The documentation is not clear (to me) as to how the equivalent of the `kubectl apply -f {filename}` might be achieved using this client.

eg: use this to create/update a Deployment.

So, how is it done?

FYI:
I have done some digging through some of the issues in connection with this, which lead me to the 'patch' commands with the 'force' set to 'true', (confirmation (or not) that this is indeed

[2019-11-13 23:03] ssube commented on #350
Ok, this fell off my radar for a little bit, but after some experimentation:

The most-specific replacement, replacing the `require('electron')` within `got`, resulted in a bunch of circular dependency errors:

[code]
(rollup code for a superclass and subclass that were placed out of order, thanks to a cyclical dep)

However, moving that up and making `got` a [rollup external](https://rollupjs.org

[2019-11-14 05:41] brendandburns commented on #367
`kubectl apply` is actually a pretty complicated command. I don't think that this library will support it until we regenerate for 1.16 and we include [server side apply](https://kubernetes.io/docs/reference/using-api/api-concepts/#server-side-apply)

The Go code for `apply` is here:

[2019-11-14 05:45] #336 closed

[2019-11-15 16:08] pbelbin commented on #367
Thank you for the information!  I like the idea of using the `server side apply` functionality via the client.
 Do we have any idea as to when this will be available?

[2019-11-16 01:01] brendandburns commented on #367
We need to regenerate for the Kubernetes 1.16 API an then see if it works :)

I'd guess sometime in the next month or so.

[2019-11-18 00:51] rvillane opened #370 "Updating to version 0.11.0 broke working functionality when using 0.10.2"
Hi, we have a very basic app that executes a kubectl patch command to add an annotation on a deployment, when using v0.10.2 works fine, but when using v0.11.0 it doesn't throw any errors but the patching action to add the annotation is not performed.  Looking at changes introduced on v0.10.3 an v0.11.0 noticed that K8s openAPI spec was upgraded from v1.13.10 to v1.15.5.

Our clusters are currently

[2019-11-19 03:13] brendandburns commented on #370
It's definitely possible. Is there any chance you can capture the body in both cases and see what/if the difference is?

My guess is that the default patch content-type changed between versions.

[2019-11-19 04:11] rvillane commented on #370
Any recommendation on how to capture the body ?  I definitely can try but I just have seen the response being captured, not the body.

Also, in case it helps, my code is listed below, notice how I needed to add the content-type header explicitly.

[code]

[2019-11-19 22:35] #365 closed

[2019-11-19 22:39] #364 closed

[2019-11-19 22:41] #361 closed

[2019-11-20 18:44] cwardcode opened #373 "Type changes between 0.10.2 to 0.11.0"
From 0.10.2 to 0.11.0, at least `V1beta1Ingress*` has changed to either `NetworkingV1beta1Ingress*` OR `ExtensionV1beta1Ingress*`.

I haven't been able to find a difference between the two documented anywhere. Can anyone shed some light?

Object types have also changed, for instance:

`NetworkingV1beta1HTTPIngressPath`'s backend.servicePort property used to be type string, now it's object. How is

[2019-11-20 18:45] #373 closed

[2019-11-20 18:46] cwardcode commented on #373
Just realized this is already being tracked with: https://github.com/kubernetes-client/javascript/issues/349

sorry!

[2019-11-20 20:12] cwardcode commented on #349
This is preventing me from being able to upgrade to 0.11.0 as well. Are there any updates as to when this will be resolved?

[2019-11-21 15:27] #281 closed

[2019-11-21 16:02] axisofentropy commented on #165
/remove-lifecycle rotten

[2019-11-21 18:56] wikyburns commented on #218
I have the same issue but with other import. In my case with 'node-machine-id'. I'm trying to use directly in Angular 8, for the moment without success... If I found a way to use it directly on Angular classes I'll let you know.

[2019-11-25 10:19] machine424 commented on #340
If I really understand how tokens refreshing is implemented, new fetched tokens (at least for oidc) are not stored in `~/.kube/config`, that means, if a refresh occurs, `~/.kube/config` becomes obsolete. Also if other clients are to be run after, they will get old and unusable tokens from `~/.kube/config`. The current refreshing process is only useful for a single long-running client ? I see that

[2019-12-01 14:28] mrbobbytables commented on #359
Permissions have been cleaned up.

@flyboarder @itowlson @silasbw -- If you need access --  Please go ahead and file for [org membership to the kubernetes-client org](https://github.com/kubernetes/community/blob/master/community-membership.md#member) and we can pursue adding you the appropriate groups for repo permissions 👍

If you have any questions, please don't hesitate to reopen or ping me on

[2019-12-01 14:28] #359 closed

[2019-12-02 10:13] ericwong3 commented on #327
/remove-lifecycle stale

[2019-12-03 20:53] amarcazzo opened #374 "Object serialize adds garbage to body"
Hi there,

I'm trying to create an ingress resource and the object serializer its adding values to the original object  that doesn't supposed to be there in the first place.

Original object:
<img width="721" alt="Screen Shot 2019-12-03 at 17 51 33" src="https://user-images.githubusercontent.com/23349663/70088712-96d60280-15f5-11ea-90f4-9dc90c238e7a.png">

Modified object:
<img width="634" alt="Sc

[2019-12-03 22:01] ddgenome opened #375 "Interest in generic object API class"
I've created a generic Kubernetes object API class that allows you to pass any valid Kubernetes spec object to the action, e.g., create/delete/list/patch, that you want to perform.

https://github.com/atomist/sdm-pack-k8s/blob/43f41c251527f42fd9859453c582ee878af1bb96/lib/kubernetes/api.ts

This allows you to more easily perform tasks equivalent to `kubectl create|apply|delete` using the SDK.

You

[2019-12-05 07:27] brandonc commented on #341
@zoidbergwill I was able to generate a cluster-specific client with CRD apis/models with a couple of simple steps using the existing code:

1. Download the cluster's `/openapi/v2` spec and replace src/gen/swagger.json.unprocessed with it
2. Append `export OPENAPI_SKIP_FETCH_SPEC=1` to the file `settings`
3. `npm run generate`

[2019-12-05 19:30] brendandburns commented on #374
Your modification got clipped.

Can you provide the full sample code of what you are trying, and what you changed to fix things?

Thanks!

[2019-12-06 01:38] brendandburns commented on #375
Sure, this looks very useful. We'd welcome a PR.

Can you include an example of how to use it for the examples directory as well?

Thanks!

[2019-12-06 16:02] ddgenome commented on #375
Sounds good. I'll start work on it.

[2019-12-06 16:46] mag415 commented on #364
Can this issue be reopened? I pulled down the commit for `Add some missing error handling.` (36c9095) which we hoped would have helped, but I'm still seeing this same behavior.

[2019-12-10 15:17] jwalton opened #377 "What's the difference between a Watch and an informer?"
What's the difference between:

[code]

and:

[code]

It seems like the informer is doing a lot more stuff.  There's a whole in-memory cache of all the Kubernetes objects being watched?

And why is there a `listFn` and a path in the informer case? In this example (which was taken from [the official example](https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/informer/in

[2019-12-10 23:52] brendandburns commented on #377
You are correct that example is wrong, It should be listing pods for the default namespace...

The main difference between a Watch and an Informer is that a Watch can disconnect (network problems, timeout, etc) whereas an Informer tries to re-list and re-watch to hide such failures from the caller.

The cache is also there so you can use list/get semantics instead of event-driven semantics if you

[2019-12-11 13:16] jwalton commented on #377
The informer doesn't seem to expose the cache, though: https://github.com/kubernetes-client/javascript/blob/master/src/informer.ts#L19-L23  Although I suppose I can just create the ListWatch directly.  :)

[2019-12-12 23:24] garyo commented on #295
Hi; I'm trying to do the same, with Google Kubernetes Engine (I want to start jobs from a back-end service). My ~/.kube/config doesn't look quite like the ones shown here though. Cluster seems OK:
[code]
But, a user is
[code]
I think maybe that's saying to run `gcloud config config-helper ...` which returns something like this:
[code]

I've tried various combos of these tokens and I either get "Er

[2019-12-13 05:51] brendandburns commented on #377
Yeah, 'informer' is the name of a similar concept in the Go library, so it's sort of a wrapper on top of the cache in this library.

I fixed the bug in the example btw :)

[2019-12-16 06:04] #288 closed

[2019-12-16 17:15] garyo commented on #367
This is exactly what I want to do with this lib -- kick off jobs. `apply` is the right way to do that, correct? I'd appreciate any news on this.
(As well as the authentication issue #295, loading auth data, which I guess is closed, though I'd still like some help with using Google Kubernetes Engine -- happy to open a new issue if that's preferred here.)

[2019-12-17 09:06] riker09 opened #379 "informer triggers update event indefinitely"
I want to use the informer to watch services and perform my custom logic. Here's my code:

[code]

I only want to watch services annotated with a custom string `my-annotation`. I get *ALL* services first and compile a list with the names (`svcNames`). This normally runs inside an `async` method, hence the `await` keyword. I then use that list in a second call to `listNamespacedServices` (see `cons

[2019-12-18 05:40] brendandburns commented on #379
Depends on what is going on in the cluster.

There are two possibilities:

1) The Watch is dropping. You'll get a new event every time the watch re-connects.

2) The object really is changing a lot. You can check the `resourceVersion` field in the object. If that version is changing, then the object really is changing a lot.

Or it's possible there's a bug. If the watch isn't dropping and the obje

[2019-12-18 07:39] riker09 commented on #379
The objects are not changing. I've logged the resource version and it stays the same for each object (service). I've also encountered this behaviour with pod resources.

How can I tell if the watch is dropping? If this was the case, shouldn't the other events trigger as well? I have listeners for `add` and `delete` as well, but only `update` displays this behaviour.

Please let me know what more d

[2019-12-19 20:42] liggitt opened #380 "in-cluster config builder does not work properly in an ipv6 cluster"
https://github.com/kubernetes-client/javascript/blob/d262aff9acc43efda602142a587baa0183c4970a/src/config.ts#L204

assumes a DNS name or ipv4 address... it does not work correctly with an ipv6 address (the ipv6 host must be wrapped in brackets)

[2019-12-21 05:23] brendandburns commented on #379
To see if the watches are dropping you'd have to instrument the code, or look at your API server to see if there are repeated calls to list and/or re-establish the watch call.

Note also that this library has only been tested with vanila open source Kubernetes, not `k3s` so it's also possible that's part of the problem.

[2019-12-21 17:34] #350 closed

[2019-12-22 09:22] wdalmut commented on #379
Hi finally ended in the same problem. And i found that the function `listFn` is continuously called. Here an example

[code]

If you run this snippet your will see in your console

[code]

If you use the `informer.ts` example you will only get the `CALL` log once.

It is possible a bug? I don't undestand how to solve that.

To complete my report i attach a custom resource definition for the cluste

[2019-12-22 09:44] wdalmut commented on #379
I finally found the problem in my snippet but i can't on @riker09 snippet.

In my case i finally ends that the problem is URL parameter for the function `makeInformer`. The right one for that example is: ` '/apis/app.corley.it/v1/conferences'`. In this way the endpoint is called once and the informer events works as normal...

Here the corrected snippet:

[code]

[2019-12-22 15:43] #380 closed

[2019-12-23 11:33] roonie007 opened #382 "Update Npm package NPM"
Can you push the changes to NPM registry so we can benefit from the changes of this PR #372 ?

[2019-12-24 01:08] #308 closed

[2019-12-27 07:26] chainhead opened #383 "Undefined values for namespace object."
I edited the `createNamespace` function in `@kubernetes/client-node/dist/gen/api/coreV1Api.js` so that I could capture the generated body for creating a namespace _before_ the invocation is made.

[code]

Then, I ran the following `temp.js`.

[code]
And, this is the output (i.e. request body for creating namespace):

[code]

Shouldn't at least, the `apiVersion` and `kind` fields be populated?

[2019-12-30 22:51] #313 closed

[2019-12-31 11:18] entropitor opened #385 "Use named arguments over a long list of undefineds"
It would be nice if named arguments in the form of an object are used instead of many arguments that can be undefined. It's really hard to know which argument you are actually providing.

e.g.

[code]

[code]

With the above it's still a bit clear but if there is a boolean in there somewhere you have no idea what that boolean does without a comment. Named arguments through objects would help a lot

[2020-01-03 00:02] pnathan opened #386 "401 Unauthorized with oidc user."
Hi,

I'm getting a consistent 403 forbidden. This doesn't happen with the Python library or kubectl.  The user is an oidc user, backed by Auth0.  I have ensured that the token is valid.

I can't see any particular place where I need to pass in or set a flag. The cluster is a kops-generated cluster with its own generated certificate.

Looking at https://github.com/kubernetes-client/javascript/blob/

[2020-01-06 16:45] brendandburns commented on #383
I don't think that's necessary since those are obtained from the HTTP path in the request.

Is it not working properly for you?

[2020-01-06 16:48] brendandburns commented on #385
Unfortunately, this is all code generated by the openapi-code generator:

https://github.com/OpenAPITools/openapi-generator

There has been discussion/work to create a more fluent API, see:

https://github.com/kubernetes-client/javascript/pull/244

I'm going to close this issue, partially because fixes would need to be in the code generator, and partially because there's the open PR for fluent fix

[2020-01-06 16:48] #385 closed

[2020-01-06 20:39] brendandburns commented on #386
Can you provide an (anonymized) example of what your kubeconfig file looks like?

Thanks!

[2020-01-06 21:37] pnathan commented on #386
Absolutely. Here's a kubeconfig dump, along with a redacted program.

## minified

[code]

## program

[code]

## packaging.

package.json

[code]

## typescript config
tsconfig.json
[code]

## other bits:

Linux pnathan1 4.9.0-11-amd64 #1 SMP Debian 4.9.189-3+deb9u2 (2019-11-11) x86_64 GNU/Linux

nvm use `v10.17.0`

## end output vs kubectl
[code]

[2020-01-07 23:55] brendandburns commented on #386
Is your refresh token truly empty string (`""`) as in the example config?

If so, I think the problem is this line here:
https://github.com/kubernetes-client/javascript/blob/master/src/oidc_auth.ts#L46

Which will bail before we even get to evaluating the token. This seems like a bug to me regardless, so I'll send a PR to fix, but a quick test would be for you to change the refresh token to a not-

[2020-01-08 00:00] pnathan commented on #386
(1) Good news: I do not. It really is empty!

(2) The results of the test are...

Changing the refresh token to "yolo"

[code]

I validate I can `kubectl get po` - pods are gotten.

then:

[code]

which is _fascinating_.  Since I have had it for a while and kubectl uses it happily.

I then remove it altogether from this specific user, and the following results:

[code]

[2020-01-08 00:08] brendandburns commented on #386
So what is happening (I think) is that the javascript client tries to refresh first when there's no expiration timestamp. I think the kubectl (and Python) clients might simply try to use the token that's in the file.

I think that probably trying the token makes sense so I'll update the Javascript client to use them.

Also, I think the issue might be that refresh for that kubeconfig is broken. I n

[2020-01-08 00:10] pnathan commented on #386
Let me know if you want me to test a patch. I'm also somewhat surprised that an empty token is accepted (perhaps kubectl doesn't send empty tokens?).

[2020-01-08 04:10] brendandburns commented on #386
Some observations from the [kubectl oidc code](https://github.com/kubernetes/client-go/blob/16bcffe0e4b7c58035b4d0debb40717016567ce4/plugin/pkg/client/auth/oidc/oidc.go)

Extra scopes is deprecated and unused:
https://github.com/kubernetes/client-go/blob/16bcffe0e4b7c58035b4d0debb40717016567ce4/plugin/pkg/client/auth/oidc/oidc.go#L128

It does require a non-zero length refresh token:
https://githu

[2020-01-08 06:10] brendandburns commented on #386
I have a PR that I believe will fix this here:

https://github.com/kubernetes-client/javascript/pull/388

If you can patch and validate it would be much appreciated.

[2020-01-08 10:26] chainhead commented on #383
Actually, out of some other interest, I am keen on trapping the payload _before_ the invocation. I was hoping that, as a user, if I set the fields I want, the library would set others (if not, all). The command itself works well!

[2020-01-08 17:55] brendandburns commented on #383
Yeah, the library doesn't set any fields, you're on your own there. The kubernetes API server does add defaults (like apigroup and kind) on the server side.

I'm going to close this issue as I think it is resolved. Please use /reopen in a comment if you need to reopen for any reason.

[2020-01-08 17:55] #383 closed

[2020-01-09 06:25] focode opened #389 "Will this sdk work with Azure Kubernetes"
I am following this link: https://github.com/kubernetes-client/javascript
and trying to list pods in the given namespace with azure kubernetes, here the code that I am referring:
const kc = new k8s.KubeConfig();
kc.loadFromDefault();
const k8sApi = kc.makeApiClient(k8s.CoreV1Api);
k8sApi.listNamespacedPod('abc').then((res) => {
    console.log(res.body);
});
I have successfully logged in to Kubern

[2020-01-09 21:55] pnathan commented on #386
Hi,

Sorry about the delay.

Failure in a new and improved way.

[code]

when `refresh-token` is either `"ABCD"`, `""`, or, simply not present.

https://github.com/swansontec/rfc4648.js/blob/master/src/codec.ts#L33 is the error.

FYI: the ID token is JWT, and there's an example parser at https://jwt.io/

[2020-01-10 00:10] brendandburns commented on #389
This definitely does work with Azure Kubernetes (I test it with AKS, myself) however, it doesn't currently refresh your token if it is expired if there isn't a `cmd` present:

https://github.com/kubernetes-client/javascript/blob/master/src/cloud_auth.ts#L62

A quick way to validate is to run `kubectl version` which will refresh the token in your kubeconfig file.

If that works, one option is to ad

[2020-01-10 00:13] brendandburns commented on #386
Does your JWT parse correctly in the parser at https://jwt.io?

[2020-01-10 00:16] brendandburns commented on #386
Can you change

[code]

to:

[code]

In the patch and see if it works?

[2020-01-10 00:25] pnathan commented on #386
Yes.

Hotwiring the patch in:

that works!  `as any` fails syntactically with my versions of things.

[2020-01-10 04:22] focode commented on #389
Just running kubectl version command, my program gave output and not the error

[2020-01-10 04:44] BenTheElder opened #390 "Don't fail on missing kubeconfig version / kind"
These fields are "legacy", optional, and to be removed from downstream per the source types in client-go, as far as i know they can only ever be "Config" and "v1". Creating a client should not fail without these omitempty fields being present.

https://github.com/kubernetes/client-go/blob/940f07561929308fc33fc58bfa185f0544b84846/tools/clientcmd/api/types.go#L32-L41

originally reported in https://

[2020-01-10 04:49] frankfarzan commented on #390
Check for apiVersion:

https://github.com/kubernetes-client/javascript/blob/58aa67475cc671268a08228c65da6d36a3b94b19/src/config.ts#L160

[2020-01-10 22:13] brendandburns commented on #389
right and now your token should be updated and the Javascript client code should work.

[2020-01-11 00:48] brendandburns commented on #386
ok, thanks for the confirmation. I will update my PR with that change.

[2020-01-11 06:24] focode commented on #389
Yes It is working now, Thanks @brendandburns

[2020-01-11 14:53] #390 closed

[2020-01-11 14:55] #386 closed

[2020-01-13 06:54] travisghansen commented on #375
This. Also generic watches (that reconnect and detect dead peers) by simply passing the endpoint without all the autogenerated garbage.

[2020-01-13 18:06] travisghansen commented on #377
@brendanburns can you point me to where the re-watch logic is? Does it do some sort of dead peer detection at all or does it only detect clean disconnects? I wrote similar logic for a php client and ultimately had to just put a non-activity timeout on the socket and reconnect (keeping track of the last version received). Interested to see how it's implemented here and additionally if it's possible

[2020-01-14 15:11] aeb-sia commented on #382
I'd also appreciate a release. Mainly to get #366 in.
I'd also like to note that 0.11.0 has been released, at least there is a tag, but there is no changelog entry...

[2020-01-14 20:52] travisghansen opened #392 "watch with resourceVersion too old triggers done() callback with null err"
It appears that when the resourceVersion is no longer available in the cluster we probably are receiving a `410 GONE` response. However I'm observing that the `done()` callback has a `null` value for the error.

Any way we can more sanely handle this scenario?

Thanks!

[2020-01-14 20:52] travisghansen commented on #392
https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions

[2020-01-15 20:11] brendandburns commented on #392
@travisghansen based on this code here:

https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L75

You should be getting a non-null error on a `410` error. Are you sure you are getting a `410`? Have you validated in the API server logs?

[2020-01-15 21:00] travisghansen commented on #392
@brendanburns after digging a bit more what I've discovered is that the callback actually receives the error data from the API but *also* done() is getting invoked. I'm not exactly sure how I would expect this all to work now that I know the normal callback is invoked with the data and done() is invoked as well.

[2020-01-15 21:00] travisghansen commented on #392
I should say, done() is getting invoked with `null` to be clear.

[2020-01-22 16:15] travisghansen opened #395 "RESTMapper interface"
I'm not seeing anything of this nature in the code-base, if not can it be added?

I'm trying to map resource apiVersion/name/namespace/etc to REST endpoints.

https://github.com/kubernetes/kubernetes/issues/87434#issuecomment-577189967

[2020-01-23 00:31] brendandburns commented on #395
What is your use-case? The client has all of the paths generated in it already.

I suppose we'd be open to a PR  to add this functionality if you wanted to develop it, but I'm uncertain about the need.

[2020-01-23 00:44] travisghansen commented on #395
@brendanburns I'm not using any of the auto-generated stuff (nor can I to support CRDs).

I wrote this: https://github.com/travisghansen/node-red-contrib-kubernetes-client

`Node-RED` is a flow-based programming tool where generic messages flow. I've create a 2 kinds of nodes so far:

- `watch` - basic watches
- `http` - REST API

What I'm trying to facilitate in this *specific* use case is to gen

[2020-01-23 01:03] travisghansen commented on #395
Of note, apparently there's an initiative to also remove `selfLink` generally as well which will make this all the more important.

[2020-01-23 04:56] #294 closed

[2020-01-23 09:12] drubin commented on #290
/remove-lifecycle stale
/lifecycle frozen

[2020-01-23 19:45] divyamlamiyan opened #397 "When we call the method createNamespacedPod after its creation when I called method readnamedspacedPodStatus in its res apiResponse.body.status.podIP"

[2020-01-23 19:47] divyamlamiyan opened #398 "k8s pod issue in getting IP after creation"
When we call the method createNamespacedPod after its creation when I called method readnamedspacedPodStatus in its response  apiResponse.body.status.podIP was coming empty since it takes time to generate it. So is there any good way to know whether IP will generate or not(Not in case of memory low failure) because I will be keep calling it.

[2020-01-23 19:47] #397 closed

[2020-01-23 21:37] brendandburns commented on #398
You can use watch, to wait for changes to the Pods:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/watch/watch-example.ts

I'm going to close this as I believe the question is answered, feel free to use the `/reopen` command if you need to reopen this.

[2020-01-23 21:37] #398 closed

[2020-01-24 01:33] brendandburns commented on #395
I'd be happy to have a PR that added this if you'd like to send one.

--brendan

[2020-01-24 02:34] travisghansen commented on #395
Not very good at ts so I'm extending at the moment :(

[2020-01-24 06:42] #392 closed

[2020-01-24 08:38] travisghansen commented on #392
@brendanburns what's the behavior now? Does the normal callback still get invoked as before?

[2020-01-26 18:14] inikolaev opened #399 "Kubernetes config not updated when token refreshed"
I'm using OIDC authentication and running in the the following issue:

[code]

After debugging it looks like token is being refreshed correctly the first time, but Kubernetes configuration is not being automatically updated and next time I start application I load old configuration and try to refresh my token using invalid refresh token.

I'm loading configuration from `~/.kube/config` and I was e

[2020-01-27 04:01] brendandburns commented on #399
Unfortunately, the Javascript client library doesn't currently support automatically rewriting the config when it refreshes a token.

There is a utility here:
https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L352

to call `exportConfig()` to write the config into a string (which could then be written into a file) so it's possible.

To do it right requires a large-ish refac

[2020-01-27 04:02] brendandburns commented on #399
I'll look into crafting a PR (or probably multiple PRs) to handle this.

[2020-01-27 05:32] brendandburns commented on #389
Closing this in favor of the more general #399

[2020-01-27 05:32] #389 closed

[2020-01-27 22:33] unfor19 opened #401 "TypeScript - watch-example - not working"
I copy-pasted the example, and exported a module, here goes:
[code]

Executed it with:
[code]

Error output:
[code]

I Googled for - `TypeError: watch.watch(...).then is not a function` but seems like it's not famous enough ... Any help would be appreciated

Example Reference: [https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/watch/watch-example.ts](https://github.co

[2020-01-28 02:28] brendandburns commented on #401
I think this must have something to do with the `Promise` library that you are using, what version of nodejs are you running?

The function is here:

https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L34

And it is async.

It would be more Typescript-ish for this example to use `await`, you could also substituting in `await` and see if that fixes things..

I tested this with

[2020-01-28 02:38] xogeny opened #402 "Stop watching or informing?"
I cannot figure out how to "unsubscribe" to either the informer or the watcher?

Informer has a `start()` method, but no `stop()` method.

The watcher seems to return a promise to a request (although the type definitions do not say that, only the example).  However, for my code that promise never gets resolved so that I can `req.abort()` the watcher.

The use case here is one where you are waiting

[2020-01-28 09:22] unfor19 commented on #401
Hi @brendanburns , thanks for the quick response.
I'm using Node `v13.7.0`, and TypeScript `v3.7.2`. I switched to - Node `v12.12.25`, but still the same error.

My package.json:
[code]

I've already seen the syntax of [watch](https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L34), I saw it is supposed to return a promise (`Promise<any>`), so the `then` make sense.

Regardin

[2020-01-28 09:41] unfor19 commented on #401
Just to be on the safe side, I tried it with Docker

`Dockerfile`
[code]

Still getting the same error
[code]

@brendandburns - may you please share your code and the results when it runs? I'm able to run watch if I ommit the `then` part, but then I can't stop it, unless I use `process.exit()`

[2020-01-28 21:34] baptLesta opened #403 "AppsV1beta1RollingUpdateDeployment type changed from any to object"
It used to be any, which works fine. Now it's object, where giving a number would cause a type error.

[2020-01-28 21:36] lwang16 opened #404 "Not able to make the js client with Angular 8.3.21: unable to establish process.binding('uv')"
Error:
**errname.js:18 execa/lib/errname: unable to establish process.binding('uv') Error: process.binding is not supported  at Object.push../node_modules/process/browser.js.process.binding (browser.js:177)
at Object../node_modules/@kubernetes/client-node/node_modules/execa/lib/errname.js (errname.js:12)
    at __webpack_require__ (bootstrap:79)
    at Object../node_modules/@kubernetes/client-node

[2020-01-29 06:41] inikolaev opened #405 "Log class seems to be outdated"
I'm trying to stream logs from the pod using `Log` class and I'm getting an unauthenticated error:

[code]

At the same time both `kubectl logs` and `readNamespacedPodLog` works.

I guess the problem is that `Log` uses

[code]

while `readNamespacedPodLog` uses

[code]

in order to apply proper credentials.

That makes me wonder if `Log` class still a thing and I can rely on it, or should I fallba

[2020-01-29 14:55] unfor19 commented on #402
I reported almost the same thing here - #401

I also can't resolve the `req.abort()` with `watch` ... @brendandburns any thoughts about this one ? ...

[2020-01-29 15:25] mtiller commented on #402
I've created code to use the Watch to feed an `rxjs` `Subject` and then that allows clients to subscribe to that `Subject` to track updates.  Unfortunately, I get the although I'm not aborting the underlying request, it seems like something is because the final callback for `Watch` is getting invoked without an error.  I know the watch has some limits on how long it runs.  So I suspect that is wha

[2020-01-29 21:57] brendandburns commented on #404
Is this running in a browser? I don't know that this client library will work in a browser.

[2020-01-30 18:33] lwang16 commented on #404
Thank you for the reply. Yes I'm trying to run JS k8s client in a browser and didn't have much luck

[2020-01-31 00:28] cksassy opened #406 "API does not have way to get stateful set."
The API has a function called listNamespacedPod() to query the list of pods. I don't see anything similar for stateful sets.

[2020-01-31 00:36] brendandburns commented on #406
It's right here:

https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/appsV1Api.ts#L2314

Closing because the question is answered. If more info is needed please use the `/reopen` command in a comment to reopen the issue.

[2020-01-31 00:36] #406 closed

[2020-01-31 00:37] brendandburns commented on #404
Yes, this client is currently only supported in nodejs, not in a browser.

Closing this issue, please use the `/reopen` command in a comment to reopen the issue.

[2020-01-31 00:37] #404 closed

[2020-01-31 00:38] brendandburns commented on #403
This is a duplicate of #349 closing in favor of that issue.

[2020-01-31 00:38] #403 closed

[2020-01-31 00:39] brendandburns commented on #374
Closing due to no feedback. Please use the `/reopen` command to reopen this issue if necessary.

[2020-01-31 00:39] #374 closed

[2020-01-31 00:40] brendandburns commented on #404
Ref #165

[2020-01-31 00:40] brendandburns commented on #405
acknowledged, will try to reproduce and fix.

[2020-01-31 00:43] cksassy commented on #406
Thank you for the quick response and pointing out I needed to create the "apps" API client: `makeApiClient(k8s.AppsV1Api)`

[2020-01-31 15:35] mtiller commented on #402
I looked at the informer code a bit and it seems like a relatively simple solution is possible.  Every time a `Watch` is created, the returned `Promise<Request>` could be stored.  A separate `stop` method could be written that awaits the request and then triggers `req.abort()`.  It then further sets an internal flag indicating the informer is stopped so that the `doneHandler`, when invoked, won't

[2020-02-01 04:14] brendandburns commented on #405
Actually, I tried this on my cluster and it works correctly. What kind of authentication are you using in your kubeconfig?

The code paths actually end up with the same Authentication since `this.authentications.default.applyToRequest(...)` ultimately calls `config.applyToRequest` since the config is passed in as the default authencation.

Anyway, I suspect that some part of your kubeconfig is bei

[2020-02-01 04:16] brendandburns commented on #401
I'm attaching the trans-piled javascript from a `watch.js` that works for me.
[watch-example.js.txt](https://github.com/kubernetes-client/javascript/files/4142137/watch-example.js.txt)

[2020-02-01 04:47] brendandburns commented on #382
I just pushed 0.11.1 from head.

https://www.npmjs.com/package/@kubernetes/client-node

[2020-02-01 04:47] #382 closed

[2020-02-01 04:49] brendandburns commented on #360
/remove-lifecycle-stale

[2020-02-02 11:50] inikolaev commented on #405
I have just tried and still getting unauthorized. It Dows work when I run it agains Kubernetes which runs inside my Docker for Desktop, which doesn't require authentication.

Here's an example source code which I used:

[code]

The `readNamespacedPodLog` only works for me if `follow` is `undefined` of `false`, so I guess it's not quire suitable for streaming after all or I'm using it in a wrong wa

[2020-02-02 12:19] inikolaev commented on #405
I did some more debugging and logged request options in both cases.

Here's request options when `Log` is used:
[code]

And here's what being sent when using `readNamespacedPodLog`:

[code]

As you can see, when using `Log` headers are missing and for some reason it's an array instead of of an object as in the latter case.

[2020-02-02 12:46] inikolaev commented on #405
I think I have found where the problem is.

First, here I think `headers` should be an object, rather than an array: https://github.com/kubernetes-client/javascript/blob/aa0b27480d3d25603bf33d32593b3cf9870de5e6/src/config.ts#L404

Though it works event when it's an array, but you end-up adding new properties to the array object, which looks odd when logged in the console:

[code]

The real cause i

[2020-02-03 09:32] patrickschur commented on #401
@unfor19 I had the same issue and figured out that different versions of `@kubernetes/client-node` return different results.

The version `0.11.0` **doesn't** return a promise, but `any`.
https://github.com/kubernetes-client/javascript/blob/0.11.0/src/watch.ts#L38

The version `0.11.1` **does** return a promise.
https://github.com/kubernetes-client/javascript/blob/0.11.1/src/watch.ts#L39

To fix t

[2020-02-03 09:44] patrickschur commented on #402
@xogeny I found the problem. Short answer: Just update the version of `@kubernetes/client-node` to `0.11.1` and you are good to go. For more information please have a look at [my comment](https://github.com/kubernetes-client/javascript/issues/401#issuecomment-581320202) on the issue #401.

[2020-02-03 10:14] unfor19 commented on #401
Thank @patrickschur ! I'll give it a go and update if it works

[2020-02-03 21:41] cahite opened #409 "getNamespacedPod() returns undefined values"
When using the getNamespacedPod() and getNamespacedService() functions using a proper namespace, I get a response where all of the fields' values are undefined.
I use the same code as the example here https://github.com/kubernetes-client/javascript#list-all-pods

This is an example of the output I see :

[code]
When using the kubectl command to list the pods/services I see the correct info.
It loo

[2020-02-04 11:33] lbogdan commented on #405
Was that fixed? I just tested this, with both client certificate and token authentication, and they both work.

[2020-02-04 13:05] inikolaev commented on #405
I opened a PR this addresses this issue: #408

[2020-02-04 18:23] #405 closed

[2020-02-04 19:00] brendandburns commented on #409
This is the way Kubernetes API Server works.

If you ask for a 'list' it doesn't put the API group/kind metadata in the object.

If you look at the verbose JSON from `kubectl` you can see this:

[code]

I think that in the kubectl printer some where they are substituting this data.

You could probably add a heuristic library function that could do this, but I don't think it's something that the ba

[2020-02-05 14:26] andrewrynhard commented on #402
Although there may be a solution for `watch`, I don't see one for `informer`.

[2020-02-05 14:50] cahite commented on #409
Ahh ok. So are the any functions that would be able to give me the information I'm looking for(I'm looking for the labels on all of our services), or is your heuristic libraries suggestion my only workaround?

[2020-02-05 19:54] brendandburns commented on #409
The labels should be there. They are in the `metadata` field within the object that is returned.

e.g. `listObj.items[0].metadata.labels` should have all of your labels.

[2020-02-05 20:29] patrickschur commented on #402
@andrewrynhard There is no `stop()` method but there is an `off()` method to unsubscribe from events.

If you run the following example there will be no output. But when you remove the line with the `off()` method there is an output. Hopefully this helps.
[code]

[2020-02-05 20:29] cahite commented on #409
I'm seeing `undefined` when I try to get the labels that way using the getNamespacedService() function.
[code]

I'm assuming that's because the listObj shows metadata as [Object]
[code]
Am I missing something here? Or did i misunderstand your second comment and I won't be able to get that info from the getNamespacedService() function?

[2020-02-05 21:06] andrewrynhard commented on #402
@patrickschur Thanks. I might be able to use this, however, I still think that being able to stop the informer would be good to have. I will give this a whirl in the mean time 👍.

[2020-02-06 12:37] J12934 commented on #19
For anyone still running into this, the solution suggested doesn't work as described anymore as the function signature has changed slightly.

The function now has more args which need to come before the options array, also passing `null` makes the api client pass empty values for dryRun and co. instead of skipping it. Passing `undefined` instead of `null` works for me.

What works for me (`@kubern

[2020-02-06 15:18] cahite commented on #409
I see where I went wrong... The first item in my list of services doesn't have any labels, therefore giving me undefined. When doing that operation on a service with labels, I can read them. Thanks for your help!

[2020-02-06 15:18] #409 closed

[2020-02-07 05:53] brendandburns commented on #401
Ah, apologies for the confusion! Yes the examples at HEAD match the code at HEAD, the example for the `0.11.0` release is here:

https://github.com/kubernetes-client/javascript/blob/0.11.0/examples/typescript/watch/watch-example.ts

[2020-02-07 06:03] brendandburns commented on #360
fwiw, I looked into the oidc client library here:

https://github.com/panva/node-openid-client/blob/2dfa313f24bab351344932b7b1c67c9cab6031f8/lib/helpers/client.js

And I don't think that the library supports custom Certificate Authorities.

[2020-02-07 16:50] mag415 commented on #364
We pulled in version 0.11.1, but still seeing some unexpected behavior.
We're noticing that CRD queries tend to stop returning results after watch restarts.

[2020-02-07 16:51] mag415 commented on #364
For reference: https://github.com/walmartlabs/cookie-cutter/pull/54

[2020-02-07 18:11] brendandburns commented on #401
I'm going to close this as I think we've resolved the issue. Please use the `/reopen` command if you need to reopen for any reason.

[2020-02-07 18:11] #401 closed

[2020-02-08 07:16] mtiller commented on #402
The issue with `off` vs `stop` is that you'll still have a dangling request and the Javascript event loop will still be waiting for something.  This is important in testing.  When running tests (at least with `jest`), you'll get a bunch of warnings/errors from `jest` if you haven't cleared out all pending asynchronous sources.  When it comes to tests, I don't want that kind of stuff obscuring real

[2020-02-08 09:52] unfor19 commented on #401
@brendandburns - One more thing regarding the example, it doesn't work (at least not for me).

Both [0.11.1 example](https://github.com/kubernetes-client/javascript/blob/0.11.1/examples/typescript/watch/watch-example.ts) example and [0.11.0 example](https://github.com/kubernetes-client/javascript/blob/0.11.0/examples/typescript/watch/watch-example.ts)  don't work. In 0.11.0, I still get the error

[2020-02-08 18:01] unfor19 commented on #402
@mtiller I've added a full example on how to use the watch class - #401 . Check it out, it might fit your jest example.

I know it's not informer, but still, it's a good start

[2020-02-09 21:16] brendandburns commented on #401
Thank you for the detailed sample code, I will use it to update the example.

[2020-02-10 15:09] binura-g commented on #375
@ddgenome This is extremely useful, thanks! 💯

[2020-02-12 20:17] inikolaev opened #411 "Support SPDY for exec"
I have cluster in with I could exec into a pod using `Exec` class, but recently it stopped working and now return `403` status code when doing so.

At the same time `kubectl exec` works fine and after some digging it looks like there are two protocols which can be used: WebSocket and SPDY. SPDY is used by `kubectl` and that is why it's still working.

[2020-02-14 02:12] mateothegreat opened #413 "Ingress servicePort as object?"
Per https://github.com/kubernetes-client/javascript/blob/master/src/gen/model/networkingV1beta1IngressBackend.ts#L38 the backend's `servicePort` is set as `object` .. shouldn't this be a number or string or am I missing something?

Passing in an arbitrary object returns from the api:

v1beta1.IngressBackend.ServicePort: unmarshalerDecoder: json: cannot unmarshal object into Go value of type int32,

[2020-02-14 04:03] brendandburns commented on #411
An HTTP 403 comes before any protocol (SPDY or WebSockets) is negotiated. So I don't think SPDY vs WebSockets is the reason that you are getting a 403.

My guess is that your kubeconfig is somehow incompatible with the Java. What is the content of your kubeconfig (after removing secrets)

[2020-02-14 04:06] brendandburns commented on #413
This is a duplicate of #370

There's some weirdness in how the swagger is converted to typescript where object is being substituted for number.

If you pass a string or a number it should work correctly.

I need to dig into the code gen and/or the openapi spec to figure out what's going wrong, but I haven't had the cycles.

I'm closing this in favor of #370 since it's the same issue. Please use `/

[2020-02-14 04:06] #413 closed

[2020-02-14 06:49] inikolaev commented on #411
Unfortunately I don't have access to the kubeconfig, but I can ask about it.

The thing is that it was working before and looks like something changed. As I understand WebSocket and SPDY protocol negotiation is started differently: WebSocket requires that the first request is GET, while `kubectl` is sending POST which is then upgraded. Could it be that the corresponding role in Kubernetes for `pod

[2020-02-14 07:12] cmosgh opened #414 "Request is fully deprecated as of February 11 2020."
As stated [here](https://github.com/request/request#deprecated) request is fully deprecated. The reasons are described in [this issue](https://github.com/request/request/issues/3142) .
I think it is the time to choose an alternative, considering this kubernetes client is used on some production applications.

These are the current [alternatives](https://github.com/request/request/issues/3143).

[2020-02-14 14:15] inikolaev commented on #411
Here's an example kubeconfig:

[code]

and here's extract from Kubernetes roles:

[code]

[2020-02-15 05:29] brendandburns commented on #414
This is generated by the open api code generator. Looks like we could switch to Axios. Is there a preference for a particular HTTP client library?

[2020-02-15 05:31] brendandburns commented on #411
That could be the problem, you may need to add `get` as a verb for your role, in order to be able to do the `GET` that initiates the WebSocket.

[2020-02-15 05:32] brendandburns commented on #411
Regarding the question about `connectPostNamespacedPodExec` and `connectGetNamespacedPodExec` they come out of the swagger specification and they're to perform either the get or the post for the exec.

But honestly, the generated API client doesn't understand WebSockets or SPDY, so they actually not very useful by themselves.

[2020-02-15 07:22] inikolaev commented on #411
Unfortunately this is not always possible. I'm trying to make some prototype which uses SPDY, but unfortunately the library I use is already abandoned in favor of HTTP/2, which K8s doesn't yet support for exec.

[2020-02-19 13:29] PriyankaTwinkel003 commented on #106
hi Team,

my node.js application works fine in local.From my local it gets the GCP context and displays the pod lists. However when i run the same application in K8s cluster on GCP it gives below error. I have updated the attach.js file still facing the below issue:-
UnhandledPromiseRejectionWarning:listening at port 4000..
(node:1) UnhandledPromiseRejectionWarning: #<Object>
(node:1) UnhandledPro

[2020-02-19 13:47] PriyankaTwinkel003 opened #416 "Error-This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection id: 1)"

[2020-02-19 13:51] PriyankaTwinkel003 commented on #416
hi Team,
I have created a nodejs application and exposed it as a https api.I have used @kubernetes/client-node module of javascript.
My node.js application works fine in local.From my local it gets the GCP context and displays the pod lists. However when i run the same application in K8s cluster on GCP it gives below error. Kindly help me.
UnhandledPromiseRejectionWarning:listening at port 4000..

[2020-02-19 17:23] mitar commented on #165
/remove-lifecycle stale

[2020-02-20 03:36] brendandburns commented on #416
How are you creating the client? You should be using the default constructor so that it finds the service account. Also, it's hard to know what went wrong with your code. There's a promise somewhere that is failing and either the client code or your code isn't handling it.

Can you attach your sample code so that we can determine what is going on?

[2020-02-24 02:49] brendandburns commented on #165
/lifecycle frozen

[2020-02-24 02:49] brendandburns commented on #349
/lifecycle frozen

[2020-02-24 02:50] brendandburns commented on #370
/lifecycle frozen

[2020-02-24 22:51] chadbr commented on #414
Axios is pretty "big"... The "replacement" is https://github.com/mikeal/bent

but I haven't tried it yet...

[2020-02-25 17:00] ameerthehacker commented on #327
Any update on this?

[2020-02-26 22:41] brendandburns commented on #327
No updates. I'm really not sure this is fixable without a great deal of effort, I believe this error is coming from libssl, and I don't want to hack around libssl.

I think the key strength of the self-signed certificate needs to be increased.

/lifecycle frozen

[2020-02-26 22:42] brendandburns commented on #414
Unfortunately to use an alternate library it needs to first be integrated into the code generator that we use:

https://github.com/OpenAPITools/openapi-generator

[2020-02-26 22:43] brendandburns commented on #340
Token persistence is tricky, because it is potentially racy between multiple different clients running on the same machine.

I'd prefer that people handle it themselves in their application code rather than this library accidentally corrupting someone's kubeconfig.

[2020-02-26 22:43] brendandburns commented on #340
/lifecycle frozen

[2020-02-26 23:14] chadbr commented on #414
Microsoft tool or?

[2020-02-26 23:19] chadbr commented on #414
Maybe Fetch? https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/java/org/openapitools/codegen/languages/TypeScriptFetchClientCodegen.java

[2020-02-27 22:53] brendandburns commented on #414
We could try fetch, but it's not node native, so we'd have to use the node-fetch package (not a blocker though)

I will look into this.

[2020-02-28 11:12] the21st commented on #336
/reopen

Promises are still being reject with non-Error types. See any line `reject({ response: response, body: body });` in e.g. https://raw.githubusercontent.com/kubernetes-client/javascript/master/src/gen/api/coreV1Api.ts

[2020-02-28 11:31] aeb-sia commented on #336
Looks like the generator wasn't actually run. There is an open MR !418 that ran the generator and actually includes the fixes

[2020-03-03 19:38] brendandburns commented on #416
Closing this due to lack of response. If you want to reopen please use the `/reopen` command in a new comment.

[2020-03-03 19:38] #416 closed

[2020-03-04 05:51] reachlin opened #419 "how to return all records"
when i call `listNamespacedPod`, it doesn't return all records.
is there any example for returning a large number of records?

[2020-03-04 23:13] #343 closed

[2020-03-05 17:08] brendandburns commented on #419
are you looking for pagination?

There are two ways to do this. The `listNamespacedPod` function has a `limit` parameter. You can make this very large. Alternately, if there are more records than the `limit` value the API server will return a `continue` value, if you pass that value in a subsequent call to `listNamespacedPod` then you will get the next page of results.

There's no example of how t

[2020-03-06 01:45] reachlin commented on #419
thanks

[2020-03-06 01:45] #419 closed

[2020-03-08 22:53] brendandburns commented on #360
/lifecycle frozen

[2020-03-09 23:39] JoeHegarty commented on #367
Any update on when the API may be regenerated for 1.16/1/17?

[2020-03-10 22:17] brendandburns commented on #367
I'll try to get to it this week.

[2020-03-10 23:33] brendandburns commented on #414
Switching to fetch is going to be broken until this issue is resolved somehow:

https://github.com/OpenAPITools/openapi-generator/issues/3694

The generator is going to generate a broken path.

[2020-03-14 04:56] brendandburns commented on #358
/lifecycle frozen

[2020-03-16 04:55] justinGML commented on #379
I was having the same issue, and after some troubleshooting, I found that I was accidentally calling the code to initialize the informer more than once.

[2020-03-16 18:13] depeele commented on #110
Without access to the underlying request object, there is no way to directly consume the streaming response that will be generated when `follow=true` is specified (short of writing a custom, direct request as proposed by @borremosch).

Support could be added by updating/patching the code generated for `readNamespacedPodLog()` within the `return authenticationPromise.then()` block to something like

[2020-03-18 08:24] Bobgy opened #420 "[Feature Request] Functionality similar to `kubectl describe`"
I understand kubectl has quite some adhoc logic to support this.
It is very useful for debugging pods.

I'm thinking about exposing similar information for a management UI using kubernetes javascript client.
This can definitely get implemented by client code, but it would be cool as a builtin feature.

Similar ask before in https://github.com/kubernetes-client/javascript/issues/236

[2020-03-18 08:47] Bobgy commented on #420
I took a look, it's not hard to list all events related to a pod:
[code]
Events are the only extra information in `kubectl describe`, but not in `kubectl get pod`

[2020-03-19 04:57] brendandburns commented on #420
If you want to implement it as an addition to this library, we'd be happy for the PR.

[2020-03-19 07:01] Bobgy commented on #420
Thanks for the suggestion!
`listNamespacedEvent` is enough for my use case.

I think the next person which needs exactly `kubectl describe` can think about it.

[2020-03-19 07:01] #420 closed

[2020-03-19 15:16] davesargrad opened #421 "Trying to run generate behind corporate proxy"
I'm pretty sure the following failure is due to the fact that I am behind a corporate proxy.

![image](https://user-images.githubusercontent.com/48793689/77082758-ebe62a80-69d2-11ea-9927-49462293ade5.png)

The attempt to apt-get update and apt-get install is failing

I am not sure where I need to make a configuration update to get past my proxy. I have lots of experience dealing with proxies. It l

[2020-03-20 04:09] brendandburns commented on #421
The generate script is downloading this repo:

https://github.com/kubernetes-client/gen

And running this script:
https://github.com/kubernetes-client/gen/blob/master/openapi/typescript.sh

Which uses this Dockerfile:
https://github.com/kubernetes-client/gen/blob/master/openapi/openapi-generator/Dockerfile

So I think what you need to do is clone this repo
https://github.com/kubernetes-client/gen

[2020-03-20 11:11] davesargrad commented on #421
@brendanburns That does help. Thank you sir! I'll give it a try

[2020-03-20 11:23] davesargrad commented on #421
@brendandburns I've looked at the referenced scripts. Neither
`typescript.sh`
or
`Dockerfile`
referenced GEN_ROOT

Which script or application uses this environment? Also when you say

How exactly do you mean?

[2020-03-20 14:39] faxioman opened #422 "Watch parameter of listNamespacedCustomObject method"
Hi.
Is the watch parameter available in listNamespacedCustomObject method usable in someway?
I can't find any example and the promise returned by listNamespacedCustomObject method is never resolved when setting watch to true, even if I create/delete the custom resource item.

Thanks

[2020-03-20 16:04] brendandburns commented on #421
`GEN_ROOT` is used in the `generate-client.sh` script in this repo:

https://github.com/kubernetes-client/javascript/blob/master/generate-client.sh#L9

Sorry I wasn't clear.

[2020-03-20 16:06] brendandburns commented on #421
For clarity:

`npm run generate` calls `generate-client.sh` in this repo.
that script clones https://github.com/kubernetes-client/gen or uses a local version of that repo if `${GEN_ROOT}` is set.
then `${GEN_ROOT}/openapi/typescript.sh` is invoked
this in turn builds the docker image described by `${GEN_ROOT}/openapi/openapi-generator/Dockerfile`

[2020-03-20 16:14] davesargrad commented on #421
@brendanburns Ty Sir.. Makes Sense

[2020-03-23 04:14] brendandburns commented on #421
@davesargrad did you get this to work?

[2020-03-24 19:58] brandonc opened #423 "API client type (ApiType) could use more definition"
I'd like to set defaultHeaders on a generic client factory like this:

[code]

...but unfortunately k8s.ApiType is defined without defaultHeaders so this code contains a type error.

[code]

I believe it's true that all generated Api classes contain a getter for defaultHeaders and this field in particular is useful when configuring clients centrally.

(I'll be submitting a PR to accompany this iss

[2020-03-25 22:17] ryanclark commented on #367
@brendanburns sorry to bug you, have you got an ETA at all? If you're swamped, I can try and do the PR myself (if you could lend a little guidance that would be awesome).

[2020-03-26 09:37] panva commented on #360
It [does](https://github.com/panva/node-openid-client/tree/master/docs#customizing). Any valid `got` or stdlib http option such as `ca` can be added per request or by default to all requests. The thing is this package requires version 2.5.0 which is by all means and purposes legacy. I'd recommend using `^3.14.1` and in doing so setting this package's `engines.node` to `>= 10.13.0` to be in line wi

[2020-03-27 03:46] brendandburns commented on #360
@panva can you give a code sample of how to pass that through? The last time I looked at the code path I didn't see a way to pass that through from the OIDC client interface in the library.

[2020-03-27 08:33] panva commented on #360
@brendandburns i'm not sure what you're asking. How to pipe those options through kubernetes-client? I have no idea, i just maintain `openid-client` and noticed kubernetes-client still uses an outdated version. I noticed this issue and your comment about something not being possible on the client's level, that particular customization is 100% possible on the latest release.

[2020-04-02 15:56] brendandburns commented on #421
Closing this because I think it's sorted and non-response.

If you need more assistance, please use the `/reopen` command to reopen the issue.

[2020-04-02 15:56] #421 closed

[2020-04-07 10:41] MosaicThingsIoT opened #426 "How replicate "kubectl cp" in kubernetes client"

[2020-04-07 10:42] #426 closed

[2020-04-07 10:45] ShreyGargLTI opened #427 "How to replicate "kubectl cp" in kubernetes client"
I am trying to copy some files from a pod to local machine.
I am able to do so by " kubectl cp" command but unable to identify how to achieve the same via kubernetes client.

[2020-04-07 16:20] brendandburns commented on #427
`kubectl cp` isn't an API call. It is a `exec` of `tar -xvzf <foo>`

So if you use the exec per the example here:
https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/exec/exec-example.ts

You can implement the copy behavior.

If you get a good solution, we'd happily take a PR so others can re-use that code.

[2020-04-07 16:27] drubin commented on #427
Also, this is a duplicate of https://github.com/kubernetes-client/javascript/issues/124

Maybe we can reopen that and add a frozen lifecycle to it?

[2020-04-07 16:28] drubin commented on #124
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-04-07 19:50] brendandburns commented on #427
Closing this in favor of #124

[2020-04-07 19:50] #427 closed

[2020-04-09 22:25] brendandburns opened #428 "Add Github Actions"
Travis is disabled, we need CI/CD...

[2020-04-09 22:33] drubin commented on #428
I can look into this but I think i will need some sort of editor access to enable/test it?

But will start with a fork and see what I can do

[2020-04-09 23:05] brendandburns commented on #428
I think you can add it to your fork and test it there.

--brendan

________________________________
From: David Rubin <notifications@github.com>
Sent: Thursday, April 9, 2020 3:33:37 PM
To: kubernetes-client/javascript <javascript@noreply.github.com>
Cc: Brendan Burns <bburns@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [kubernetes-client/javascript] Add Github Actions (#428)

I

[2020-04-09 23:31] brendandburns commented on #423
Closing since #424 merged

[2020-04-09 23:31] #423 closed

[2020-04-13 09:17] roderik opened #429 "exec_auth token caching does not work"
I have several EKS clusters I want to access using the nodejs client. Weirdly enough, the first cluster I access works, all subsequent clusters do not.

Digging into the code I found the following line:

https://github.com/kubernetes-client/javascript/blob/master/src/exec_auth.ts#L71

And when console logging, I found `user.name` to be 'undefined'. Which causes the fist call to fetch the token fro

[2020-04-13 16:18] brendandburns commented on #429
Ah, good catch! I will add a better unit test for this and fix.

[2020-04-15 09:55] gautaz opened #430 "Accessing a Rancher cluster fails with "unable to get issuer certificate""
Hello,

This is very similar to #327 but the infrastructure used is public and the certificate is not self signed.

I am using the following piece of code:

[code]

This fails this way:

[code]

But succeeds if `insecure-skip-tls-verify: true` is added to the `kubeconfig.yaml` file.

The `kubeconfig.yaml` file comes directly from the Rancher UI and works well with `kubectl`.

Any idea how I can di

[2020-04-16 17:37] brendandburns commented on #430
Can you send the contents of your kubeconfig file (with personal information removed/obfuscated)

Somehow the certificate authority isn't getting loaded correctly (I think)

[2020-04-16 17:38] brendandburns commented on #428
@drubin did you make progress on this? If not I think I'm going to take this on, since I want to re-activate the CI/CD.

[2020-04-17 07:40] drubin commented on #428
@brendandburns Sorry no I haven't yet.  I was looking for some spare time but its been hard.

Please go ahead and I can review/help it if needed.

[2020-04-17 07:41] #429 closed

[2020-04-17 13:09] simhnna opened #432 "Create a new release"
I'd greatly appreciate a new relase.

I'm mainly interested in having https://github.com/kubernetes-client/javascript/pull/418 relased which fixes https://github.com/kubernetes-client/javascript/issues/336

[2020-04-17 22:18] brendandburns commented on #432
I'll see what I can do this weekend.

[2020-04-20 22:25] brendandburns commented on #428
Closing since #433 and #434 have merged.

[2020-04-20 22:25] #428 closed

[2020-04-20 23:45] dobesv opened #435 "Implement port-forwarding to a Service or Deployment"
Currently port forwarding is linked to a specific pod.  However, often what you really want to connect to is a service, so if pods are restarted or removed your port forward continues to function.

[2020-04-21 04:23] brendandburns commented on #435
The implementation of port forwarding for a service in `kubectl` simply chooses a pod from that Service's label selector and then port forwards to that pod.

You can implement this using the client by getting the service, getting pods that match the service's selector and then port-forwarding to one of the pods.

If you do implement that feel free to send a PR, we'd gladly take the contribution.

[2020-04-21 05:38] dobesv commented on #435
Sorry, this wasn't a question, it was a feature request.  Are those supposed to be file somewhere else?

[2020-04-21 16:14] brendandburns commented on #435
Thanks for the clarification. We'll keep this as a todo. To set expectations, I'm not sure when someone will have cycles to take it on, especially since it's possible to do this today with the existing client.

If you have time to implement it, we'd gladly take a PR.

[2020-04-21 16:57] dobesv commented on #435
@brendanburns Thanks.  I'll see whether I have time to work on it.  I guess to do it using the client as it is now you would just have to replicate a bunch of code from the port-forward code yourself but change it to automatically select a pod on each connection.

[2020-04-22 16:49] brendandburns commented on #435
Just to be clear, the `kubectl port-forward` implementation just chooses a single pod at the start and only forwards to that one pod, it doesn't choose a pod for every connection. I think our implementation should probably be consistent with that, though I don't feel super strongly.

[2020-04-22 16:52] dobesv commented on #435
Yes, you are right.  Actually looking into this more I see that the kubernetes API for port-forward doesn't support services (yet?), so there's nothing much to be done here until they add that support.

[2020-04-22 16:52] #435 closed

[2020-04-22 16:57] dobesv commented on #435
See also

https://github.com/kubernetes/kubernetes/issues/15180
https://github.com/kubernetes/kubernetes/pull/59705

[2020-04-22 22:17] brendandburns commented on #422
Sorry for the delay in responding here. Are you looking to do a watch? That code is different than the main client, see the code here:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/watch/watch-example.ts

[2020-04-23 14:21] gautaz commented on #430
@brendanburns Sorry for answering so lately, I have been a bit too busy these last days.

Here is the kubeconfig file used:

[code]

Hope you'll find something...

[2020-04-23 18:01] brendandburns commented on #430
I'll try to load up this certificate authority and see if there are any obvious errors.

[2020-04-25 14:53] MartinRoss-IBM opened #438 "Support for apiextensions.k8s.io/v1"
In Kubernetes v1.16 the apiextensions.k8s.io/v1beta1 is being marked as deprecated and due to be removed in Kubernetes v1.19:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals

Also, in Kubernetes v1.16 the The CustomResourceDefinition API type was promoted to apiextensions.k8s.io/v1:
https://github.com/kubernetes/kubernetes/blob/master/CHAN

[2020-04-26 03:03] brendandburns commented on #438
Yeah, we need to regenerate. Last time I regenerated there were some issues, but I'll try again.

[2020-04-30 12:50] SeanM96 opened #440 "Recieving Status Code 415: Unsupported Media Type when calling patchNamespacedIngress"
I am trying to update an existing ingress with new parameters using the above mentioned method. Everytime I call it though, I hit line 758 in networkingV1beta1Api.js. I am calling the method with the ingress name, namespace,  config and pretty print.

`k8sIngressApi.patchNamespacedIngress('myingressname', 'myingressnamespace, config, true).then(result => {
        return console.log(JSON.stringify

[2020-05-01 02:30] brendandburns commented on #440
The content type is likely not correct. you need it to be something like `application/merge-patch+json`

[2020-05-01 08:34] #440 closed

[2020-05-01 08:35] SeanM96 commented on #440
Applied custom headers to the options parameter of { 'content-type': 'application/strategic-merge-patch+json' };

[2020-05-01 18:58] NolanChan opened #441 "Calling `close` on exec web socket does not kill corresponding process"
Hi!

I've currently got some code running as such:

[code]

When calling `ws.close()`, the websocket is properly closed but the corresponding `bash` process is not killed on the container. When I use `kubectl exec '/bin/bash'` and exit using `CTRL+D`, the process is properly killed on the container.

Is the expected behavior to not kill the process? It seems that in the [corresponding issue in the

[2020-05-03 04:36] brendandburns commented on #441
Hrm, I think the issue is that bash doesn't see `stdin` as having closed, but I'm not sure why that doesn't happen if you close the websocket.

This may be differences between the SPDY implementation that Kubectl uses and the WebSockets implementation that we use.

I will try to explore if I have time, if you find anything more please add it to the issue.

[2020-05-03 04:37] brendandburns commented on #441
fwiw, when you hit `ctrl-d` I think it actually sends the `ctrl-d` to the process in the container. Have you tried writing the `ctrl-d` character into the `stdin` stream?

[2020-05-04 15:21] SaschaHeyer opened #442 "createNamespacedDeployment"
Hi Folks,

is there support to do such simple things like create deployments?
Similar like in the Python library https://github.com/kubernetes-client/python/blob/master/examples/deployment_create.py

Best regards
Sascha

[2020-05-04 20:11] SaschaHeyer commented on #442
solved

[2020-05-04 20:11] #442 closed

[2020-05-05 18:41] NolanChan commented on #441
I just tried using `ctrl-d` into the process and it was killed properly. As an intermediate solution, I'm now sending the `ctrl-d` command into the process when the user closes the shell page.

[2020-05-05 20:41] SaschaHeyer opened #443 "UnsupportedMediaType when patching ingress"
Hi

when patching a ingress we get the following error message

[code]

Kubernetes Version: 1.14.10-gke.27

[2020-05-06 04:40] rivernews opened #444 "Possible typing mistake in class `V1HTTPGetAction`"
The typing of `port` seems to be incorrect:

[code]

As you can see, the `port` type is `object`. However, the comments in the class is indicating it should be a Name or number.

When I look at the [Kubernetes documentation](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes), it seems that `port` are provided by either a str

[2020-05-06 23:38] brendandburns commented on #444
This is a duplicate of #370, I've been trying to figure out what happened, there's something in the representation of an IntOrString in the swagger spec that doesn't work right with the code generator.

[2020-05-06 23:38] brendandburns commented on #444
Closing as duplicate

[2020-05-06 23:38] #444 closed

[2020-05-06 23:40] brendandburns commented on #443
This is almost certainly because the `Content-type` header is set to `application/json` instead of `application/strategic-merge-patch+json` or something similar.

See #440 which discussed the same issue.

[2020-05-06 23:42] brendandburns commented on #441
I think that's actually the right thing to do. I'm going to close this issue since I think sending `ctrl-d` is the right solution. Please use the `/reopen` command if you need further assistance.

[2020-05-06 23:42] #441 closed

[2020-05-08 22:23] rivernews commented on #370
Hi, coming from #444 and #413, which both seems that `object` typing is used for `port` property. In my case this prevents me from getting `tsc` transpile Typescript successfully which would stop the entire project.

@brendanburns I think I have some bandwidths to dig into this and possibly create a PR, but can you provide a bit more info? For example, how swag spec is affecting the typings for Ty

[2020-05-11 21:27] ddgenome commented on #375
I did not include a generic list or watch for the initial PR. List didn't seem to make sense, since if you have a spec, you'd read not list. As this was already delayed several months due to availability, I did not want to further delay it figuring out how to do a generic watch.

[2020-05-12 12:07] entropitor opened #447 "Unhandled promise exception with list error after a watch restart can break the informer watch"
If kubernetes API is down, e.g. for an upgrade to a newer version, the watch will break and the list command will fail.

1. List command runs and returns success
2. Watch command runs and is listening
3. After a while, the watch fails and restarts calling [doneHandler](https://github.com/kubernetes-client/javascript/blob/master/src/cache.ts#L71)
4. In the doneHandler the list fails, this error is

[2020-05-12 13:12] ddgenome commented on #375
/remove-lifecycle stale

[2020-05-13 15:15] Olympuus opened #448 "Using with GKE"
I've successful created a little test to create a pod in the default namespace, locally it works fine, it creates the pod. But when i test it in a GKE cluster i receive "HttpError: HTTP request failed".

Here is my code:
[code]

[2020-05-14 05:26] brendandburns commented on #448
We need more details to debug. Does kubectl work in the same environment? are there more details in the error object? What is the content of your $HOME/.kube/config file?

[2020-05-14 05:27] brendandburns commented on #443
Closing this issue since I believe the question is answered. If you still have problems, please place them in #440

[2020-05-14 05:27] #443 closed

[2020-05-14 06:43] saxicek commented on #443
It would be good to include full patch example in `examples` directory. I also got the same issue. My fixed code looks like:
[code]

[2020-05-14 11:36] Morriz opened #449 "typescript examples are actually javascript examples"
Hi, thanks for this library first of all. I have one suggestion though:

Please add typescrip features to your examples, as they are now plain ecmascript mostly.

Most important feature that I am after: return type for `makeApiClient`, so that we get autocompletion in our editors.

[2020-05-14 13:57] laidinidis commented on #296
But how we can do this `kubectl delete pods,services -l name=myLabel` ?
(from https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#delete)

[2020-05-14 14:29] Olympuus commented on #448
Yes, kubectl works in the same enviroment and that error information is the only thing i get. Here is the contents of $HOME/.kube/config:

[code]

I deleted the certificate-authority-data and token here, because i don't know if that should be shown publicly.

[2020-05-14 15:07] brendandburns opened #450 "Add an example of how to use patch."
See https://github.com/kubernetes-client/javascript/issues/443#issuecomment-628423914

[2020-05-14 15:07] brendandburns commented on #443
We would happily take a PR adding a complete patch example to the examples directory.

I filed: https://github.com/kubernetes-client/javascript/issues/450

To track this, @saxicek if you have the time to create a PR that would be awesome!

[2020-05-15 08:50] Morriz opened #451 "exportConfig: context has extraneous 'name'"
When `exportConfig` is used, I see this:
[code]
A k8s config not also have the name in the exported context

[2020-05-17 04:19] brendandburns commented on #449
Happy to have PRs to improve the examples if you'd like to contribute.

[2020-05-17 04:20] brendandburns commented on #451
is this causing problems?

[2020-05-18 22:24] brendandburns commented on #451
(I ask so that I can proritize fixing it properly)

[2020-05-18 22:25] #375 closed

[2020-05-18 22:25] brendandburns commented on #448
Instead of `console.log(`Error: ${err}` which will call `toString()` can you log `console.log(err)` which should print the entire object. I think there are likely more details in that object like the HTTP response code.

[2020-05-18 22:26] brendandburns commented on #447
Acknowledging the issue. Will work on a repro/test and a fix. Thanks for the report.

[2020-05-18 22:27] brendandburns commented on #438
#445 just merged, I will cut a new release to npm soon.

[2020-05-19 17:23] brendandburns commented on #438
I just pushed release `0.12.0` which includes code for `1.18.x` so I'm closing this issue.

[2020-05-19 17:23] #438 closed

[2020-05-19 17:32] MartinRoss-IBM commented on #438
Thank you @brendandburns

[2020-05-19 20:16] Olympuus commented on #448
I've figured it out, i was getting a forbidden message after doing what you told me to do, and i find out that i had to create a role inside my GKE cluster. Here is my Role and RoleBinding files that i created for testing that allows the creation of pods:

[code]

[code]

[2020-05-19 20:17] #448 closed

[2020-05-20 10:20] d-cs commented on #165
I am actively exploring this. I am looking at it from the perspective of creating a new client, but reusing as much of what already exists as possible.

The first question we need to address is how to approach authentication.

Bearer token authentication in the browser is easy, however this is not how most commonly deployed Kubernetes clusters are configured to authenticate. Client certificate is

[2020-05-20 23:25] brendandburns commented on #165
I would prefer to disable exec authentication in the browser-based scenario.

In general, browser based authentication to a Kubernetes cluster mostly doesn't work because most Kubernetes clusters use their own certificate authority rather than a well-known certificate authority.

Unlike a client application, it is very, very hard (not to mention pretty insecure) to load a custom certificate author

[2020-05-21 19:27] mtiller opened #453 "Port Forwarding to Services"
In `kubectl`, it is possible to specify port forwarding to a Deployment or a Service, not just to a Pod.  This isn't just extremely useful, but it really should be the norm given the reasons for Deployment and Service resources existing in the first place.

As far as I can tell, the `PortForward` implementation in `@kubernetes/client-node` is exclusively for Pods.  Is there a particular reason for

[2020-05-22 15:46] brendandburns commented on #453
This is a duplicate of https://github.com/kubernetes-client/javascript/issues/435

Please see the discussion there. The tl;dr; is that port-forwarding to a service is semantic sugar in kubectl that really just port-forwards to a single pod that implements that service.

We're open to someone adding similar code to this client library if they want to send a PR.

[2020-05-23 03:41] woosley opened #454 "where can I find all the function definition for k8sAPI?"
when I search "listNamespacedPod", the result I got are all in examples, where is this function defined? so I can also find other functions available.

For example, currently I want to know how to list all pods in a cluster.

[2020-05-24 03:07] stavalfi opened #455 "Where can we share libraries that built suign this one?"
Hi :)

Pretty cool library! thanks!

Is there a way to have reference to my project (https://github.com/stavalfi/k8test)?

[2020-05-25 15:00] Morriz commented on #449
Hi @brendanburns, I am not sure how to add typing to makeApiClient. I would expect it to be generated somewhere by your tooling.  I would be very useful to have for autocompletion.

[2020-05-25 17:12] Morriz commented on #440
Why is this not inferred?

[2020-05-27 05:38] woosley commented on #454
ah, I find it in https://raw.githubusercontent.com/kubernetes-client/javascript/master/src/gen/api/coreV1Api.ts. I think the main reason is the file is too big for GitHub to index it.

[2020-05-27 09:22] thearegee opened #456 "Getting all namespaces from custom resources"
Hello,

I might just be missing something obvious, I want to get custom resources - specifically virtualservices from istio.

With `kubectl` I can do that with the following:
`kubectl get virtualservices --all-namespaces -v=8`

which results in a `GET` for the following path `/apis/networking.istio.io/v1beta1/virtualservices?limit=500` and the expected services are listed.

in Go I can do somethin

[2020-05-27 15:05] cdever opened #457 "Unexpected escaped HTML entities in documentation generated via typedoc"
In the documentation generated via typedoc, the HTML entities (e.g. single quote `&#39;` and double quotes `&quot;`) are not decoded.

For instance,
<img width="795" alt="typedoc-cliend-node_escaped" src="https://user-images.githubusercontent.com/21110012/83035482-1a841f80-a06c-11ea-8294-362748275436.png">

was generated from this typedoc block:
(https://github.com/kubernetes-client/javascript/blo

[2020-05-27 15:46] thearegee commented on #456
As suspected, there was an obvious solution, which can be found here:
https://github.com/kubernetes-client/javascript/blob/e150480eb4bd440564d287a0464495df11cc8539/src/gen/api/customObjectsApi.ts#L1365

[2020-05-27 15:46] #456 closed

[2020-05-29 18:23] brendandburns opened #458 "Support BOOKMARK in Watch"
See:
https://github.com/kubernetes-client/java/pull/963

[2020-05-29 18:28] brendandburns commented on #453
Closing this issue since it's a duplicate.

[2020-05-29 18:28] #453 closed

[2020-05-29 18:30] brendandburns commented on #457
This is probably a bug in the openapi code generator: https://github.com/OpenAPITools/openapi-generator

If there is to be a fix, it should be fixed there, but I'm not sure it's worth fixing.

[2020-05-29 18:31] brendandburns commented on #455
I'm glad it's useful! There are currently no plans to reference other projects using the library..

[2020-05-29 18:31] #455 closed

[2020-05-30 22:22] pyrho commented on #367
@garyo I haven't used it myself yet, but can't you already create jobs using the following code ?
[code]

[2020-06-02 04:46] cdever commented on #457
I had an experiment. I tried to remove the backslashes at those HTML entities, like below
[code]
The generated doc is then able to show the actual quotes characters.

Wonder what was the intension to have those backslashes added in the typedoc. Should we consider removing them?

[2020-06-04 08:52] runi95 opened #459 "PortForward crashes"
I'm using port forward to forward HTTP requests to a REST service sitting in a test cluster. The below code snippet is how I'm connecting to the pod

[code]

This websocket connection breaks after a while and gives me the following error

[code]

The above error refers to this line in source code https://github.com/kubernetes-client/javascript/blob/master/src/portforward.ts#L63

However if I use `

[2020-06-04 23:07] brendandburns commented on #459
This library uses web sockets instead of SPDY, I suspect that there are differences in how something in the network is handling the web sockets connection. Are there any network proxies in the middle?

Also are you running websockets over the port-forward (e.g. nested web-sockets) I could imagine that could cause problems.

[2020-06-04 23:13] brendandburns commented on #457
I filed a bug on the generator:

https://github.com/OpenAPITools/openapi-generator/issues/6552

And I'm going to close this issue.

[2020-06-04 23:13] #457 closed

[2020-06-05 10:37] #458 closed

[2020-06-08 00:42] porter-dev opened #461 "LimitRange with default limit isn't written"
When trying to create a LimitRange within a namespace via `k8s.CoreV1Api.createNamespacedLimitRange`, the `spec.limits[0].default` parameter does not work, while other parameters such as `spec.limits[0].defaultRequest` do work.

**How to reproduce:**

[code]

The output of `kubectl describe test-limit-range -n test` is then:

[code]

However, it should be:

[code]

**Additional Information:**

Whe

[2020-06-08 04:40] brendandburns commented on #461
I'll try to reproduce, but you might check the JSON returned when you do a GET on the limit range created by kubectl. Kubectl has some built-in defaulting that may be modifying the JSON before it gets sent to the API server. It's also possible that this has something to do with the serialization/deserialization of a quantity value not working correctly in this library.

[2020-06-08 13:01] runi95 commented on #459
There are no network proxies in the middle.

[2020-06-09 13:05] chadbr commented on #414
/remove-lifecycle stale

[2020-06-09 20:41] boocup opened #463 "Issue similar to Kubernetes Exec WebSocket not sending data"
Hi,

I have an issue very similar to this issue.

#229   **Kubernetes Exec WebSocket not sending data**

I am trying to send a follow-up command to exec after the initial command (which works fine and is sent to stdout).

I tried to follow the suggestions in issue #229, but I am not seeing any output after the write.

[code]

In the console, I see....

[code]

Should I expect the results of the 'l

[2020-06-11 19:49] #377 closed

[2020-06-11 20:12] boocup commented on #463
found a work-around

[2020-06-11 20:12] #463 closed

[2020-06-12 20:31] stavalfi opened #464 "How to use k8s api from within a pod?"
I need to access k8s api from within a pod. I'm running the pod in a new namespace that I created:
`k8test`.

when using this library, I get an error inside the container:

[code]

code:

[code]

is this feature supported? if yes, how?

--------------

I have seen this: https://stackoverflow.com/questions/47973570/kubernetes-log-user-systemserviceaccountdefaultdefault-cannot-get-services but this

[2020-06-12 21:21] stavalfi commented on #464
using `kc.loadFromCluster()` fixed it.

[2020-06-13 02:38] mochja opened #465 "Status callback for exec is never called when stdin closes"
Is it possible to close stdin for Exec without [closing ws](https://github.com/kubernetes-client/javascript/blob/932c2fbc34db954c6ed397b3cd9ead08b2ff1d10/src/web-socket-handler.ts#L69) connection?

[StatusStream](https://github.com/kubernetes-client/javascript/blob/932c2fbc34db954c6ed397b3cd9ead08b2ff1d10/src/web-socket-handler.ts#L37) is not received if WS connection is closed as well as addition

[2020-06-13 23:40] brendandburns commented on #464
Your account is failing RBAC, just as in that stack overflow article that you mentioned.

You need to grant more access to the service account that your pod is using.

See the details here: https://kubernetes.io/docs/reference/access-authn-authz/rbac/#service-account-permissions

[2020-06-13 23:42] brendandburns commented on #465
You could try sending an explicit `control-D` character across the stream. That should close the stream in the application.

[2020-06-14 16:16] mochja commented on #465
@brendandburns neat, that does work indeed, but only when tty is also attached.

With tty I am not able to put binary data into stdin.

[code]

[2020-06-14 16:35] stavalfi commented on #464
thanks.

[2020-06-14 16:35] #464 closed

[2020-06-17 02:01] jschluchter commented on #414
Not sure what the movement is here, but can I suggest `got` https://www.npmjs.com/package/got

[2020-06-17 09:10] eliecharra commented on #402
@mtiller Did you finally manage to find a solution for informer in jest context ?

[2020-06-17 22:00] brendandburns commented on #465
Makes sense ctrl-d is a terminal character after all.

This error is coming from the tar command itself. I'm not sure why that's happening, but I don't think it's related to this library.

[2020-06-17 22:05] mochja commented on #465
@brendandburns you are correct it will be related to tty itself, but the fact with result is as `kubectl exec` is not behaving like that when stdin is closed. I was digging into `kubectl exec` and I figured out it's using SPDY and multiple streams for different io instead of single websocket connection.

I think issue could be solved with #411 or maybe there is way for ws protocol to close streams

[2020-06-19 05:43] davidsmf opened #466 "Incorrect type for V1HTTPGetAction-> port"
[code]
Upstream this is defined as:
[code]
and in turn `IntOrString` is

[code]
Unfortunately it looks like neither a `Number` or a `string` are valid for something of type `object` in Typescript.

Is this the right place to report this?

[2020-06-19 21:23] mtiller commented on #402
Looking back, it appears I didn't figure anything out.  It seems I'd have to create my own informer implementation.  I think it could definitely be done.  The way the current informer restarts itself after connections are lost might make it tricky.  But I'm pretty confident it could be done.  I just haven't returned to that aspect of things.  If I do get back to it, I'll try and create something.

[2020-06-19 22:59] brendandburns commented on #465
I'm obviously not certain, but I think `tar` is giving up before stdin is even considered. I'm uncertain about the difference between `tar xf - ...` vs `tar -x -f -` but you may be since that is referenced in the error message.

[2020-06-19 23:01] brendandburns commented on #466
Yeah, this is a duplicate of #370, there's some weird interaction between the Kubernetes swagger/open api and the code generator. I haven't been able to debug it properly.

Closing since this is a duplicate.

[2020-06-19 23:01] #466 closed

[2020-06-19 23:16] mochja commented on #465
It does not matter what executable I try to run, even cat breaks up in similiar manner as if you try to paste binary data trough regular terminal. I believe I would have to somehow escape the data so the terminal could recognize 0x04 as a byte and as a ctrl-d. I am not sure if thats possible (I was not able to find anything about that), but could also solve the issue.

[2020-06-22 04:52] #395 closed

[2020-06-23 01:16] aaomidi commented on #442
@SaschaHeyer What was the code path for this with this library? I'm stuck on the same issue.

[2020-06-23 20:50] JayeshThamke commented on #321
Small addition, it works even though KUBECONFIG env variable is set with kubeconfig path.

[2020-06-24 08:31] alexmojo opened #467 "V1HTTPGetAction.Port type is object"
At this moment V1HTTPGetAction.Port type is ```object```:
https://github.com/kubernetes-client/javascript/blob/master/src/gen/model/v1HTTPGetAction.ts#L35
Is this right? Shoudn't is be ```string | number```?

[2020-06-24 13:29] d-cs commented on #414
@jschluchter GOT looks nice but unfortunately doesn't have a openapi client generator.

[2020-06-24 13:48] brendandburns commented on #467
This is a duplicate of #370, closing in favor of that issue.

tl;dr; you're right, there's something weird with the Kubernetes OpenAPI spec, IntOrStrings and the generator, haven't been able to figure out the problem.

[2020-06-24 13:48] #467 closed

[2020-06-24 14:14] d-cs commented on #414
I am currently exploring how to resolve https://github.com/kubernetes-client/javascript/issues/165 it looks like the decision made here could impact that.

To choose a library to make the HTTP calls we need to choose one of the following:

- typescript-angular
- typescript-aurelia
- typescript-axios
- typescript-fetch
- typescript-inversify
- typescript-jquery
- typescript-node
- typescript-redux-

[2020-06-24 14:26] drubin commented on #414
Wow thanks for the detailed write-up @d-cs

Just to give my 2 cents on a preference basis. I prefer `got` personally, but I think `axios` would be better fit for this project. if we care about the size we should think about using `node-fetch`

Regarding the browser support, I think they should be tackled separately but still taking into account this fact.

[2020-06-24 14:56] d-cs commented on #414
@drubin not a problem 😄 , I don't want us to get weighed down with deciding which direction to go. I think it's important to get this fixed sooner rather than later.

I agree with your comment about browser support, I was tinkering and found that a lot of features could be included for frontend using webpack.

Another thought around `fetch`/`node-fetch` - what about something like https://github.c

[2020-06-25 06:03] #399 closed

[2020-06-26 07:21] sureshkallem opened #468 "Security Scanning failing due hard-coded Credentials in config.js"
We ran a security scan to identify the vulnerabilities and identified the 4 issues related to hard-coded credentials.
1. /client-node/dist/config.js 121
2. /dist/config_test.js
3. /dist/config_test.js 432 8/3/20
4. /dist/config_test.js 441 8/3/20

Can we resolve those issues?

[2020-06-26 08:59] drubin commented on #468
HI @sureshkallem

Thanks for the report, what tool did you use to scan the package so we can try to reproduce the exact issues?

I am assuming you are testing the npm package and not the source?

`config_test` files are test files, this is pretty standard as we need to write unit tests, we can however exclude them from the final npm package which should be the case.

Regarding `config.js` I did a

[2020-06-26 14:17] tettusud commented on #110
Any one has solution for it?

[2020-06-27 05:41] brendandburns commented on #468
I'm wondering about your scanning of the `js` files also. Those files are generated by the typescript compiler, probably the right thing to do is to scan the `ts` files, not the `js` files.

But definitely anything in unit test files should be excluded since the credentials are both bogus, and also used for testing purposes so they're needed.

As @drubin says more details about the problem and how

[2020-06-28 07:16] brandonkal commented on #165
A mostly browser-compatible version would be appreciated to use in the [Deno](https://deno.land/) runtime server-side.

[2020-07-01 12:08] danquah commented on #450
Just to make sure I understand this before looking into doing an example.

Lets take the example from https://github.com/kubernetes-client/javascript/issues/443#issuecomment-628423914
[code]

The problems boils down to this (again, as I understand it).
- The generated openapi client code does not explicitly set a Content-Type for the PATCH request
- The client code _does_ set `json: true` causing

[2020-07-04 22:00] Nashluffy opened #469 "Tabular output instead of JSON"
Curious if there is a way to force tabular response instead of the JSON response. I've tried the following
[code]
with hopes that it would return in the tabular format. I got the idea from [Kubernetes API Concepts](https://kubernetes.io/docs/reference/using-api/api-concepts/#receiving-resources-as-tables) which shows the above. I've also tried setting the `Accept` header to `application/json;as=Ta

[2020-07-04 22:11] Nashluffy commented on #469
And upon looking, the headers aren't actually set
[code]
yet passed in the path...
[code]

[2020-07-05 00:24] Nashluffy commented on #469
I was able to get the expected result in Postman... Although, it wasn't quite what I was looking for. Unless this client has a way to convert from tabular format to kubectl-ish style format...
<img width="1321" alt="Screen Shot 2020-07-04 at 8 22 55 PM" src="https://user-images.githubusercontent.com/11613073/86523025-4e552080-be34-11ea-89ea-d1e5f74e613a.png">

I'll close this for now as I have no

[2020-07-05 00:24] #469 closed

[2020-07-06 06:02] lakshmanpasala opened #470 "kubectl apply equivalent"
Is there a `kubectl apply -f file.yaml` equivalent for this client?

[2020-07-06 16:36] brendandburns commented on #470
`kubectl apply -f file.yaml` operates on the client side. There is experimental server-side apply that you can access by using the `patch*` set of API calls and a content-type of `apply-patch+yaml`

But if what you really want to do is just replace the content (rather than tracking changes like apply does) then you can just use the `replace*` set of API calls (e.g. `CoreV1.replaceNamespacedPod(...

[2020-07-06 22:21] yiyigit opened #471 "Specify pods on different worker node"
Is there a way to list pods that are on a specific worker node by providing a nodename?

[2020-07-07 05:49] hzy46 opened #472 "Cannot find `deleteNamespacedCustomObject`"
Hi Team, I'm using "@kubernetes/client-node" to delete a single custom object.

However, in https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/customObjectsApi.ts, I cannot find a function like `deleteNamespacedCustomObject`. Only `deleteCollectionNamespacedCustomObject` is provided. Is this a bug or a designed feature?

[2020-07-07 16:42] brendandburns commented on #471
Yes, you should be able to use the `fieldSelector` parameter for `listNamespacedPods(...)` with the value `spec.nodename=some-node-name`

[2020-07-07 16:42] #471 closed

[2020-07-07 16:45] brendandburns commented on #472
This was fixed here:
https://github.com/kubernetes-client/gen/pull/157/files

We need to regenerate the code and perform a new release. I will try to get this done soon.

[2020-07-07 16:46] brendandburns commented on #468
Closing this due to no response. Please use the `/reopen` command if you need further assistance.

[2020-07-07 16:46] #468 closed

[2020-07-07 17:03] yiyigit commented on #471
Hi I am not really understanding how to use the parameter so I tried with
listNamespacedPod(
        "default",
        undefined,
        undefined,
        undefined,
        `spec.nodename = ${nodeName}`
      )
and get a httpError. Am i implementing this function right?

[2020-07-07 18:01] yiyigit opened #473 "cannot assign value to fieldSelector in listNamespacedPod()"
I was trying to assign value to fieldSelector but got HttpError: HTTP request failed.
[code]

[2020-07-08 06:12] hzy46 commented on #472
Thanks!

[2020-07-08 07:41] sureshkallem commented on #468
Hi,
Thanks for your email.

We are using veracode for scanning and we are getting the errors in
config.test.js file.

Thanks,
Suresh Kallem

On Fri, Jun 26, 2020 at 2:29 PM David Rubin <notifications@github.com>
wrote:

[2020-07-08 17:31] brendandburns commented on #473
What was the HTTP error? please provide the body of the response.

fwiw, it might be that it should be `spec.nodename=${nodeName}` (no spaces anywhere)

[2020-07-14 09:30] #411 closed

[2020-07-14 16:12] phantomlsh opened #475 "How to scale?"
Can you provide a simple example of scaling deployments?

[2020-07-14 17:59] brendandburns commented on #475
You need to use `getNamespacedDeployment(...)` to get the Deployment object, then update the number of replicas in the spec, then use `replaceNamespacedDeployment(...)` to update it in the API.

There's no code example of this right now, but we'd be happy to take a PR adding one.

[2020-07-14 18:50] phantomlsh commented on #475
@brendandburns

I use `const k8sApi = kc.makeApiClient(k8s.AppsV1Api);` cause the deployment itself is applied with apiVerision `apps/v1`

But it turns out that
[code]

[2020-07-14 18:54] phantomlsh commented on #475
Oh ok, I figure out that it is `listNamespacedDeployment()` with `k8s.CoreV1Api`

[2020-07-14 22:56] nicholascapo commented on #349
I am seeing the same problem with `V1RollingUpdateDaemonSet.maxUnavailable` [0]
Neither `string` nor `number` are assignable to `object`.

[0] https://github.com/kubernetes-client/javascript/blob/932c2fbc34db954c6ed397b3cd9ead08b2ff1d10/src/gen/model/v1RollingUpdateDaemonSet.ts#L22

[2020-07-14 23:24] brendandburns commented on #475
Sorry, I should have said `readNamespacedDeployment(...)` instead of `getNamespacedDeployment(...)`

Listing works too, but you can use `read` if you only need to get one of them.

Closing since I think the question is answered, feel free to use the `/reopen` command or open a new issue if you need further assistance.

[2020-07-14 23:24] #475 closed

[2020-07-15 04:15] rdiaz82 commented on #470
I'm using this example for it: [https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/apply/apply-example.ts](https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/apply/apply-example.ts) and it works pretty smooth

[2020-07-15 06:31] lakshmanpasala commented on #470
Yeah, found this to work well. Also, I use kubectl verbose `--v=8` to see HTTP requests for our custom resource definitions and make respective changes.

[2020-07-15 21:08] brendandburns commented on #470
I'm going to close this issue since I think it is resolved. Please use `/reopen` if more assistance is needed.

[2020-07-15 21:08] #470 closed

[2020-07-16 15:22] brendandburns commented on #473
Closing this issue due to no response. Please use the `/reopen` command if you need further assistance.

[2020-07-16 15:22] #473 closed

[2020-07-19 07:06] saxicek commented on #450
@danquah Exactly. That is why I asked for the example - client code does not work out of the box, optional parameter which specifies content-type must be included. In my opinion it is fine to force developers to specify this explicitly - in my case it lead me to study various merge types in Kubernetes (https://www.disasterproject.com/kubernetes-kubectl-patching/). But it should be documented.

[2020-07-19 15:54] ninja- commented on #472
is there a workaround ://

[2020-07-19 21:07] ddgenome commented on #472
Use the he `KubernetesObjectApi` delete method https://github.com/kubernetes-client/javascript/blob/a93f9c6ffa41b7b80092d3ac787f8b07a30c6847/src/object.ts#L118-L202

[2020-07-19 21:39] #402 closed

[2020-07-21 00:25] startoday opened #478 "Exec.exec() timeout after 5mins waiting"
Problem description:
I spin up a pod and run this containerExec.exec() function to exec the shell from my standard input and output in the container.
It runs and response normally, but if I stop typing any cmds, after five minutes, the console terminal only have the # but not able to response to any cmd(after typing the cmds, the terminal has no response). No error code /response is returned to in

[2020-07-21 00:35] startoday opened #479 "Exec.exec("/bin/sh") not able to tab autofill typing in containers"
After my pod is running, I run Exec.exec() function to open a shell of the container. It is able to see the files and folders and response to the cmd like "ls, cd, mkdir"
However, when I try to tab to autofill the long name file/folder just as normal terminal, it won't able to do that, instead, it is a normal tab for 2/4 spaces.
run kubectl exec --stdin --tty containerName -- /bin/sh. is able to d

[2020-07-21 11:19] ninja- commented on #472
@ddgenome I went with `deleteCollectionNamespacedCustomObject_2`

[2020-07-23 05:21] brendandburns commented on #478
Do you have any proxies in between? Many network proxies time out connections after a period of time.

[2020-07-23 05:22] brendandburns commented on #479
Tab complete is usually a feature of `bash` not `sh`

Regardless, I don't think there's anything in the client code that could be causing this.

[2020-07-23 18:00] startoday commented on #479
nice! it is the problem, since alpine didn't have the sh, I didn't notice it! Thanks a lot! it works!

[2020-07-23 18:00] #479 closed

[2020-07-23 22:18] startoday commented on #478
yes, I am, digging into it now... thanks!

[2020-07-23 22:18] #478 closed

[2020-07-24 20:26] pratik11jain opened #481 "[High Security Vulnerability] https://snyk.io/vuln/SNYK-JS-AJV-584908"
dependancy ajv is used by @kubernetes/client-node > request > har-validator > ajv

As per https://snyk.io/vuln/SNYK-JS-AJV-584908 'ajv' has a high security vulnerability and the version should be updated

[2020-07-25 16:03] protzi commented on #367
`(node:1) UnhandledPromiseRejectionWarning: TypeError: k8sApi.createNamespacedJob is not a function`

[2020-07-26 03:24] vip30 commented on #124
I am trying to working on this and doing some POC
but just find that the content is not completed (Ouput truncated) after extracted the received file.

[code]
But if using process.stdout, it works like a charm.

Do I missing something?

Thanks

[2020-07-26 16:28] mauriziovitale commented on #450
@brendanburns  Same here, I am not able to patch a container image.

<img width="563" alt="Screenshot 2020-07-26 at 17 24 09" src="https://user-images.githubusercontent.com/14923305/88484245-1047aa00-cf65-11ea-8aa4-a186959e4c34.png">

It works just fine when I run it from postman:
[code]

[2020-07-27 09:32] gautaz commented on #430
/remove-lifecycle stale

[2020-07-30 05:05] vip30 commented on #124
Can we close this issue?

[2020-08-03 05:09] popcornylu commented on #110
I used #83 to follow the logs.

[2020-08-03 22:18] brendandburns commented on #124
Closing since #482 merged. (thanks!)

[2020-08-03 22:18] #124 closed

[2020-08-03 22:19] brendandburns commented on #430
/lifecycle frozen

[2020-08-06 08:04] bankyadam commented on #465
Did you find out something @mochja? I'm trying to upload some file with exec to a pod and I experience the same you do.

[2020-08-06 08:14] mochja commented on #465
@bankyadam I did not, I think there are only two proper ways to handle this:
- Use SPDY protocol instead of WS
- Implement closing streams into WS protocol itself

I was experimenting by removing following lines
https://github.com/kubernetes-client/javascript/blob/932c2fbc34db954c6ed397b3cd9ead08b2ff1d10/src/web-socket-handler.ts#L68-L70

and if I am remembering correctly it was _somewhat_ working

[2020-08-06 19:04] chriskinsman opened #484 "Any plans for a SharedInformer?"
Have a controller I have created that listens to multiple Informers and was wondering if a SharedInformer was possibility for this client.

Thanks!

[2020-08-06 22:09] bendavis78 opened #485 "Link to documentation"
I can't seem to find documentation for the javascript client anywhere. For example, I want to know how to specify a label selector when listing deployments. Where do I go to find that out?

[2020-08-06 23:28] brendandburns commented on #485
There is documentation in the code itself, eg.

https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/appsV1Api.ts#L2021

[2020-08-06 23:28] #485 closed

[2020-08-06 23:29] brendandburns commented on #485
There's also general Kubernetes API documentation:
https://kubernetes.io/docs/reference/

[2020-08-06 23:30] brendandburns commented on #484
What specific functionality are you looking for? You can create an informer for each thing you want to listen to. Are you looking for something where you can register a single event handler for multiple different resource types?

[2020-08-07 14:56] chriskinsman commented on #484
I am thinking more about a shared informer factory.  i.e. for a single resource type I might have multiple places listening to it.  Each shouldn't be doing a watch on the API it feels like.

Instead I would ideally like a way to get an informer that shares an upstream api connection that I can subscribe to it's emitters, let it go out of scope and be GC'ed, etc while not impacting other consumers

[2020-08-07 14:56] #484 closed

[2020-08-07 21:39] brendandburns commented on #484
The existing informer should be able to do this.

You can create an informer object and then call `on(<event>, <action)` an arbitrary number of times.

[2020-08-13 07:09] #379 closed

[2020-08-13 16:16] mildmojo opened #486 "`yarn build` TypeScript error in yaml.ts (master, 0.12.0)"
I cloned this repo and tried `yarn install && yarn build`, but I get a TypeScript error in `master` and `0.12.0`. I also tried `yarn generate`, which was successful, but didn't change this error. I'm using node v10.17.0 installed via nvm under Ubuntu.

[code]

I don't use TypeScript, so I'm not sure what this means.

[2020-08-14 15:14] brendandburns commented on #486
That's a error from the compiler, basically the yaml load is untyped (`Object`) and the code is casting it to an arbitrary type (`T`), and the compiler is saying "This might be a mistake because I don't know that `Object` can be a `T`.

What version of typescript are you using? We don't see this error at HEAD.

[2020-08-14 16:30] mildmojo commented on #486
I apologize; I think I used `yarn install` instead of `npm install`. Yarn used the `package.json` version spec of `^3.1.3` instead of version `3.1.3` locked in `package-lock.json`. I ended up with typescript 3.9.7. Wiping `node_modules` and using `npm install` got me back to a working setup.

Thank you for the advice!

[2020-08-14 16:30] #486 closed

[2020-08-17 09:25] simhnna opened #487 "Timestamps have wrong type"
The timestamps have incorrect typescript types.
For example
https://github.com/kubernetes-client/javascript/blob/master/src/gen/model/v1ObjectMeta.ts#L32

creationTimestamp is of type Date | undefined, but the documentation says it's an RFC3339 formatted date aka a string.

Since this is generated code I'm not sure of where to fix this. Either the type has to change to string | undefined, or the s

[2020-08-17 14:53] brendandburns commented on #487
I don't think this is a bug. `creationTimestamp` is marked with openapi `format` == `date-time` in the spec here:
https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec

The swagger spec says: "Tools can use the format to validate the input or to map the value to a specific type in the chosen programming language." (https://swagger.io/docs/specification/data-models/data-types/)

So

[2020-08-18 12:58] rafagsiqueira commented on #449
@Morriz, would something like this work?
[code]

[2020-08-19 09:04] Morriz commented on #449
Yeah, tnx for the example.

Back then I already managed to find how to work with it by inspecting the code :)

[2020-08-19 13:16] simhnna commented on #487
[code]

outputs `2020-07-23T06:01:17Z string`

the type of `V1Pod.metadata.creationTimestamp` however is `Date | undefined` and not `string | undefined`

Possible solutions are converting the string to an actual Date object or change the typing to be a string.

[2020-08-20 13:26] si458 opened #488 "portForward generates Unexpected server response: 401 on websocket with sample"
Hi All,

im trying to find out what im doing wrong or maybe its just my config/setup

the sample for the portFoward isnt working as i keep getting an error saying `Unexpected server response: 401` in the console

the error only appears when i try and connect to the localport on my laptop

however when i call the listnamespacedpod command, it returns the pods listed in that namespace so im abit con

[2020-08-20 13:54] si458 commented on #488
i have just found a similar bug #353

[2020-08-20 20:22] brendandburns commented on #488
Does the `listNamespacedPod(...)` call in the sample code work correctly? Because if it can list pods correctly it's not an error in loading the kubeconfig, it is because your user doesn't have the right RBAC permissions.

If the listNamespacedPod also fails, then it could be a kubeconfig loading issue.

[2020-08-20 20:42] si458 commented on #488
@brendanburns yes that command works fine without any issues so im totally confused?

[2020-08-20 20:43] sonisaurabh19 opened #489 "How to update configMap with appended data?"
hi, I am trying to update (append) configMap that consists of an array of JSON objects. Initially it is `[]` but will have the following structure:

[code]

I use the following 3 approaches to update the configMap, 1st and 2nd don't work. The 3rd works with two issues, i) deletes old config not append, ii) Not accepting JSON object.

[code]

Can I get some pointers around this?

[2020-08-20 20:44] si458 commented on #488
@brendanburns i have been able to identify tho its an issue with k3s
as i created a cluster using kind and that works no problem (however there authentication uses certs instead of user/pass)

[2020-08-20 21:12] si458 commented on #488
i have checked the admin roles in `cluster roles` using kubenav and it reveals this below, does this help at all?
<img width="975" alt="Screenshot 2020-08-20 at 22 10 54" src="https://user-images.githubusercontent.com/765314/90826279-15183780-e332-11ea-8cc8-c4ae2de9fc5e.png">

[2020-08-21 01:33] sonisaurabh19 commented on #489
This is the configMap I am trying to update:

[code]

[2020-08-24 21:43] nick-ivanov-ibm commented on #414
Given the pervasive dependency on `request` or its eventual replacement, would it be useful to consider a wrapper that would isolate the actual implementation and/or allow people to plug in different implementations?

[2020-08-24 22:15] rafagsiqueira opened #490 "Can't use tailLines parameter of readNamespacedPodLog"
Version "@kubernetes/client-node": "0.12.0"

This code:
[code]
generates the following error:
[code]
This code works without a problem:
[code]
The issue seems related to the tailLines parameter.

[2020-08-26 04:54] brendandburns commented on #488
I will double check that basic-auth works as expected with WebSocket connections, it's possible that's the problem.

[2020-08-26 04:55] brendandburns commented on #489
There's a Java example of patching here:

https://github.com/kubernetes-client/java/blob/master/examples/src/main/java/io/kubernetes/client/examples/PatchExample.java

That may help.

You can also use `replace...` instead of `patch...` if you want to.

[2020-08-26 04:58] brendandburns commented on #490
I'll try to reproduce, the go server is trying to parse an empty string as an int and failing. My guess is that one of the other parameters is required as well if tailLines is not null.

[2020-08-27 18:20] mcandre commented on #341
Does this handle updates and deletes, or just creates?

[2020-08-27 19:03] ccravens commented on #349
For any others reading this, this is how I hacked my way around this issue:

```port.targetPort = (8000 as unknown) as object;```

[2020-08-28 20:39] ccravens opened #491 "deleteNamespacedCustomObject Missing from TypeScript Type Defs"
When trying to invoke `deleteNamespacedCustomObject` it seems that it may be missing from the Typescript typedefs in the `customObjectsApi.d.ts` file.

![image](https://user-images.githubusercontent.com/1319049/91613050-c596c480-e94c-11ea-9446-2b1506c59aad.png)

But it looks like it exists here?

https://github.com/kubernetes-client/javascript/blob/b218eb9e7f6080239b7061d42a088749b1d4a749/src/gen/

[2020-08-31 10:59] edvald commented on #488
I'm bumping into this as well, does seem limited to the WebSocketHandler, other API calls seem fine. It _could_ be that a library update caused this, since I only ran into this after updating our dependencies.

[2020-08-31 11:02] si458 commented on #488
i am currently trialing Civo's kube 100 kubernetes cluster (https://www.civo.com/kube100) which runs on k3s as the cluster
im also experiencing the sameissue there too...
however it is only the javascript/node library that seems to have this problem as you explained?

[2020-08-31 11:29] edvald commented on #488
Can also confirm that in my case this is limited to basic auth. Which I guess is affecting microk8s as well as k3s.

[2020-08-31 11:53] edvald commented on #488
I think this is the underlying issue: https://github.com/websockets/ws/commit/eaf2ad1335ff7b502a7b119c576ea3c611c7a70c

So a dependency update should do the trick. I'm giving it a spin now, PR coming up in a bit.

[2020-08-31 13:06] si458 commented on #488
@edvald yes i can confirm it only seems to be user/pass authenication that causes the issues
i use aws eks/azure aks which both use cert and thats fine, it only seems to be k3s as its using user/pass
altho the was a push into k3s to change from user/pass to cert but hasnt appeared in a release for some reason?
https://github.com/rancher/k3s/pull/1704

[2020-08-31 14:00] brendandburns commented on #491
That's odd. Not sure how that happens as all of this code is generated, but I will try to reproduce locally and debug.

That function was added recently (as a fix to a different bug) so it's possible that something weird happened.

[2020-08-31 14:19] ccravens commented on #491
Great! I figured as much thanks! 👍

[2020-09-01 10:08] MichielDeMey commented on #489
For anyone interested, I've managed to update the configMap using a merge patch strategy to update the data.

ConfigMap example:
[code]

[code]

Obviously, ConfigMaps can only store key/values where the value must be a string so you'll need to serialize your JSON.

[2020-09-01 22:39] #488 closed

[2020-09-04 18:35] cin opened #494 "Connection leak in informer?"
kubernetes-client/javascript version: 0.12.0
node version: v14.9.0

The number of connections to the kubernetes API seems to double every 10 minutes. We've setup an endpoint informer to monitor when IPs change so we can update a service w/external IPs. We use this to discover Cassandra cluster seeds in other regions.

[code]

I've tried explicitly closing the responses that I can with no luck, so

[2020-09-05 01:44] cin commented on #494
Here's a self contained example that demonstrates the leak.

[code]

[2020-09-08 16:35] Kaggggggga opened #495 "updateCallback should not be call if resourceVersion unchanged"
Hello,

I wonder why `resourceVersion` is not compared before updateCallback here
https://github.com/kubernetes-client/javascript/blob/a162209e24e039c9b425f0b49235a8a475d4b758/src/cache.ts#L184

This cause unnecessary updateCallback from all existing object, especially after reconnection with unchanged list body

Thank you

[2020-09-09 04:24] TheTFo opened #496 "Error authenticating (exec_auth) with doctl (digitalocean)"
Hello,

The auth exec command for getting digitalocean credentials appears to fail:

[code]
The same command works fine from my CLI, and kubectl is working correctly.  I'm not really sure how to proceed here without switching to a less optimal form of auth. Any help is appreciated to understand how I can get this to run, or dig up more info as to why the command fails.

Thanks!

[2020-09-09 11:18] subhankarc opened #497 "High prio security vulnerability coming from node-forge-0.8.5"
We are using the latest 0.12.0 version of this library and from the Whitesource scan report, we see it is indirectly dependent on node-forge-0.8.5 which has a high prio vulnerability reported based on https://www.whitesourcesoftware.com/vulnerability-database/CVE-2020-7720

The details of the vulnerability says the following.

[code]

Can you please check if you can possibly update to a later vers

[2020-09-09 16:18] brendandburns commented on #496
This is executing that shell command, that command is failing (returning status code 1), you need to debug why it's returning a non-zero status code. I don't have a digital ocean environment so it's hard for me to debug.

First thing to do is probably to validate that the exec command is identical in both `kubectl` and this client.

If you attach the authProvider section from your kubeconfig (anon

[2020-09-09 16:20] TheTFo commented on #496
I ran the command manually from the CLI without issue. Are there other
steps I can take?

I'll get you the config shortly!

On Wed, Sep 9, 2020, 12:18 PM Brendan Burns <notifications@github.com>
wrote:

[2020-09-10 20:56] brendandburns commented on #497
Sent a PR to update openidconnect.

The vulnerable library is only if your kubeconfig file uses openidconnect, also this vulnerability requires malicious input, which isn't possible with this library.

So we'll upgrade openid-client (since it's pretty old) but I don't think this vulnerability applies to this library in general.

[2020-09-10 20:57] brendandburns commented on #496
After you run the command, can you type `echo $?` to see what the return code from the command was?

Thanks!

[2020-09-10 20:58] brendandburns commented on #496
e.g. run: `doctl kubernetes cluster kubeconfig exec-credential <<my-id-omitted>> --version=v1beta1 --context=<<my-context-omitted>>` (with the write values for id and context) and then run `echo $?` and report the number that it prints.

[2020-09-10 21:17] TheTFo commented on #496
Hi Brendan,

I'll get that for you tonight, I apologize I got pulled away yesterday. I appreciate your response!

[2020-09-10 21:18] TheTFo commented on #496
btw, I should also mention that doctl is running as a snap in Linux Mint, just an FYI

[2020-09-11 02:10] TheTFo commented on #496
Here's the output from running the command in the CLI
[code]

Here's the kube config:
[code]

[2020-09-11 18:38] brendandburns commented on #496
Also, is it possible that the $PATH or $HOME variables are different in your node execution vs your shell?

[2020-09-11 20:50] Nokel81 opened #499 "loadFromString is more restrictive then what is available in kubectl"
I have tried to see what `kubectl` does when a system config has some bad entries (like an entry with `""` as the context). It simply skips them.

I think that there should be an option for `loadFromString`, `loadFromDefault`, and `loadFromFile` to filter out any bad entries

[2020-09-11 23:11] brendandburns commented on #499
We'd be happy to take PRs to fix things.

[2020-09-13 15:27] TheTFo commented on #496
I'm concerned this may be the culprit, I'll get back to you!

[2020-09-16 22:49] Morriz commented on #451
Not a problem, just not according to specs. Sorry for the delay. Closing

[2020-09-16 22:49] #451 closed

[2020-09-17 05:04] #499 closed

[2020-09-18 01:39] edify42 opened #503 "Change stream-buffers to a dependency (currently a devDependency)"
Hey Maintainers!

I stumbled across a weird issue when we pushed our package to npm that uses this library:

[code]

The package itself is a CLI tool that gets installed globally (`yarn global add @lendi/lcd`) - it's private though

We had no problems during our testing phase as we used `ts-node` within our source code location and `stream-buffer` was available as a devDependency.

From this file,

[2020-09-18 07:47] benoitf commented on #491
in 0.12.1 it seems it's there again

[2020-09-18 09:10] Chengxuan commented on #503
We are also hitting this in our pipeline.

[2020-09-18 09:19] Chengxuan opened #504 "Breaking changes in a minor version update."
`deleteCollectionNamespacedCustomObject_2` doesn't exist in `0.12.1` anymore, which has broken our tests.

Breaking changes are generally not expected in a minor version update.

Also, this repo claims the latest version to be `0.10.1` but the npm claims the latest version to be `0.12.1`. https://www.npmjs.com/package/@kubernetes/client-node

[2020-09-18 09:38] Chengxuan commented on #504
Just noticed this library is marked as a beta release on NPM. if you've got tests to ensure this doesn't happen in your stable version in the future. Please close this issue.

Do you have an ETA date for `stable` release?

[2020-09-18 12:54] ccravens commented on #491
I can confirm it's back! Closing

[2020-09-18 12:54] #491 closed

[2020-09-18 19:07] brendandburns commented on #504
`0.12.1` is the correct latest, I've updated the Github release page too.

[2020-09-18 19:16] #504 closed

[2020-09-18 19:17] brendandburns commented on #503
Yeah, looks like that should be a dependency. Please feel free to send a PR to fix this.

Thanks!

[2020-09-18 20:03] TheTFo commented on #496
I'm coming back to this and will get an answer this weekend.

[2020-09-18 20:44] brendandburns commented on #494
I created a PR here:

https://github.com/kubernetes-client/javascript/pull/505

Any chance you can patch it and see if it fixes things?

Thanks!

[2020-09-18 20:48] brendandburns commented on #495
I believe that in general this is the expected behavior on list calls.

See a similar discussion here:
https://github.com/kubernetes-client/java/issues/1234

I'm going to close this as working as intended.

[2020-09-18 20:48] #495 closed

[2020-09-18 21:02] brendandburns commented on #490
So it looks like you need to send more than just tailLines, the following works for me:

[code]

The URL we are sending is:
`.../log?container=&follow=&insecureSkipTLSVerifyBackend=&limitBytes=10000&pretty=&previous=false&sinceSeconds=0&tailLines=20'`

(note all of those empty-string parameters)

It seems like the go server tries to parse empty strings. This seems like brittle behavior on the part

[2020-09-18 22:25] rafagsiqueira commented on #490
Thank you @brendandburns, I will try that way.

[2020-09-18 22:25] #490 closed

[2020-09-19 04:51] brendandburns commented on #503
Closing since #506 merged.

[2020-09-19 04:51] brendandburns commented on #503
I will cut a new release soon with the right dependencies.

[2020-09-19 04:52] #503 closed

[2020-09-19 12:29] Kaggggggga commented on #495
thanks for your reply @brendandburns

but according to [golang](https://github.com/kubernetes/client-go/blob/cba7285b7f292c0294a318335da9a526eb73fe3f/tools/cache/controller.go#L212)
and java in your reference, they could both get the new and old object for the onUpdate event, so that user can do some filtering on the resourceVersion change

then my point may become whether the onUpdate event in js

[2020-09-19 15:38] popomore commented on #503
@brandonc Can you release new version for bugfix?

[2020-09-19 23:50] #422 closed

[2020-09-20 00:55] TheTFo commented on #496
So I believe this is due to using a snap binary and not a normal binary. I installed the non-snap version of doctl and this appears to be working correctly now.

This would be a node issue, not with this code. I'll close.

[2020-09-20 00:55] #496 closed

[2020-09-20 20:48] brendandburns commented on #490
@rafagsiqueira
Quick update on this if you pass `undefined` instead of `null` it should work.

(this is not awesome, the code should treat `undefined` and `null` the same imho.

[2020-09-20 21:33] brendandburns commented on #449
I figured out the issue, we were missing a bunch of return types. I created a PR to fix this.

[2020-09-22 07:57] maikknebel commented on #503
Release 0.12.1 says this has been solved, but if i install the latest version via npm (which is 0.12.1) the changes from pull request #506 are missing.

[2020-09-22 08:36] darlenya opened #509 "Cannot find module 'stream-buffers'"
Hi, when I Upgrade  to version '0.12.1' from '0.12.0' I got the following error in my scripts:

Cannot find module 'stream-buffers' from 'node_modules/@kubernetes/client-node/dist/cp.js'

    Require stack:
      node_modules/@kubernetes/client-node/dist/cp.js
      node_modules/@kubernetes/client-node/dist/index.js
      src/kubernetesService.js
      src/index.js
      tests/indexDataTest.js

[2020-09-22 12:05] NicolasFloquet commented on #497
Hi,

This is somehow blocking my project unless I deactivate docker image security scans.
I created a pull request that passes the checks.

[2020-09-22 15:26] brendandburns commented on #509
Yeah, this was fixed at HEAD (#503) but I need to cut a new release.

[2020-09-22 15:26] brendandburns commented on #509
I will get this done today.

[2020-09-22 15:46] #497 closed

[2020-09-22 21:42] brendandburns commented on #509
I have pushed out the `0.12.2` release which should have the right dependencies. Apologies for the breakage.

[2020-09-22 21:42] #509 closed

[2020-09-23 06:50] darlenya commented on #509
Hi, Thanks

[2020-09-23 13:32] DanielMSchmidt opened #511 "Make generated APIs easier to work with"
**TL;DR**

Move from positional arguments to object arguments for the sake of readability and extendability

**Details**

The API that is currently generated is quite hard read if one has to fill in a property that is not the first or second argument.

The current function signature is like this (on the example of namespaces)
[code]

This leads to calls like this `api.createNamespace(namespace, un

[2020-09-23 23:29] brendandburns commented on #511
All of this code comes from the openapi code generator (`typescript-node`). If we want to make changes, the changes need to be made there.

Though for what it's worth, we need to also change away from the `request` generator, since the `request` library is deprecated.

[2020-09-24 06:46] DanielMSchmidt commented on #511
I can take a look and tackle those issues 👍

[2020-09-24 16:50] flacatus opened #512 "exec.Exec() method throw (node:2220468) [DEP0123] DeprecationWarning using minikube"
Hi!
Currenlty we are using kubernetes client in one of our project and when we tests our product in minikube...
exec.Exec() methods throw `(node:2220468) [DEP0123] DeprecationWarning: Setting the TLS ServerName to an IP address is not permitted by RFC 6066. This will be ignored in a future version.`

![image](https://user-images.githubusercontent.com/59865209/94174994-50100c80-fe96-11ea-8562-485bf

[2020-09-24 20:05] chriskinsman commented on #392
I am still seeing this behavior.  I was expecting done to get called with an error so I could retry without a resourceVersion.

How are you supposed to recover from starting watch with a resource version that is too old?

@brendanburns

[2020-09-25 04:45] brendandburns commented on #512
This is coming because you are connecting to an IP address instead of a DNS name.

It looks like it is resolveable by not setting the `servername` property in the tls options

(https://github.com/brianc/node-postgres/pull/1890/files)

But we'll have to investigate how to do that. For now, it's harmless.

[2020-09-25 20:48] ben-turner opened #513 "Module is undefined when using import"
Using `import k8s from '@kubernetes/client-node` results in k8s being undefined. `const k8s = require('@kubernetes/client-node')` works as expected.

I'm using `Babel 7.11.5` and `Node 14.12.0`. All of my other import statements are working.

[2020-09-26 00:52] ben-turner opened #514 "Missing Documentation"
Where is the documentation for:
- KubeConfig
- Watchers
- Informers

None of these things show up in the docs I generated with `npm run docs`. I'm not asking for anyone to write docs, but it seems like the documentation tool should at know that they exist and spit out the signatures.

[2020-09-28 01:22] rubenrajkowski-nbcuni opened #515 "how to run patch commands on deployment?"
I've looked at the examples and can't find the kubectl equivalent to patch a deployment (restart all pods in a deployment):
```kubectl patch deployment my-test-deployment -p "{\"spec\":{\"template\":{\"metadata\":{\"labels\":{\"date\":\"$(date +%s)\"}}}}}```

and patch status which report which pods are terminated /rolled out
[code]

I've found these.. but doesn't seem to work with these params:
[

[2020-09-28 04:22] brendandburns commented on #515
Please have a look at the example here:

https://github.com/kubernetes-client/javascript/pull/508

If you still need assistance please reply to this issue.

[2020-09-28 19:01] rubenrajkowski-nbcuni commented on #515
Thanks for the quick reply and the example code @brendanburns
We are trying to patch the deployment (which has the pod manifest) to restart all the pods in the deployment.
Your example is for individual pods.

Any thoughts on this? Is there a Deployment level patch command in the API.

[2020-09-28 19:42] rafagsiqueira commented on #490
@brendanburns, it does work. Thank you! Albeit not very legible. Had to make this call to add timestamps to the logs:
`api.readNamespacedPodLog(name, namespace, undefined, false, false, undefined, undefined, false, undefined, undefined, true);`
Ideal approach would be to use interfaces and named parameters for the calls, perhaps?

[2020-09-28 22:10] rubenrajkowski-nbcuni commented on #515
I was also looking at `kubernetes-client` which has some similar apis for patching deployments. My colleague stumbled upon this post regarding merging with the official k8 JS library.  Do you know the timetable of this merge? And will Godaddy's be deprecated?
https://github.com/godaddy/kubernetes-client/blob/master/merging-with-kubernetes.md

[2020-09-29 05:10] brendandburns commented on #515
There are equivalent `patchNamespacedDeployment(...)` calls that allow you to patch a deployment.

[2020-09-29 05:13] brendandburns commented on #515
Also, there has been some discussion w/ the Godady folks, and one PR that got semi-abandoned.

We'd welcome more of a merger, but at the same time having multiple clients provides choice which is a good thing too, so if they'd prefer to stay separate that's great as well.

[2020-09-29 11:02] 0xFr0zen commented on #513
I have been using `import * as k8s from '@kubernetes/client-node';` and it worked for me.

Maybe this will work for you.

[2020-09-30 16:18] chriskinsman opened #516 "Handling ResourceVersion wrap around"
I have a watch setup that I used the resourceVersion as a high watermark for.  The resourceVersion eventually will wrap around and restart at 0 once the cluster has been up for quite a while.

What strategy do folks use to catch this and reset the high watermark to zero.  Normally you only increase the high watermark if the resourceVersion of the current api object is > than the current high water

[2020-10-01 15:19] brendandburns commented on #516
So watch should always be paired with a timeout and a list in a loop (that's what the informer does)

In this case, either the API server terminates the watch or it times out, in which case you re-list all objects and this new list object (e.g. PodList) should contain the resourceVersion that is the next "high water mark"

Note that calling it a "high water mark" is kind of a mis-nomer because you

[2020-10-01 16:37] chriskinsman commented on #516
The problem with that is the timeouts for the watch are relatively short i.e. < 60 minutes and on restart you then see a large number of objects over again.  Using resourceVersion as a high water mark is really the only way to prevent reprocessing objects multiple times that I can see.

Do most people just implement state machines on top of the watches and use a pattern or read current state, comp

[2020-10-02 16:51] brendandburns commented on #516
Well, for each resource you can keep track of the latest `resourceVersion` that you've seen in a hashtable

e.g. map<resourceVersion, resourceName> and quickly check for each object to see if the object has changed.

resourceVersions are not guaranteed to be monotonically increasing when delivered in an event stream so you really can't track a high water mark.

[2020-10-02 16:52] brendandburns commented on #515
I'm going to close this issue since I think the question is answered, please use `/reopen` if you need further assitance.

[2020-10-02 17:50] chriskinsman commented on #516
Works well until you have a container/controller restart.  Persisting it is fairly expensive in a cluster with a lot of changing resources, i.e. jobs that are constantly spinning up, completing, etc.

This is the first time I have seen anyone say this.  I know they are not guaranteed to increment by 1 but they are always increasing in my experience unless they are a repeat of a resourceVersion tha

[2020-10-03 22:31] #515 closed

[2020-10-03 22:34] brendandburns commented on #516
There's a big discussion here:

https://github.com/kubernetes-client/python/issues/609

Note that this is all pretty academic, because the resourceVersion in etcd is an int64, so it will take a _long_ time before it overflows.

[2020-10-03 22:35] brendandburns commented on #516
Regarding the "persisting it" you shouldn't persist it. When your controller restarts it has to re-list all the objects its interested in anyway, so you will rebuild it when the controller restarts.

(at least that's the general pattern I've seen in most places)

[2020-10-04 08:51] jc-roman opened #519 "Add support for NodeJS version 14 (Active LTS Start: 2020-10-20)"
I've been using the library with Node v14 for a few months already, no issues encountered.

![image](https://user-images.githubusercontent.com/28061099/95011206-085b5480-05fd-11eb-95c1-e0d3bac8a6c2.png)

Source: https://nodejs.org/en/about/releases/

[2020-10-04 19:59] #519 closed

[2020-10-06 14:46] brendandburns commented on #513
Yes, this is because there's not a single object that represents the k8s API, you need to do `import * as k8s ...`

Closing this issue, please use the `/reopen` command if you need further assistance with the issue.

[2020-10-06 14:46] #513 closed

[2020-10-06 18:56] djaax opened #522 "Default headers for patchNamespacedIngress of networkingV1beta1Api"
I would suggest updating the default headers for patchNamespacedIngress of networkingV1beta1Api (https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/networkingV1beta1Api.ts#L1234) to include `Content-Type: application/merge-patch+json`.

See this issue: https://github.com/kubernetes/kubernetes/issues/61103

[2020-10-07 17:23] brendandburns commented on #522
This comes from the Kubernetes swagger.json, so it needs to be changed there.

Closing since we don't control this in the client.

[2020-10-07 17:23] #522 closed

[2020-10-09 17:58] divramod opened #523 "How to change the labels of nodes?"
Hey,

thx for the awesome project!

I'd like to change the labels of nodes programmatically.
Can someone give me a hint on where to start with that task?

[2020-10-10 11:38] Jamlee opened #524 "how to exec use pty"
how to exec use pty? because it is use node js tty.

![image](https://user-images.githubusercontent.com/5196641/95654118-37f3ea80-0b30-11eb-95b3-e6da10a2a124.png)

[2020-10-10 11:42] #524 closed

[2020-10-10 16:14] brendandburns commented on #523
The easiest way to do this is

1) `obj = api.readNode(...)`
2) `obj.metadata.labels[some-key] = some-new-value;
3) `api.replaceNode(obj)`

You can also us `patch` similar to the patch example here:
https://github.com/kubernetes-client/javascript/pull/508

Hope that helps.

[2020-10-12 15:54] #449 closed

[2020-10-12 15:56] #450 closed

[2020-10-13 07:53] RajPathare opened #525 "kubectl describe node"
Hey! I wanted to know if we can get the number of resources consumed by a single pod/multiple pods, just like we get when we hit -> kubectl describe node <nodename>.

[2020-10-13 18:08] brendandburns commented on #525
`kubectl describe` is actually a fairly complicated piece of client-side logic, you can find the equivalent golang code herE:

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/describe/describe.go

You should be able to emulate it in javascript using this client library, but it will require a bunch of code. If you write that and you want to contribute it back to the javascript client libr

[2020-10-13 21:52] Agreon commented on #487
@brendanburns We are also experiencing problems because of this. The spec also defines the type as `string` even if the format is `date-time`

[2020-10-15 09:22] anttilinno opened #527 "Is there an information about cluster version compatibility?"
I found one in [golang repo](https://github.com/kubernetes/client-go/#compatibility-matrix) and another in python. No idea, what cluster version does javascript client library support. Maybe I don't know where to look, and I'm sorry for that :)

[2020-10-15 16:04] ccravens opened #528 "Patch Utils not Included In Package"
I'm trying to apply a patch, looking at the following example:
https://github.com/kubernetes-client/javascript/blob/master/examples/patch-example.js

It looks like there's supposed to be a Patch utility:
https://github.com/kubernetes-client/javascript/blob/906d227d4754c6537d5c834016c56edd24c73cd7/src/patch.ts

But I don't see it in the build, I'm using `"@kubernetes/client-node": "^0.12.1"`:
![ima

[2020-10-15 17:59] brendandburns commented on #527
No worries, there's no matrix (there should be) but the current client is built from the Kubernetes `1.18.x` specification. It should work with `1.16.x` -> `1.18.x` without problems, it _may_ work with earlier versions, but no guarantees.

I will work on putting together a matrix.

[2020-10-15 17:59] brendandburns commented on #528
yeah, we haven't pushed a release since that merged. will take care of that sometime soon.

[2020-10-16 09:46] anttilinno commented on #527
Thanks. OK, k3s stable in on 1.18, channel is on 1.19. If you create the matrix, put 1.19 as not yet supported or something like that 👍 Update the matrix with every release, even if the client does not support them.

[2020-10-16 09:46] #527 closed

[2020-10-16 18:22] jc-roman commented on #494
@brendanburns, I spent some time debugging the leak (also tried #505 to no avail) and discovered that the problem is not that the request connection is not being closed in the watch/informer/cache.  I spent some time debugging why the informer was doubling connections, and it is due to an issue with cache implementation; It's not that it does not disconnect, and then creates an additional new conn

[2020-10-17 10:53] DocX commented on #494
Hi. We are probably experiencing the same issue. Version `0.12.0`.

We are not receiving any `error` events, and we are listening to `add, update, delete` events. And this is what happens over time:

![Screenshot 2020-10-17 at 12 51 21](https://user-images.githubusercontent.com/132277/96335238-9a407400-1077-11eb-94bb-d1d79144823a.png)

The drops are when process is being killed by OOM killer and r

[2020-10-17 12:28] jc-roman commented on #494
Thanks for the extra data. You can clearly see the expected exponential growth due to two full new async requests objects being created for every one that expires. To make matters worse, when one event is sent by the kubernetes API, the callback for every one the ever growing copies of watch instances will get executed. You can see in the first chart that even though the total number of events pro

[2020-10-19 15:40] entropitor commented on #447
/reopen
/remove-lifecycle rotten

[2020-10-19 20:24] RajPathare commented on #525
Thanks for the reply! I've actually tried implementing the logic but I don't think it's quite efficient. I've fetched all nodes first and then I'm looping through each container and pushing them in the appropriate node object. This whole operation takes about 20s. Is there some other efficient way through which this can be achieved?

[2020-10-19 22:57] brendandburns commented on #525
Probably listing all nodes and listing all containers, and then doing the processing in memory so you're only making 2 API calls instead of N would make it faster.

[2020-10-20 06:02] RajPathare commented on #525
Thanks @brendandburns!

[2020-10-21 08:57] JonasJW opened #529 "ObjectAPI patch throws UnsupportedMediaType error"
I'm trying to apply a yaml file. When the spec does not exist yet, the creation part works fine but `patch` throws the following.

[code]
When I apply a yaml file with the following code the first time and it calls `client.create` it applies the file succesfuly but when I call the code a second time with the same yaml file, `client.patch` gets called and I get the wrror above.

I have taken the co

[2020-10-22 01:51] brendandburns commented on #529
Patch expects a very different format than create/apply, you can see more details here:

https://github.com/kubernetes-client/javascript/blob/master/examples/patch-example.js#L10

[2020-10-22 01:51] #529 closed

[2020-10-22 01:52] brendandburns commented on #529
Please use `/reopen` if you need further assistance.

[2020-10-22 02:28] brendandburns commented on #523
Closing since I think this is resolved, please use `/reopen` if you need further asssitance.

[2020-10-22 02:28] #523 closed

[2020-10-22 12:41] weikinhuang opened #530 "regenerate api with kubernetes v1.19.x"
Hi, can someone please regenerate the spec to the latest version of kubernetes, I'm trying to make use of v1 ingress. Thanks!

[2020-10-22 15:39] brendandburns commented on #530
You can use the instructions here:
https://github.com/kubernetes-client/javascript#re-generating-code

Otherwise we'll get to this eventually.

[2020-10-23 18:49] unixfox commented on #367
/remove-lifecycle stale

[2020-10-23 23:36] brendandburns commented on #528
I just pushed `0.12.3` which contains `patch.ts`

Closing.

[2020-10-23 23:36] #528 closed

[2020-10-23 23:57] brendandburns commented on #367
/lifecycle frozen

[2020-10-23 23:57] brendandburns commented on #530
Closing since #534 has merged.

I will cut a 0.13.0 release soon (once #535  merges)

[2020-10-24 00:00] weikinhuang commented on #530
Thanks!

[2020-10-24 00:09] brendandburns commented on #514
fwiw, the (first) issue is that `npm run docs` just runs `typedoc src/gen` which only generates docs for the generated code, not any of the handwritten code. I'll investigate what we need to do to reconfigure the doc generation.

[2020-10-24 16:59] julesrenaud opened #536 "Equivalent of `kubectl rollout status <deployment name>`?"
I'm trying to replicate the functionality of `kubectl rollout status <deployment name>`.

I've resorted to polling `k8sApi.readNamespacedDeploymentStatus(<deployment name>, <namespace>)` every 5000ms and  inspect the `status.conditions` to figure out if the latest transition has type `Available` and status `True`. Not sure if my solution is robust enough and I'm wondering if someone has a better s

[2020-10-25 12:05] alex-klimov commented on #414
Hi guys, what is the state of this issue? Which library would be taken forward to work in browser environment?

[2020-10-26 15:21] brendandburns commented on #536
The code for `kubectl rollout` is here:
https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/rollout/rollout.go

Rather than polling, you probably want to use a `watch` it will be much more efficient.

[2020-10-26 16:15] julesrenaud commented on #536
@brendandburns thanks a lot for the reference link, I'll use it as a base for my refactor, also using the `watch` method which is detailed [here](https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/watch/watch-example.ts)

[2020-10-26 16:15] #536 closed

[2020-10-27 16:47] thejasbabu opened #537 "Admission webhook error not sent as part of response for custom objects"
I used this library to install a few CRDs to my Kubernetes cluster and I observed that this kubernetes client omits the admission webhook error messages. When I try to install using `kubectl` I see the error message from the admission webhook, whereas when I use javascript kubernetes-client, all I get is an "http request failed" generic error message. It would be nice to capture the admission webh

[2020-10-28 02:25] brendandburns commented on #537
I think that the error object returned has all of the detail in it if you introspect the error (it's possible it doesn't but I believe it does...)

[2020-10-28 02:26] brendandburns commented on #537
Can you give a concrete sample code that shows what you are doing? We can then advise.

[2020-11-02 20:31] stavalfi opened #540 "attach return 500 (internal server error)"
maybe it's related to https://github.com/kubernetes-client/javascript/issues/106 but that issue is 2 years old.

---

[code]

error:

[code]

in debug mode, I see at the buttom "internal server error":

![image](https://user-images.githubusercontent.com/12954665/97915627-7315c200-1d5a-11eb-84c1-93d3e9895324.png)

---------------

[code]

[2020-11-02 20:31] stavalfi opened #541 "Attach returns 500 (internal server error)"
maybe it's related to https://github.com/kubernetes-client/javascript/issues/106 but that issue is 2 years old and it didn't fix this problem.

---

[code]

error:

[code]

in debug mode, I see at the buttom "internal server error":

![image](https://user-images.githubusercontent.com/12954665/97915627-7315c200-1d5a-11eb-84c1-93d3e9895324.png)

----

[code]

[code]

---------------

[code]

[2020-11-02 20:32] stavalfi commented on #540
duplicate in mistake

[2020-11-02 20:32] #540 closed

[2020-11-02 21:01] stavalfi commented on #541
I deleted and started the minikube again and now this error is gone.
now the logs doesn't appear but I will open a different issue for that.

Thanks.

[2020-11-02 21:01] #541 closed

[2020-11-02 21:09] stavalfi opened #542 "Attach.attach hangs and don't recieve data from k8s"
[code]

When doing the same thing using this lib, nothing is printed:
[code]
output:
[code]

----

When debugging `node_modules/@kubernetes/client-node/dist/web-socket-handler.js`, `client.onmessage` is called only once:

![image](https://user-images.githubusercontent.com/12954665/97919166-0a314880-1d60-11eb-87b9-4fa5c9e5bd6b.png)

* it doesn't go to line 151 (`client.close();`).

There are no mor

[2020-11-03 00:23] brendandburns commented on #542
`kubectl logs` provides some history (e.g. output from the past) whereas `attach` only provides messages in the future.

Is it possible that the output has already occurred before you attach and there is no more output?

If you're really interested in the logs, you probably want to us the [logs api](https://github.com/kubernetes-client/javascript/blob/master/src/log.ts) rather than `attach`

[2020-11-03 04:11] brendandburns commented on #530
0.13.0 has been pushed to npm, closing this issue.

[2020-11-03 04:11] #530 closed

[2020-11-03 07:22] stavalfi commented on #542
you are right, the output has already occurred before I attached.

In case the pod is still alive (like in this exampple), what do you recommend to do to for having the same behavior as `kubectl logs -f` (logs +attach)?

I could get the logs and then attach but in between, i will lose some logs (maybe alot) because these are 2 different calls to k8s.

[2020-11-03 15:09] moshfeu commented on #110
@popcornylu how?

[2020-11-03 16:30] jgehrcke opened #544 "Expose TCP connect() and recv() timeouts for HTTP client"
Relates to https://github.com/kubernetes-client/javascript/issues/96.

Even if for example a TCP connect() timeout error is supposed to be "left for the user to handle" we need a way to configure the relevant timeout constant for the underlying HTTP client. Same for `recv()` timeout (or "request timeout").

[2020-11-03 17:56] brendandburns commented on #544
You can use any of the options available to the `request` module and pass them in as the `options` parameter when you make the API calls, the available options are all described here:

https://github.com/request/request#requestoptions-callback

Including the two `timeout` values that you are looking for.

[2020-11-03 17:57] brendandburns commented on #542
You can use the [logs api](https://github.com/kubernetes-client/javascript/blob/master/src/log.ts) and set `follow` to true. That's exactly the same as `kubectl logs -f`

[2020-11-03 17:59] brendandburns commented on #537
Closing due to lack of response. Please use `/reopen` or file a new issue if you need further assistance.

[2020-11-03 17:59] #537 closed

[2020-11-03 18:00] brendandburns commented on #525
Closing this issue since I believe the question is answered. Please reopen with the `/reopen` command if further assistance is needed.

[2020-11-03 18:00] #525 closed

[2020-11-03 18:09] brendandburns commented on #414
@alex-klimov there's no current implementation that works in the browser (nor any concrete plan to develop one) we're definitely open to it, but not currently under development.

Accessing Kubernetes from the browser is a little weird anyway, since most clusters use custom certificate authorities, and you can't load a custom CA inside the browser.

[2020-11-03 18:12] guyellis opened #545 "Is there a type in this repo for the result of "kubectl get pods -o json ...""
This is really Stack Overflow question but not sure if you have a presence there? Happy to move the question there. LMK.

Context: The enterprise does not allow access to the Kubernetes API so much of the functionality in this module is not available to me. I can however run `kubectl` and get results back.

So I'm using `import { exec } from 'child_process'` and executing this pattern:

`kubectl g

[2020-11-03 22:19] brendandburns commented on #545
Yes, there are a bunch of objects for all of the kubernetes objects, have a look here:

https://github.com/kubernetes-client/javascript/tree/master/src/gen/model

However, it's weird that kubectl works and this library doesn't. They both run HTTP requests to talk to the kubernetes APIserver so from a network firewall perspective it's hard to understand why one would work and one wouldn't.

It's po

[2020-11-04 01:08] guyellis commented on #545
@brendanburns - thanks. Not sure why my earlier searching in the repo didn't show those up.

I completely agree with your comments and would also much rather use the API than doing a "shell exec" and parsing the JSON. I've spoken with the team and they're adamant that for security reasons they don't want us using the API. I'm sure that it would be relatively easy to work out how to use the same cr

[2020-11-04 01:09] #545 closed

[2020-11-04 09:11] stavalfi commented on #542
Great! Thanks!!!

[2020-11-04 09:11] #542 closed

[2020-11-04 11:05] jgehrcke commented on #544
Thanks, Brendan! Based on the docs that you linked to this appears to be a _single_ parameter, controlling both, connect() and recv() timeout:

We usually want to be able to set those independently -- in most cases we want to set a short connect() timeout and a longer read/recv timeout. Well :-).

I'll try playing with that. Thanks again.

For the record: the HTTP client situation in the Javascrip

[2020-11-04 11:30] jgehrcke commented on #544
Say, I want to pass that when calling `patchNamespacedConfigMap()`.

The current type definition (from `master/src/gen/api/coreV1Api.ts`) is

[code]

with `options` being
[code]
which of course results in a `tsc` compile error when I pass in an additional property `timeout`.

I would truly appreciate to work on a 'working example' with you.

[2020-11-04 11:36] jgehrcke commented on #511
@DanielMSchmidt small world :-) Hope you're good!

Yes! And whichever HTTP client we choose (I think I can recommend `got` by now) we need to find a way to expose HTTP client options in a generic and yet TypeScript-supported way. Related: ttps://github.com/kubernetes-client/javascript/issues/544

[2020-11-04 13:47] jgehrcke commented on #544
Using this code to try to achieve a connect() timeout of ~10 seconds:
[code]
(Note the `// @ts-ignore: timeout does not exist on type` to deal with the problem described in https://github.com/kubernetes-client/javascript/issues/544#issuecomment-721678548).

I was lucky enough to see a connect timeout thereafter:

[code]

Notice the time difference here, the connect() timeout did _not_ hit in withi

[2020-11-04 15:18] alex-klimov commented on #414
Thank you, Brendan for the update!

Regarding authentication, yes, I have read through this issue, where it was discussed https://github.com/kubernetes-client/javascript/issues/165

I was researching what would be required to provide web dashboard with basic diagnostic/health investigations for vanilla Kubernetes clusters. My goal was to have as little moving parts as possible. And, yes, it looks

[2020-11-04 15:27] ccravens opened #547 "Not Applying ServiceAccount / ServiceAccountName to Pod From Job"
I'm trying to apply a `serviceaccount` / `serviceaccountname` to a Job shown in the following screenshot:

![image](https://user-images.githubusercontent.com/1319049/98130095-e1a46e00-1e87-11eb-90cf-5f6231e693b0.png)

But when I run `kubectl get pod -o yaml` on the created object, the service account is shown to be the default:

![image](https://user-images.githubusercontent.com/1319049/98130426-3

[2020-11-04 18:27] jgehrcke opened #548 "CHANGELOG needs some love :)"
We would feel better about using this library, relying on it, and also investing into it if the [CHANGELOG](https://github.com/kubernetes-client/javascript/blob/6d53ddcfa96418ec9409d8bce0e6e5a01400dc90/CHANGELOG.md) had seen a little more love in the past. Of course this can still change, and I'd love to encourage that!

By the way, the following README addition is a great start and much appreciat

[2020-11-05 00:13] brendandburns commented on #548
Yeah, I need to write some automation to do that. Manually maintaining the changelog isn't scalable.

fwiw, you can always take a look at the closed PRs (ever release is marked in the commit history)

[2020-11-05 00:15] brendandburns commented on #547
This should work. Can you send the complete sample code you are using?

Thanks

[2020-11-05 00:15] brendandburns commented on #547
and also what Kubernetes version and what version of the client.

[2020-11-05 00:17] brendandburns commented on #544
Should work given your code snippet. I will double check through the code and see if something is going wrong.

[2020-11-05 00:19] brendandburns commented on #544
And I hear you on the http client, it's discussed in detail here:

#414

Part of the problem is the client generation is tied tightly to a particular HTTP library, and so changing the HTTP library means introducing breaking changes in the client API *sigh*

[2020-11-05 00:58] Daxcor69 opened #549 "What api to use to get the volume name of a pvc?"
I am using a nfs server as a PV for my cluster. I then make a PVC against it using storage class 'nfs' This all works well. When the claim is made the volume is create and is named by k8s.  I need to use the api to retrieve the volume name.  When I create the claim I add a label.
[code]

Now after it is created, I need to retrieve the volume name ( .i.e. pvc-506db5ac-336a-4cf3-bae0-59f65a518994 )

[2020-11-05 06:53] #461 closed

[2020-11-05 10:51] jgehrcke commented on #414
@d-cs thanks for the write-up above. Would you mind having another look at https://github.com/sindresorhus/got ?

In our projects (TypeScript codebase, NodeJS runtime) we've been using the HTTP client https://github.com/sindresorhus/got for more than a year now, with good results. I selected it in particular for its timeout control, error handling, configurable retrying behavior.

I would love to

[2020-11-05 15:01] #459 closed

[2020-11-05 18:20] #549 closed

[2020-11-05 18:21] Daxcor69 commented on #549
This is is now not required, as I found out how to set my own pvc volume  name.

[2020-11-05 18:33] ccravens commented on #547
@brendanburns I re-worked this a bit on my end and am not able to reproduce, it seems like it is working properly now! Not sure what I fixed, but maybe it was adding the namespace attribute to the ServiceAccount object?

From this:

[code]

To this:

[code]

[2020-11-05 18:35] #547 closed

[2020-11-05 18:45] brendandburns commented on #547
Yeah, that's definitely true. You need to have namespace in the JSON object and in the path

[2020-11-09 12:55] Milesjpool opened #550 "Cannot proxy requests with query-parts to services in v0.13 [bug/question]"
### Context
We have successfully been using `connectGetNamespacedServiceProxyWithPath` to proxy requests since version 0.9.x
We use it like so:
[code]
Which (in 0.9) resolves as a successful request to
`.../api/v1/namespaces/my-namespace/services/my-service:9090/proxy/api/query?q=somequery`

----
Since upgrading to v0.13 this functionality has broken for us. I've done a little digging and think it

[2020-11-09 19:29] Daxcor69 opened #551 "ConnectPostNamespacedPodExec - fails can't upgrade to websockets"
I am trying to execute a command in a pod from the api CoreV1Api and I get an error, here is error object... Note I have edited out any  host info and bearer token, so that is not the issue.  Based on googling it is an issue with unable to upgrade the connection.  Thoughts?

[code]

[2020-11-09 22:21] mariusziemke opened #552 "Done handler gets called twice when watch aborts"
When trying to do a continuous watch on kubernetes resources I noticed that the done handler gets called twice when the connection to the kubernetes api server aborts unexpectedly.

I don't have time to look deeper into this at the moment, but I guess it's because the `error` and `close` events both get fired on the request and both of them trigger the callback function.

Currently I just use a de

[2020-11-10 05:24] brendandburns commented on #552
There was the beginning of a fix here:
https://github.com/kubernetes-client/javascript/pull/505

I should revisit it.

I believe this is the root cause of #494 also.

[2020-11-10 05:25] brendandburns commented on #552
Also, the trick is that what if someone only registers `close` shouldn't that also be called if it is closed b/c of an error?

[2020-11-10 14:01] mariusziemke commented on #552
Good point. But `close` is called after an error anyways isn't it? Can we just save the error in a local variable and check if it is set after the connection got closed?

[2020-11-10 16:39] brendandburns commented on #552
I think I'm just going to split the callback out and make it explicit that there is a `done` and an `error` callback and let the client handle the difference

[2020-11-12 02:07] brendandburns commented on #551
You can't use CoreV1API for exec (sorry we should probably strip those methods from swagger before generating) please have a look at the exec example here:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/exec/exec-example.ts

[2020-11-12 02:08] brendandburns commented on #550
Thanks for the report, I will investigate this a little more and see what is going on.

[2020-11-12 16:29] izhilenkov commented on #110
@moshfeu #83 isn't a Promise at all. It's piping data to your stream.

[2020-11-12 20:58] kingdevnl commented on #110
Yup i'm stuck at this aswell

I realy need a way to follow the logs so I can pipe them to a socket.io connection

[2020-11-13 22:24] brendandburns commented on #552
Please have a look at #555

[2020-11-13 22:54] mariusziemke commented on #552
LGTM! Thank you!

[2020-11-15 04:09] Daxcor69 commented on #551
Ok i followed the ts example you suggested. i converted it to javascript as that is what I am used to.  I am not sure why I am getting the error. There is no information other than 'Unexpected server response: 400.  I am running these two processes on the same computer with the same .kube/config file.  The only difference I can see is the client used to access the api.

[code]
When I run this i ge

[2020-11-15 05:03] Daxcor69 commented on #551
could this be a version issue, the cluster is 1.18.8 and the client version I have is 0.13.0, the readme shows a "+" for compatibility, could this be one of the items that is not supported?

[2020-11-15 20:32] sundarvc opened #556 "Angular support"
Hi team,

Does the javascript library work with the latest angular framework ?
I am getting many build issues e.g.

ERROR in ./node_modules/jose/lib/jwe/decrypt.js
Module not found: Error: Can't resolve 'zlib' in '/Users/i821932/work/SSC/POC/kyma-luigi-ui/node_modules/jose/lib/jwe'

ERROR in ./node_modules/jose/lib/jwe/encrypt.js
Module not found: Error: Can't resolve 'zlib' in '/Users/i821932/wor

[2020-11-15 22:34] brendandburns commented on #556
Assuming you mean angular + browser, then the answer is no. This library only works in nodejs.

In general, accessing Kubernetes API servers from the browser is tricky because most kubernetes servers have their own certificate authority and your browser won't accept an SSL connection with the api server.

[2020-11-15 22:34] #556 closed

[2020-11-15 22:36] brendandburns commented on #551
No, this should work that protocol hasn't changed in a while. I will validate that this works in my local cluster.

[2020-11-15 22:39] brendandburns commented on #551
Can you print out the body from that response, it should contain some details about why it is a bad request.

[2020-11-16 02:03] Daxcor69 commented on #551
I am sorry, I am still learning how to use the api and javascript. I can't figure out how to see the contents of the body.  I will keep working at it and post when I figure out how to do that.

[2020-11-16 02:39] Daxcor69 commented on #551
ok, I was able to get this method to work.  There is something in the os of the pod I am trying to access that is erroring out the exec command.  I started up a simple ubuntu shell and I was able to use the method to successfully exec "ls" on the pod. I would consider this issue closed, as I don't think it is an issue with this package.  If you think I have found something that is unique, I am hap

[2020-11-16 03:43] Daxcor69 commented on #551
ok I think you should just delete this whole issue as I clearly don't know what I am talking about.  It now works. I am sorry to waste your time.

[2020-11-16 16:29] #552 closed

[2020-11-16 16:30] brendandburns commented on #551
Given what you are saying, I think the problem may have been that the container was exiting. e.g. you were trying to connect to a Pod that wasn't running.

Regardless, I'm glad you got it working. Closing this issue.

[2020-11-16 16:30] #551 closed

[2020-11-18 17:13] Nokel81 opened #557 "loadFromString produces fails to validate yaml"
Current Behaviour:
If you pass a string to `loadFromString` that is not the expected yaml format (for instance is a string representing a path to a file) the function happily plows through assigning all the fields to `[]`.

Expected Behaviour:
Some form of validation occurs in this case, and errors thrown if something unexpected comes up

[2020-11-19 01:02] brendandburns commented on #557
I'm not sure what the expectation is here. The YAML didn't throw an exception, how can we determine if it was incorrect?

If you have ideas and want to implement something we'd be happy to consider a PR.

[2020-11-19 11:41] jgehrcke commented on #544
Just a quick updated @brendandburns we kept seeing O(1 min) time to pass before the connect timeout hits in with the above's code. Didn't investigate further though.

[2020-11-19 13:11] Nokel81 commented on #557
So a plain string is considered valid YAML, however it isn't the sort of thing that should pass validation (imo). This would only be wrong if this package shouldn't do that sort of validation.

Namely: I think that the following code should throw an error.

[code]

[2020-11-20 13:05] drubin commented on #557
I think the issue here is in the naming and expectations

`loadFromString` seems to me you are loading the config from a string-based config (json or yaml)

Maybe we can add another more explicit API which is load from file

[code]

I suspect we might even have the above (but naming might be different)

I agree with @brendandburns here and saying this type of logic is incredibly hard to detect and

[2020-11-20 13:34] Nokel81 commented on #557
There is `loadFromFile` already. I thought that some simple validation that the yaml passed in to `loadFromString` is of the "correct shape" would be useful.

[2020-11-21 19:03] sundarvc opened #558 "Need to create a resource in UI"
Hi k8s team,

I have a yaml like mentioned below and need to call a k8s javascript api from my ui to create this resource.
Which api do I use ? By the way , this yaml works from from the command line; just need to use this in my JS UI.

yaml String = `apiVersion: hydra.ory.sh/v1alpha1
kind: OAuth2Client
metadata:
  name: ${CLIENT_NAME}
  namespace: ${CLIENT_NAMESPACE}
spec:
  grantTypes:
    - "cl

[2020-11-22 22:30] brendandburns commented on #558
Have a look at `yaml.ts` (https://github.com/kubernetes-client/javascript/blob/master/src/yaml.ts) and also the `yaml-example.ts`

https://github.com/kubernetes-client/javascript/blob/master/examples/yaml-example.js

That should get you what you need.

[2020-11-22 22:30] #558 closed

[2020-11-22 22:33] brendandburns commented on #557
I think that the best thing to do is to probably add some logic that is a test like:

`isEmptyConfig(config)` which tests if the config is empty (e.g. no clusters, no users, etc)

Then you could do something like:

[code]

We'd be happy to take a PR adding that test.

[2020-11-24 18:52] maxweisel opened #559 "Unable to detect if a watch is active"
This is the same bug that occurred in the Go client library here: https://github.com/kubernetes/kubernetes/issues/65012

Essentially if you create a watch stream and the connection is severed, the stream is unaware and believes it is open. It will stay open forever and just stop reporting events instead of trying to reconnect. This occurs anytime our k8s control plane is updated. Ideally it would

[2020-11-25 16:23] brendandburns commented on #559
Thanks, please see the discussion of alternatives to `request` here:

https://github.com/kubernetes-client/javascript/issues/414

The main problem with switching libraries is that all of this code is generated by the OpenAPI Generator project:
https://github.com/OpenAPITools/openapi-generator

We could change generators, but that would also result in significant breaking API changes in the library

[2020-11-26 21:28] flyboarder commented on #414
As per the generator docs, typescript-fetch should produce a node compatible version.

[2020-11-26 21:29] flyboarder commented on #559
@brendandburns I would be willing to attempt migrating to a new generator.

[2020-11-27 09:06] entropitor commented on #559
@maxweisel Thank you for discovering this! We have been plagued by this and I wasn't sure what the problem was

@jhagestedt It seems https://github.com/kubernetes-client/javascript/commit/1b313ce09ad2f50ba1292e07e87386b2fa03e3df might be the culprit. Why is the timeout set to 0?

(Although I'm using 0.11.1 and I also seem to have the problem)

[2020-11-27 09:25] entropitor commented on #559
I also wonder whether https://github.com/kubernetes-client/javascript/blame/master/src/cache.ts#L86 should maybe be before calling the error handlers so that if the error handlers immediately restart, it might end up in a stopped state because we first started (stopped = false) and then the error handler sets it back to "stopped"

[2020-11-28 18:03] maxweisel commented on #559
@brendanburns fwiw, I don't think setting the socket timeout to one minute is an acceptable solution here. Our control plane runs a very large number of pods and when the stream initially connects it will send the entire list of all running pods and their current states.

Our application fields requests by spinning up pods to do work. If our watch stream goes down, our service grinds to a halt as

[2020-11-28 21:25] brendandburns commented on #559
@flyboarder

I'd welcome the help.

The generator is here:

https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-node

I don't know if it is easier to clone the generator into a new directory and create a whole new generator, or to introduce a flag and just patch around the calls to `request` with calls to `got` or someother modern H

[2020-11-28 21:26] brendandburns commented on #559
@entropitor that code hasn't been released in any published versions yet, so I don't think it is causing this issue. (we should make it configurable though)

[2020-11-28 21:27] brendandburns commented on #559
@maxweisel if you want to re-implement the watch code to use http 2 I'd be glad to take a PR.

[2020-11-28 21:41] brendandburns commented on #414
@flyboarder it's not just about being node compatible. We need it to be API compatible. Meaning that any user of this API doesn't have to update their code. I don't believe that is the case with the fetch generator (though we could test and see)

We could take a one-off breaking change, but this library has _lots_ of users as far as I can tell from the npm statsand it seems pretty drastic to break

[2020-11-30 18:39] maxweisel commented on #559
Thanks for the notes. My use case is more complex than I let on and an admission controller is not a reasonable solution for me unfortunately :(

I'd be happy to throw an http2 ping PR together. A quick glance at `request` looks like I can't easily use http2 there. `got` looks great, but it uses `http2-wrapper` which makes accessing the http2session object needed to send a ping a little difficult.

[2020-11-30 19:38] sfxworks commented on #165
On our end we use OpenID that requests a token. I believe it isn't entirely uncommon to integrate something like google's oidc with the kube-api server.

I'd also like to voice the thought of at least including `attach`. Though similar I would love to develop a dashboard that I can let users quickly attach to their pods since some of their programs have tty/stdin.

[2020-12-01 00:45] garrit-schroeder opened #561 "Sending commands to pod"
I would like to setup a database using the javascript client.

but i can not even get creating a test file to work. How can i proceed?

I need to exceute the following commands:

`mysql -u user -p password`

`CREATE DATABASE <database-name>;`

`CREATE USER '<user-name>'@'%' IDENTIFIED BY '<user-password>';`

`GRANT ALL ON <database-name>.* TO '<user-name>'@'%';`

`FLUSH PRIVILEGES;`

       let co

[2020-12-02 01:03] brendandburns commented on #559
@maxweisel thanks for being willing to take on a PR. I don't mind if we use a totally separate HTTP2 API for watch, however we should definitely make sure that we can reuse all of the authentication and configuration code.

e.g. if you wanted to re-implement `watch.ts` with a native node HTTP2 I think that's fine, as long as the interfaces/apis defined in that file stay the same.

[2020-12-02 01:08] brendandburns commented on #561
I think the problem is that you are `await`-ing the result of the exec and then trying to write into the shell after the execution is done.

If you remove the `await` I think it will work correctly.  Although you will also need to send a newline (`\n`) to get the shell to actually pick up the command since bash will wait for the user to hit `enter`

[2020-12-03 16:54] garrit-schroeder commented on #561
Thanks. I got it working.

For anyone wondering. This works for me:

        let exec = new k8s.Exec(kc);
        var myws = new Stream.Readable({
            read(size) {
            }
        });
        exec.exec('mysql', 'mysql-master-0', 'mysql', '/bin/bash', process.stdout, process.stderr, myws, true)
        myws.push('touch /opt/test.txt\n');

[2020-12-03 17:44] brendandburns commented on #561
Closing since the problem is resolved.

[2020-12-03 17:44] #561 closed

[2020-12-05 00:12] codejamninja opened #563 "Access MetaOld when watching a resource."
How do I access the previous metadata when watching a resource. I need to create a predicate to filter based on whether the metadata.generation id changed.

In order to do this, I need access to the previous metadata.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/predicate/predicate.go#L139-L154

[2020-12-05 00:22] codejamninja commented on #563
Basically I need to do event filtering.

https://sdk.operatorframework.io/docs/building-operators/golang/references/event-filtering/

[2020-12-05 00:25] codejamninja commented on #563
Here is the EventFilter implementation in the GoLang controller-runtime.

https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/builder/controller.go#L138-L145

[2020-12-05 16:58] brendandburns commented on #563
The golang client library is significant thicker than the javascript library and has a bunch of code for doing things like this. This library doesn't have many of those capabilities. For now you will need to maintain the old version in memory somewhere and do the comparison yourself.

We're definitely open to adding more code to the client to support these more advanced use cases, so if you are wi

[2020-12-06 10:01] codejamninja commented on #563
Ok thanks

[2020-12-08 01:55] brendandburns commented on #563
Closing this issue since I think the question is answered. Please use `/reopen` or file new issues if you need further assistance.

[2020-12-08 01:55] #563 closed

[2020-12-09 00:55] paolomainardi opened #564 "Write events to custom objects (crd)"
Hi everyone!

Sorry in advance if i'm asking something that has been already answered before, but i cannot find any reference to it.

What i'm trying to achieve is to publish events to custom objects (a CRD in my case), something like this one: https://book-v1.book.kubebuilder.io/beyond_basics/creating_events.html

Can you point me some doc or api that i can use ? Thanks!

[2020-12-09 02:01] brendandburns commented on #564
You'll want to use the custom objects API here:

https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/customObjectsApi.ts

[2020-12-09 02:02] brendandburns commented on #564
Oh, wait, do you want to send Event resources or modify a CRD?

For the CRD you want the customObjectAPI, for events, you want the event API:

https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/eventsV1Api.ts

[2020-12-09 02:55] paolomainardi commented on #564
Hi @brendanburns thanks a lot for your quick reply.

I want to send Event resources, thanks for the link. I still haven't understood the relationship between objects and events, just to be clear the events I see when I describe an object (not kubectl get events).

[2020-12-09 23:27] brendandburns commented on #564
Events have an `involvedObject` field which indicates what the event is related to, in your case the involvedObject is the CRD resource.

Closing this issue as I believe the question is answered.

[2020-12-09 23:27] #564 closed

[2020-12-09 23:46] paolomainardi commented on #487
There is another scenario where the Date is broken: `CoreV1Event.eventTime` which is defined as a `Date` here, but the api server expects a `metav1.MicroTime` https://github.com/kubernetes/api/blob/master/events/v1beta1/types.go#L41

This what i have trying to post an event with eventTime set as a `new Date()` then converted into `data.toISOString` by `models.js` serialize method

[code]

[2020-12-13 08:32] arikbidny opened #566 "Connect with loadFromOptions to AWS EKS Cluster"
Hey,
I'm trying to connect with kc.loadFromOptions to AWS EKS CLuster,
Do you have some example how to implement ,
I have the certificate authority data and all the details when I'm connecting to EKS cluster but I'm getting No active cluster! error .

[2020-12-14 02:54] minotaurrr opened #567 "Auth and exec from lambda"
I cannot figure this one out..

Trying to let lambda to login to a pod and execute a command.

[code]

I get this error

[code]

Any idea why?

[2020-12-14 03:48] brendandburns commented on #566
Sorry, no examples beyond what is here:
https://github.com/kubernetes-client/javascript/tree/master/examples

If `kubectl` works, then this library should work correctly. If it doesn't please include the contents of your `$HOME/.kube/config` file (after anonymizing any keys/certs in it of course)

[2020-12-14 03:52] brendandburns commented on #567
Your best bet is to print the response body, it's likely to have more details about why this is a bad request.

[2020-12-14 05:33] minotaurrr commented on #567
@brendandburns thanks, the container name was wrong in this case.. closing

[2020-12-14 05:33] #567 closed

[2020-12-15 00:20] minotaurrr opened #568 "Pod exec - unable to see log in lambda"
I'm trying to run a command inside a pod and log it in lambda console but it's not printing the results after it runs the command.

[code]

instead of process.stdout i tried console.log but still didn't work

any idea how to do it?

[2020-12-15 17:43] brendandburns commented on #568
The exec command expects a Stream, if you pass a stream that writes to the Lambda console, it should work.

[2020-12-15 17:43] #568 closed

[2020-12-16 09:17] arikbidny commented on #566
kubectl works for me , its my kubeconfig in json format:

 const jsonContext = {
                    "apiVersion": "v1",
                    "clusters": [
                      {
                        "cluster": {
                          "certificate-authority-data": "*********"
                        },
                        "name": "arn:aws:eks:eu-central-1:accountId:cluster/clusterName"

[2020-12-16 16:26] edqd commented on #494
yep, exactly the same thing is happening in our app
![image](https://user-images.githubusercontent.com/4508655/102376345-d767aa80-3fc3-11eb-84f3-62e3e19bcea7.png)
any progress?

[2020-12-16 22:11] brendandburns commented on #566
It looks like in your config the cluster doesn't have a hostname specified. Is there a reason why you are encoding your kubeconfig in your Javascript file? This client can load it from a file.

[2020-12-16 22:29] ccravens opened #570 "Deleted Namespace Keeps Sending Events to Informer"
I have an informer listening to StatefulSets on all namespaces, I add a StatefulSet object, delete the entire namespace, but the informer keeps firing the `handleDelete(obj: V1StatefulSet)` event over and over and over, even with the same resourceVersion number.

Is this expected behaviour?

[2020-12-17 17:51] brendandburns commented on #570
If the namespace is truly deleted, this sounds like a bug. It is possible if your apiserver is having trouble deleting the StatefulSet, then it would be expected, since the delete controller would try to repeatedly delete the StatefulSet.

if you run `kubectl get namespaces` do you still see the namespace?

[2020-12-18 15:53] ccravens commented on #570
Hey @brendanburns so I'm trying to debug this, I've been using informers with this same library version and same k8s version (1.17) for like 6 months now with no issues. I'm not sure why this is happening all of the sudden.

I'm getting the exact same event (update event, exact same obj received I checked using a diff tool) received repeatedly every 1 second. It seems to stop when I delete the nam

[2020-12-18 15:57] ccravens commented on #570
Here's an example of an intermittent message I get about ETIMEDOUT to my k8s cluster:

[code]

[2020-12-18 16:13] ccravens commented on #570
Ok, may have figured it out... 🤦‍♂️ so the mystery 1 second resend was due to my error handling:

[code]

The reason I was having errors was due to an incorrect path. So for the Core API it looks like this:

[code]

But for other APIs like batch and apps it looks like this:

[code]

Notice the `s` at the end of `/apis`... Hopefully someone else finds this post helpful, thanks!

[2020-12-18 16:13] #570 closed

[2020-12-18 17:05] brendandburns commented on #570
Yep, that's a legacy problem. The original Kubernetes api (`/api/`) was not designed with an eye towards multiple different api groups.

[2020-12-18 17:07] brendandburns commented on #494
@edqd couple of things:

1) This looks like a RAM graph, not network connections. I would not expect that a growth in connections would cause that much memory usage (though I could be wrong)

2) What version are you running? I believe that this is fixed in 0.13.0

Thanks

[2020-12-19 16:23] brendandburns commented on #494
I just pushed `0.13.1` which contains (I hope) the fix that merged in #555

Please test that and see if it fixes things for you.

[2020-12-19 22:05] gabegorelick commented on #137
This is still an issue. `KubeConfig` in particular has a bunch of places where it does sync I/O without it being documented.

[2020-12-20 14:54] arikbidny commented on #566
I tried without success,
How I can load from file if the kubeconfig in same folder because './kubeconfig' path not works

[2020-12-21 16:00] DocX commented on #494
Hi @brendanburns

Thanks for releasing the new version `0.13.1`. We have deployed the updated today, but it unfortunately looks like it did not really help :(

![Screenshot 2020-12-21 at 16 55 16](https://user-images.githubusercontent.com/132277/102795786-9568ab00-43ad-11eb-9288-bad584c82da5.png)

Not sure if we do something wrong tho. This is our code that we use to register the informer:
[code]

[2020-12-21 19:25] brendandburns commented on #494
@edqd
Your code looks reasonable to me.

It's a little hard to tell, but it doesn't look to me like you are getting any errors?

If you are getting errors, it would be interesting to see if you are getting duplicate errors for some reason.

In either case, I think the informer should be doing the right thing. Do you have monitoring for the number of active TCP connections from your code?

That's t

[2020-12-21 20:31] brendandburns commented on #494
So I dug into this a little more and I found a bug in the caching such that the cache was never emptied when a delete occurred after the connection re-connected.

It definitely will cause a memory leak, especially if you are creating/deleting a lot of pods.

I'll send a PR with the fix.

[2020-12-21 20:40] brendandburns commented on #494
See https://github.com/kubernetes-client/javascript/pull/572

[2020-12-21 20:41] brendandburns commented on #494
@DocX if you wanted to review #572 we can get it merged and into a patch release for you to try.

[2020-12-21 20:45] DocX commented on #494
@brendandburns Hi, Thanks for quick reply.
If you can create a release that would be great, because I had troubles installing the package directly from git. Then we can give it another try.

I will also try to see if we can get network connections metrics. Thanks for tip.

[2020-12-22 06:17] brendandburns commented on #494
@DocX I need someone to review the fix, then I can push it into a release. If you're comfortable, have a look at #572 otherwise I can wait for a review from someone else.

[2020-12-22 11:04] entropitor commented on #559
What is the best way to move forward?

@brendanburns Do you see a way of fixing this bug this without having to go to HTTP2?

[2020-12-22 15:24] NicolasT commented on #165
I'm updating my branch with current upstream as we speak. However, getting isomorphic support upstream, even if this is only for a part of the library/API, would help a lot and remove the somewhat tedious work to keep things in sync.

In our application, we have a SPA which talks to K8s API using only CRUD APIs. Authentication is using bearer tokens (which the SPA retrieves from the IdP using the

[2020-12-22 18:26] DocX commented on #494
Got some data on the network connections. There seem to be some difference - before it raised from ~500k to ~1000k connections, with `0.13.1` looks like it is staying around ~500k. Tho the traffic still follows the informer events curve:

<img width="819" alt="Screenshot 2020-12-22 at 19 20 22" src="https://user-images.githubusercontent.com/132277/102920469-1f3a7600-448b-11eb-81c8-764c7ac4b96a.png

[2020-12-23 02:39] brendandburns commented on #494
@DocX thanks for the additional data.

sadness that this doesn't seem to be fixed! I'll keep digging and seeing if I can add better tests...

[2020-12-23 02:39] brendandburns commented on #494
@DocX one other thing is that this code is continuously re-listing from the start instead of from the current resource version. I need to optimize that (it's been a long-standing 'todo')

[2020-12-23 02:54] brendandburns commented on #494
@DocX I just pushed `0.13.2` that contains the cache clearing fix (and your pre-pack PR too) I'll see about investigating this further.

[2020-12-24 15:22] XiaocongDong commented on #288
Hi, I am having the same issue, any update on this?

[2020-12-25 15:32] XiaocongDong commented on #494
Hi @jc-roman , I am having the same issue here, could you provide a working example of using Watch for the replacement of Informer?

[2020-12-27 16:55] brendandburns commented on #566
[code]

Should work correctly. If it doesn't please send the code and the exception you see to this issue.

[2021-01-03 10:01] #465 closed

[2021-01-03 20:11] #481 closed

[2021-01-05 05:32] brendandburns commented on #494
Ok, taking another stab at this (since I can't seem to repro it locally) I sent #575 which explicitly aborts and deletes the connection before initiating a new watch. If someone can patch and try that it would be appreciated.

[2021-01-05 06:11] XiaocongDong commented on #494
Hi @brendanburns , I have tried this approach before you made this change, but unfortunately this didn't help.

[2021-01-17 22:37] entropitor commented on #447
/remove-lifecycle stale

[2021-01-18 03:34] wizzed opened #577 "Trying to connect to EKS"
I was trying to connect to EKS, but the error occurs when this piece of code is run
[code]

The error is as follows:
[code]

I tried looking at #566, but it's a different problem I guess.

[2021-01-19 10:44] geoffpatehutch commented on #559
I found this issue as we're seeing the same problem. Sorry this isn't a full PR fix, but as a slightly fudged workaround, we fixed the issue by wrapping the Watch and Informer in our own class and injecting an HTTP2 request (rather than using the default request implementation) which we can keep open and check the status of the underlying stream. Hope this example code helps someone:

`"use strict

[2021-01-19 19:59] brendandburns commented on #577
That is perhaps not a great error message, but I think that the problem is that the command to get the AWS token doesn't exist in your path.

Have a look at your Kubeconfig and look for the command in there and validate that it is on your PATH

[2021-01-21 04:21] ccravens opened #578 "Port Forward to Service Rather Than Pod"
This example shows how to port forward to a pod:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/port-forward/port-forward.ts

However, pod names are appended with a random string and difficult to obtain, and port-forwarding to a service is a completely valid kubectl command:

[code]

Service names can remain static based on pre-determined configuration and are muc

[2021-01-21 04:35] ccravens commented on #578
Ah, after investigating the client source code, the k8s api and looking at the `kubectl` verbose output it appears it does a query first to get the pod name:

[code]

I'll just implement this on my side, going to go ahead and close :)

[2021-01-21 04:35] #578 closed

[2021-01-21 16:45] brendandburns commented on #566
Closing this issue, please file a new issue if you continue to see problems.

[2021-01-21 16:45] #566 closed

[2021-01-24 04:43] adrianord opened #579 "KubeConfig.loadFromDefault currentContext is inconsistent with kubectl with multiple kubeconfigs"
When using multiple kubeconfigs through the `KUBECONFIG` environment variable, `kubectl` always uses the first file in the `KUBECONFIG` environment variable to grab the current context.

One example found here
https://github.com/kubernetes/kubectl/blob/952f50e545b14e0a2a0781ef47c342cdba5a8c54/pkg/cmd/config/current_context.go#L62-L76

However, because `loadFromDefault` uses `mergeConfig`, it alway

[2021-01-26 01:31] #579 closed

[2021-01-27 06:08] ecda909 opened #581 "createNamespacedSecret Request Structure For Docker Registry Secret"
Hi, I need help figuring out how to write the request body for creating a Docker Registry secret. My standard kubectl request looks like:

`kubectl create secret -n <namespace> docker-registry <key_name> \
--docker-server=gcr.io \
--docker-username=_json_key \
--docker-password="$(cat /path/to/key.json)" \
--docker-email=<email>`

Then,

`kubectl patch serviceaccount default -n <namespace>  -p '{"

[2021-01-27 10:14] thejasbabu commented on #563
Hey @brendanburns, any timeline on when this would be available? We would also like to get a similar type of update event, where we have the old object as well as the updated object.

[2021-01-27 13:14] soerenbrockmann commented on #367
A bit late but are you looking for this example here?
https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/apply/apply-example.ts

Just create a yml file with your resource and apply it.

[2021-01-27 20:00] polaroi8d commented on #349
You are a real herooo 👍

[2021-01-27 20:05] polaroi8d commented on #442
@SaschaHeyer do you have the example code on how u solved the Create Deployment issue?

[2021-01-27 20:36] SaschaHeyer commented on #442
Hi @aaomidi
Hi @polaroi8d

hope this helps.
To create a namespaced deployment you have to use the `k8s.ExtensionsV1beta1Api`

[code]

[2021-01-28 09:26] polaroi8d commented on #442
Thanks @SaschaHeyer, yess I found that the API  that I am using is not implemented the `createNamesapcedDeployment`.

Thanks for the reply.

[2021-01-28 09:28] SaschaHeyer commented on #442
You're welcome

[2021-01-29 00:05] brendandburns commented on #581
If you add `--v=10` to the `kubectl` command you will see the messages sent over the wire, that should help you figure out what the body needs to be.

[2021-01-29 12:12] #489 closed

[2021-01-31 16:27] ianwalter commented on #313
Was this ever done? It seems like it's still using `extensions/v1beta1`?

[2021-02-02 09:52] DocX commented on #494
The latest master with #576 seems to have fixed the leak. See the network and memory usage on our app, the spikes are from before, and after that the current master is deployed:

<img width="898" alt="Snímek obrazovky 2021-02-02 v 10 48 26" src="https://user-images.githubusercontent.com/132277/106582628-7f214380-6544-11eb-9ed7-c7c5a21031dd.png">

[2021-02-02 10:43] polaroi8d commented on #370
Any update on this? I would like to define a new V1Service object and the targetPort is an `object` type and I can't build it. Error: `Type 'number' is not assignable to type 'object'.ts(2322)`

[2021-02-04 03:12] ianwalter opened #582 ""cannot convert int64 to float64" error when trying to apply cert-manager CRD"
Using this client (KubernetesObjectApi like in the apply example) to create the cert-manager CustomResourceDefinition found here:
https://github.com/jetstack/cert-manager/releases/download/v1.1.0/cert-manager.yaml

I am getting the error `cannot convert int64 to float64`. I haven't been able to find much information on this other than the go client may have/had the same issue. All the other resour

[2021-02-05 17:09] kenanarica commented on #295
For anybody struggling with this issue- What worked for me was setting the node environment variable `export NODE_TLS_REJECT_UNAUTHORIZED=0`. Remember that changing Node's TLS/SSL settings may have consequences depending on your context, so do it at your own risk!

[2021-02-06 19:21] stavalfi commented on #536
After googling and coming here, I had some questions about how to properly use watch.

@brendanburns @julesrenaud , If you have some spare minutes, maybe you can help me out: https://stackoverflow.com/questions/66080942/what-k8s-bookmark-solves

You can answer here or there.

Thanks so much,
Stav

[2021-02-06 21:30] stavalfi commented on #536
also, @brendanburns can you clarify what execatly we need to assert while watching for changes in the deployment?

I want to make sure that I'm doing the same as `kubectl rollout status <deployment name>`.

Thanks!

[2021-02-06 22:29] stavalfi commented on #536
I'm facing the same issue.

@julesrenaud From the source code of kubectl (https://github.com/kubernetes/kubectl/blob/a2d36ec6d62f756e72fb3a5f49ed0f720ad0fe83/pkg/polymorphichelpers/rollout_status.go#L59), Your assumption looks wrong.

@brendanburns the algorithm is not straightforward. I think that the original request for an abstraction from this repo is justified.

Can you help us out?

[2021-02-10 13:59] Agreon opened #583 "Expose types from config_types.ts"
It would be cool to access types that are needed for `loadFromClusterAndUser`  like e.g. `Cluster` or `User`.
Those are defined in [config_types.ts](https://github.com/kubernetes-client/javascript/blob/master/src/config_types.ts) which is not exported at the moment.

[2021-02-10 19:33] brendandburns commented on #583
Happy to take a PR for this. Thanks!

[2021-02-11 21:40] Nokel81 commented on #414
I think that a one off breaking change would be acceptable (especially since this package isn't even `1.0.0` yet). I would vote for `got` as I think that it has the most mature API.

[2021-02-11 22:16] arsnyder16 commented on #559
@geoffpatehutch Have you seen any issues with the code above? I am running into a similar problem where the watch connection closed but the library still thinks its open.

@brendandburns Is there any thought to adjusting the implementation simply for watch?

[2021-02-12 04:50] #583 closed

[2021-02-12 14:17] arsnyder16 commented on #559
@brendandburns  I took @geoffpatehutch idea here and made a more general purpose drop in replacement for the request implementation for watches, i am goign to test this out the next few days.   I realize there has been work in master changing the signature of this so it no longer takes a callback.  what i have below matches the latest release 0.12.1

[code]

usage is just simply

[code]

[2021-02-12 21:44] stavalfi commented on #402
any test runner can't work with it AND also we can't write CLI tools as well for the same reason.

closing the informer is pretty valid scenario.

is there any progress on this?

[2021-02-15 02:41] arsnyder16 commented on #559
@brendandburns I was able to reproduce this fairly consistently in an AKS cluster, where the connection would seem to be open but in reality it was not

Curious if you experience the same:

https://github.com/arsnyder16/watch-rst-issue

[2021-02-15 16:17] DocX commented on #494
@brendandburns Hello. What is the timeline for when we can expect new release with the fix? Thank you :)

[2021-02-15 19:04] ivanstanev opened #586 "Using Informer with a list() with pagination?"
Hey, is it possible to use the Informer API and provide it with a list function that can handle pagination?

Right now it seems that I can only list all the workloads in the cluster, would that not cause rate limiting issues?

[2021-02-16 16:10] brendandburns commented on #494
@DocX I want to rev the Kubernetes version to 1.20 and then include that in the release. ETA end of the week, hopefully sooner.

[2021-02-16 16:18] brendandburns commented on #582
Sorry, I think this is beyond the scope of this library. I suspect that there is an issue in your YAML->JSON conversion somewhere, but I don't think that it is caused by a bug in the library. I'm closing this issue. Please use the `/reopen` command if you have further questions or need more assistance.

[2021-02-16 16:18] #582 closed

[2021-02-16 16:20] brendandburns commented on #586
The list function needs to implement the `ListPromise` interface:

[code]

As long as your function implements that, then it should work.

[2021-02-17 12:53] doguh opened #587 "KubernetesObjectApi.read to list resources"
Hey there,

I'm working on a project that involves Kuberentes and Agones. (Note that I'm pretty new to both so I'm maybe doing it wrong)

The issue I have is that `KubernetesObjectApi.read` requires a name to perform the request and return a result. If we don't give them a name it will throw a `Required spec property name is not set` Error.

If I understand this correctly this mean we cannot use t

[2021-02-17 16:03] brendandburns commented on #587
I think this is a gap in the generic API. I think we should add a `list` method to `KubernetesObjectApi`

We'd be happy to take a PR to add this.

[2021-02-17 16:03] brendandburns commented on #494
@DocX #585 has merged, I will try to cut a `0.14.0` release today.

[2021-02-17 18:03] DocX commented on #494
Awesome thank you. No pressure :)

[2021-02-17 19:23] doguh commented on #587
Something like this: https://github.com/kubernetes-client/javascript/pull/588

[2021-02-18 10:22] #586 closed

[2021-02-18 15:43] ivanstanev opened #589 "Retrying to start the Informer on AKS never succeeds and ends up in immediate ECONNRESET"
Hey 👋

We've been users of the client library in our product for a while now. Recently we noticed that connections to AKS suddenly get interrupted (roughly 5 minutes after start) and we stop getting notified of new workloads in the cluster. We noticed it is because we didn't have an error handler (as defined in the example: https://github.com/kubernetes-client/javascript/blob/master/examples/types

[2021-02-18 16:23] brendandburns commented on #494
I just pushed `0.14.0` to npm. I'm closing this issue now (sorry it took so long to get resolved!)

[2021-02-18 16:23] #494 closed

[2021-02-18 16:25] brendandburns commented on #589
@ivanstanev I think it should help. I just pushed a new release (0.14.0) with the fix, please try it out!

[2021-02-18 17:03] ivanstanev commented on #589
Thanks for the super quick response, going to try it out now and let it run over the weekend and let you know how it goes!

[2021-02-18 21:30] sheldonkwok opened #592 "Incorrect cached token fetched with multiple kubeconfigs"
When using multiple kubeconfig files with the same `user.name` field, the kubeconfig user that is fetched first for `execAuth` will be used for all subsequent users that match the same name.

The issue arises here.
https://github.com/kubernetes-client/javascript/blob/master/src/exec_auth.ts#L74

I'm not sure if it's an antipattern to use multiple kubeconfigs but maybe we could document this if we

[2021-02-19 04:49] brendandburns commented on #592
Multiple kubeconfigs is really not supported very well in this client. It is definitely an unusual configuration in the wild.

That said, I'd be happy to take PRs to improve the handling of multiple kubeconfig files (or providing more explicit "we don't support this" messages)