[2018-01-03 08:10] svenefftinge opened #3 "No package.json"
There is no package.json.

[2018-01-05 23:48] brendandburns commented on #3
There's a package.json here:

https://github.com/kubernetes-client/javascript/blob/master/node/package.json

I don't think we need a top-level one, do we?

[2018-01-07 16:34] svenefftinge commented on #3
ok, it's a little uncommon, though. so you might see more people asking about it.

[2018-01-07 16:34] #3 closed

[2018-01-08 17:56] brendandburns commented on #3
The motivation was because I want both a `lib` and an `examples` directory and I didn't want to have my examples inside my lib.  How do other projects handle that kind of thing?

Thanks!

[2018-01-08 20:35] svenefftinge commented on #3
It would make sense to me if there were different `package.json` for the code and the examples, but I only see one package.json. You can specify in `package.json` that `examples` should not be published.

But the confusion for me might have been caused by the ts files sitting in the same directory as the `package.json`. They usually sit in some sort of source folder, so you can separate them from

[2018-01-08 20:44] brendandburns commented on #3
I'm definitely new to packaging a TS library, if you have pointers to canonical examples, I'm happy to re-factor the directory layout.

Thanks!

________________________________________
From: Sven Efftinge <notifications@github.com>
Sent: Monday, January 8, 2018 12:35 PM
To: kubernetes-client/javascript
Cc: Brendan Burns; Comment
Subject: Re: [kubernetes-client/javascript] No package.json (#3)

It

[2018-01-08 21:14] svenefftinge commented on #3
It was easier to just make a proposal, than explaining it :)
https://github.com/kubernetes-client/javascript/pull/4

Feel free to take anything you find useful and please ask if you have questions.

[2018-01-09 22:16] mbohlool opened #5 "Rename typescript to javascript through the code"
I saw the examples in the main page refer to the package name as typescript and I assume we will have them in other docs/code. This issue is to track the progress of renaming all of them to javascript.

[2018-01-10 22:16] #5 closed

[2018-01-24 16:12] runewake2 opened #7 "insecure-skip-tls-verify is Ignored in Kube Config"
When using `var k8sApi = k8s.Config.defaultClient();` to get the default client, if the users `.kube/config`  file includes a context with `insecure-skip-tls-verify` the `certificate-authority` is not necessarily going to be present. See example below:

[code]

In these cases the call to `defaultClient()` fails with the following error:

This is trigged by Config Types validation code which tests

[2018-02-02 03:18] JohnCMcDonough commented on #7
#8 should fix this issue.

[2018-02-02 03:54] JohnCMcDonough opened #9 "Package.json missing @types/bluebird"
The package.json currently has a dependency on the `bluebird` module, but doesn't include the typings for it. The means that any `Promise<...>` objects returned from the `Core_V1Api` are typed as `any`.

The fix is to include a dependency on `@types/bluebird`.

A temporary workaround is for the user to install `@types/bluebird`.

[2018-02-14 05:43] brendandburns commented on #9
I see this here:

https://github.com/kubernetes-client/javascript/blob/master/node-client/package.json#L34

Is there something missing?

Thanks!

[2018-02-14 14:12] JohnCMcDonough commented on #9
Weird. I seemingly got everything but bluebird when I installed. I blame our corporate proxy.

Yeah, this is a non issue, sorry!

[2018-02-14 14:12] #9 closed

[2018-02-16 06:37] #7 closed

[2018-02-21 08:09] hausdorff opened #13 "Publishes `.ts` files breaks build in all projects using `strict` option"
Publishing `.ts` files will cause builds to fail on all projects that are using TypeScript's strict null checking, even in the with `--skipLibCheck`, `--skipDefaultLibCheck`, and the `@kubernetes/client-node` file placed in the `excludes` list.

Instead, you probably want to:

* Apply the following diff to the `package.json`, so that the `dist/index.js` is properly targeted and the typings file `d

[2018-02-21 21:44] hausdorff commented on #13
Additionally, I'm hoping we can emit comments as part of the declaration as well. In the present form, the NPM package has the comments embedded in the TS code because we're shipping the TS code itself. If we do choose to go the route of generating `.d.ts` files, then we'll lose comments because the `.tsconfig` contains sets the option `"removeComments": true,`. Simply flipping this to `true` shou

[2018-02-21 22:59] hausdorff opened #14 "Consider making refactoring API object model"
I propose the following changes to the API object model:

1. Make non-required fields (and fields that aren't `apiVersion` or `kind`) in all API objects optional _e.g._, `containers: V1Container` -> `containers?: V1Container`.
1. Automatically generate [type guards][guards] to make it easy to condition on the types of API objects you're interacting with in TypeScript.
1. Change all API objects in

[2018-02-27 01:11] brendandburns commented on #14
@hausdorff

The API models object is generated from swagger codegen:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache

These changes seem reasonable to me, but they'll need to be done in that upstream project.

Thanks!

[2018-02-28 10:49] harin opened #15 "Do you have documentation?"
Where can I find the documentation for this client?

I am trying to scale my deployment, but the client doesn't appear to have the scale nor deployment command.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#deployment-v1-apps

[2018-03-07 04:32] brendandburns commented on #15
Yeah, this client was generated from 1.8.x sources, we likely need to regenerate to pick up 1.9...

[2018-03-07 04:32] brendandburns commented on #14
Closing this since swagger-codegen is the right place to fix this.

[2018-03-07 04:32] #14 closed

[2018-03-14 11:06] loginakhil opened #16 "Update api core to support kubernetes 1.9"
For eg : `/apis/apps/v1beta1/deployments`  has moved into core now and the new url is `/apis/apps/deployments`

**Cluster version info :**

[code]

Please update the apis

[2018-03-14 11:08] loginakhil commented on #15
@brendanburns  could you please regenerate the client code to support 1.9 ?

[2018-03-15 22:42] hausdorff commented on #16
Note that upgrading to v1.9 will likely involve serious changes to `api.ts`. For example, `V1beta2Deployment` -> `IoK8sKubernetesPkgApisAppsV1beta2Deployment`, and so on.

[2018-03-16 05:09] loginakhil commented on #16
Yeah i have seen those changes, either we should the refactor the existing repository to support all versions of kubernetes  apis or we should simply remove old (<1.9) version support

[2018-03-20 05:55] brendandburns commented on #15
@loginakhil Cool, thanks for the offer.

I just regenerated for 1.9.x and added docs.  The PR is here:

https://github.com/kubernetes-client/javascript/pull/17

You can get the next one.

Thanks!

[2018-03-20 05:55] brendandburns commented on #16
Changed to version `0.2.0` to indicate the potential changes from the `0.1.x` release set.

See:
https://github.com/kubernetes-client/javascript/pull/17

[2018-03-23 15:17] VEBERArnaud opened #19 "Missing Content-Type header on patch operation"
Hi,
Everytime I try to patch a node, I hit a HTTP 415
`the server responded with the status code 415 but did not return more information`.

After some researches, I found that the API wait for `Content-Type: application/strategic-merge-patch+json` header for PATCH operations.
But this header is not set.

Is there any way I can override headers before sending the request ?

[2018-03-24 20:47] rafaelcorreiapoli opened #21 "createNamespacedDeployment not available"
Hi! I'm using 0.2.1 and i've noticed that createNamespacedDeployment is not available on `Core_v1Api`
It is available only under Apps_v1Api but it is not clear for me how to use it
Can you point me in some direction please?

[2018-03-28 02:35] brendandburns commented on #16
Closing since #17 merged.

[2018-03-28 02:35] #16 closed

[2018-03-28 02:36] brendandburns commented on #15
Closing this as #17 is merged.

[2018-03-28 02:36] #15 closed

[2018-03-28 02:36] brendandburns commented on #13
Closing this since (I believe) the fix is now merged. Please re-open if this isn't true.

[2018-03-28 02:36] #13 closed

[2018-03-28 02:40] brendandburns commented on #19
If you override `this.defaultHeaders` on the client object it _should_ work, search for `let headerParams: any = (<any>Object).assign({}, this.defaultHeaders);` in `api.ts`

[2018-03-28 02:44] brendandburns commented on #21
Look at the code here:

https://github.com/kubernetes-client/javascript/blob/master/node-client/src/config.ts#L186

You need to do something similar but replace `Core_v1Api` with `Apps_v1Api`

[code]

Looking at this, it could definitely use some improvement in the core library, I'll work on that.

[2018-03-28 02:44] brendandburns opened #22 "Instantiating non-core APIs is awkward..."
See #21

[2018-03-28 02:44] brendandburns commented on #21
Closing in favor of #22

[2018-03-28 04:09] rafaelcorreiapoli commented on #21
Thanks. I ended up importing the other classes directly and not using defaultClient()

[2018-03-28 05:19] #21 closed

[2018-03-28 08:19] VEBERArnaud commented on #19
thanks,

[2018-03-28 16:27] omar commented on #13
Running into a similar issue using TypeScript 2.6.2 the tsconfig.json file below. I don't have time at the moment to do a full repro, but I was getting the error below when compiling my own application. To get it to compile, I had to go into `node_modules/@kubernetes/client-node` and delete `index.ts`.

Here's the offending line that pulls `index.ts` into the package process https://github.com/kub

[2018-03-29 15:59] jonathansant opened #23 "npm pack not packaging the dist directory"
I just installed the package and encountered a build error because the modules were not found in `index.ts`. At face value seems that the problem is that `index.ts` should be `index.d.ts` but delving a bit deeper into the problem, it seems that the npm package does not contain the contents of the dist directory generated by an npm build (of the kubernetes-client project).

[2018-03-30 04:25] cjlarose commented on #23
I'm seeing a similar issue, though it does look like the `dist` directory is part of the package distributed on npm.

I have installed

[code]

If I try to import the package with

[code]

from a TypeScript file, I get these compiler errors

[code]

Examining the package tree, we see

[code]

It looks like the compiler fails when reading the `index.ts` file at the root of the package which has bro

[2018-04-01 20:19] flyboarder opened #27 "Update to 1.10"

[2018-04-01 21:00] flyboarder commented on #21
@rafaelcorreiapoli do you have an example of how you got this working?

[2018-04-03 16:19] abedra commented on #23
👍 I am having this issue as well. When do you expect this to be merged and released?

[2018-04-03 17:57] abedra opened #29 "No function to list all namespaces"
I dug through the api file and could not find anything that hit the https://docs.openshift.org/latest/rest_api/api/v1.Namespace.html#Get-api-v1-namespaces endpoint. Is there a different way this is exposed in this library or is it just missing?

[2018-04-04 02:45] abedra opened #30 "api does not expose Core_v1Api to typescript"
In the following example

[code]

typescript produces the following error

[code]

This could be related to #23 but I also did not see it exported in the distribution. This example is overly simplified to demonstrate the problem.

[2018-04-04 12:12] abedra opened #31 "Vulnerable dependency"
When running nsp against a project with @kubernetes/client-node 0.2.1 The following vulnerable dependency is highlighted:

[code]
The `static-eval` package should be upgraded to version 2.0.0.

[2018-04-09 12:39] Vinceveve opened #32 "Exec not working with authentication"
Error : UnhandledPromiseRejectionWarning: TypeError: Cannot set property 'Authorization' of undefined

Raised from here (opts.headers does not exists) https://github.com/kubernetes-client/javascript/blob/master/node-client/src/config.ts#L156

When I patch it :
[code]
I get :  Error: Server responded with a non-101 status: 400 Bad Request at WebSocketClient.failHandshake (audit-id: 8c520bd1-f6b8-4c

[2018-04-14 23:10] dbenhur opened #34 "Port exec-based client auth provider to Javascript client"
With 1.10, this exec-based client auth credential provider alpha feature was introduced  [kubernetes/features#541](https://github.com/kubernetes/features/issues/541) for client-go.  Exec-based auth plugin should be supported by this Javascript client in addition to client-go. Umbrella issue: [kubernetes#62185](https://github.com/kubernetes/kubernetes/issues/62185)

/kind feature
/sig api-machinery

[2018-04-15 10:47] tamalsaha opened #35 "How do I generate javascript client ?"
As part of https://github.com/kubernetes-client/gen/issues/59, I am trying to generate Javascript client for [Voyager](https://github.com/appscode/voyager). I tried to follow the regeneration instructions here: https://github.com/kubernetes-client/javascript#re-generating-code . But those instruction are outdated. How do I generate javascript client ?

[2018-04-19 05:12] #23 closed

[2018-04-19 17:00] yebrahim opened #37 "Using with Typescript"
I'm trying to use the node client from a Typescript file, but I can get the compiler to be happy when including it. Doing:
```import { Config } from '@kubernetes/client-node/dist/src/config';```
the compiler complains that it can't find the definition file for bluebird. This is because it's in the devDependencies of the client's package.json, so it doesn't get installed when doing `npm install`.

[2018-04-19 22:33] yebrahim opened #38 "Using v1beta1 API"
Is there a way to get the beta API to use it for making requests? I want to make a `createNamespacedDeployment` request, but it only exists on `Extensions_v1beta1Api`.

[2018-04-20 23:47] sheldonkwok commented on #37
https://github.com/kubernetes-client/javascript/pull/39

[2018-04-20 23:50] sheldonkwok opened #40 "npm registry package needs updating"
There have been a handful of updates to the client since the last publish from 6c4fc27e4913b5db3d2063e4243f9faf191b775d. Is it possible to publish a new version? I would be happy to tag and publish as well.

Thanks!

[2018-04-24 18:16] redborian commented on #40
Please publish a new version of the package. Thanks!

[2018-04-25 19:39] yebrahim commented on #37
@sheldonkwok, when does this get pushed to npm?

[2018-04-25 22:58] sheldonkwok commented on #40
I can publish it if I'm added to the list of owners on npm. My npm user is `sheldonkwok`. Thanks! @brendandburns

[2018-04-26 12:55] frederik-b opened #42 "auth with access token instead of username and password"
Hi there,

I'm trying to use this on the OTC (open telecom cloud).

They provide a forked version for kubectl here:
https://github.com/Cusfomer-kubectl/kubernetes

And in the end I have a kube config file that looks like this:
[code]

the config_types.js looks like it dosn't support this:
[code]

Is there any way I can make this work?

P.S. this is using the newest version available from npm/yarn

[2018-04-26 17:00] yebrahim commented on #38
Thanks. I ended up doing the same thing `config.ts` does.

[2018-04-26 17:00] #38 closed

[2018-04-26 17:55] flyboarder opened #43 "How to use watch with token and crt"
It seems the watch class only accepts a KubeConfig object, the example shows loading from a file.

However within a pod we should be using token and crt. How do we apply these to the Watch object?

[2018-04-26 19:33] flyboarder commented on #43
@brendandburns you seem to be the maintainer of this package, do you have a suggestion?

[2018-04-28 08:36] #40 closed

[2018-04-28 08:36] sheldonkwok commented on #40
Thanks!

[2018-04-28 12:58] #30 closed

[2018-04-29 00:02] flyboarder opened #46 "Prevent watch from exiting"
Currently the watch function will exit if the stream is empty, we should have a flag for continuous monitoring. Or is there a better way to be watching for resources?

[2018-04-29 00:40] #27 closed

[2018-04-29 20:18] mbohlool opened #47 "Promote Javascript Client to Beta"
This is an umbrella issue for remaining tasks to promote javascript client to beta.

@brendandburns would you add remaining tasks here and let me know how can I help?

[2018-04-30 18:57] sheldonkwok commented on #37
@yebrahim https://github.com/kubernetes-client/javascript/issues/40

[2018-04-30 19:08] yebrahim commented on #37
Awesome, thanks!

[2018-04-30 19:08] #37 closed

[2018-05-03 20:37] tomlarkworthy commented on #22
my hack, though it has to ignore the protected access modifier of "authentications"
`
function appClient(): k8s.Apps_v1beta1Api {
    // This is a hack to boot the Apiextensions_v1beta1Api from the core client
    const coreClient = k8s.Config.defaultClient();
    const appClient = new k8s.Apps_v1beta1Api(coreClient.basePath);
    appClient.setDefaultAuthentication(coreClient.authentications.defau

[2018-05-17 17:30] flyboarder commented on #46
I fixed this by invoking the watcher again as the callback for a "finished" watcher, this works however I am concerned about the size of the call stack after running for a few days.

[2018-05-24 14:43] jessfraz opened #49 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-06-06 12:17] cbuchacher opened #50 "GKE on Windows: Failed to refresh token"
When using Google Kubernetes Engine on Windows, the Kubernetes client
sometimes fails with the following error:

[code]

The content of result.stderr:
[code]

The content of user.authProvider.config['cmd-path']:
[code]

[2018-06-07 00:45] edvald opened #52 "Every property in Typescript defined as required"
It seems the conversion from Swagger to TypeScript incorrectly makes every parameter on request body types required. In a lot of cases the request parameters contain all of the properties that you'd expect when fetching objects, which ofter you can't use in the request body, so the only feasible workaround is to cast to with `<any>` or `Partial<T>`. For example, `status` is required in the interfa

[2018-06-07 01:20] edvald opened #53 "Long lists of positional arguments on API methods"
This appears to be more of an upstream issue with swagger-codegen (ref https://github.com/swagger-api/swagger-codegen/pull/7930) but I wanted to flag it here.

Basically as it stands, adding a new option is likely to break compatibility, and the usability isn't great as it is... To illustrate I just wrote this call: `client.listNamespacedPod(namespace, undefined,
undefined, undefined, undefined, l

[2018-06-21 13:51] danigian commented on #19
@brendandburns this is still an issue.

If I change the api.js to include the Content-Type: application/strategic-merge-patch+json header it works.

Is there a way to definitely solve the problem?

[2018-06-22 08:42] leroy0211 opened #55 "How to Watch with KubeConfig configured from cluster"
When creating applications which needs to `Watch` the kubernetes api, there is no way of creating a new `KubeConfig` object created by credentials provided by kubernetes (or openshift).

Basically the `Config::fromCluster()` is what we need, but then available on the `KubeConfig` class like

[code]

Or am I doing something completely wrong here?
It's just that the application which needs to query

[2018-06-29 03:18] flyboarder opened #56 "Needs to be Regenerated"
New versions of kubernetes have been released, this requires that the clients be regenerated for v1.10 and v1.11

[2018-07-01 21:58] flyboarder commented on #56
fixed with #57

[2018-07-03 19:32] flyboarder commented on #47
@mbohlool this library needs to be updated and is 2 versions out of date, only supporting 1.8 and 1.9.

Please see refactor for v1.11 here #57
The client library also needs to be updated to support #55 and #22

[2018-07-09 13:53] #50 closed

[2018-07-11 04:53] brendandburns commented on #55
Makes sense, I'll try to fix this...

[2018-07-12 14:22] #55 closed

[2018-07-18 07:50] yangjian opened #62 "published version 0.3.0 doesn't include fix for insecure-skip-tls-verify config"
This fix for insecure-skip-tls-verify config is committed before the update of package version 0.3.0, but in the published version 0.3.0, it still compares with 'true' string instead of boolean true value in file dist/config_types.js.

[2018-07-23 17:05] flyboarder commented on #56
fixed in #64

[2018-07-25 18:41] Paxa opened #65 "How to install from git?"
I'd like to use latest recent changes (Add a fromCluster option to KubeConfig.)

How to install this package from git?

[2018-07-26 06:14] Paxa opened #66 "Exec with service account token - missing required Host header"
When we use service account (e.g. login in cluster mode) and wanna run exec command, it will override websocket headers with `Authorization: ...`

[code]
How it used:
https://github.com/theturtle32/WebSocket-Node/blob/7a30e3949a2e5b4f7ea701b7959cc8bd030f4c8f/lib/WebSocketClient.js#L236

[code]

As a result, request options will be:
[code]
And response will be:
[code]

### How to reproduce:

Run ex

[2018-07-31 04:42] brendandburns commented on #66
@Paxa Yep, I saw this too, and dug through it.

There's a bug in the `websocket` library we depend on.

I sent a PR to fix it here:

https://github.com/theturtle32/WebSocket-Node/pull/323

Please try patching that into your `node_modules` and see if that fixes things?

Thanks!
--brendan

[2018-07-31 13:25] cmosgh commented on #66
@brendanburns  I have the same issue. Any directions on how to patch it when I have a multistage dockerfile that builds the container

[2018-07-31 13:55] Paxa commented on #66
@cmosgh you can use yarn's [resolutions](https://yarnpkg.com/lang/en/docs/selective-version-resolutions/)

Your package.json should have something like this:
[code]

---

But to get latest version of kubernetes-client is tricky (because it in subfolder and only typescript files)

[code]

[code]

[2018-07-31 16:46] brendandburns commented on #66
I don't think you need the latest kube-client, the fix was purely in the websockets library I think...

[2018-08-01 07:34] cmosgh opened #67 "Exec example for copying files to pod"
Managed to download file from pod by creating a writestream and using it as stdout
[code]

But I wouldn't know how to upload a file/folder to the container.

Anyone can help me out?

[2018-08-01 21:38] brendandburns commented on #65
[code]

That should do a local install.

[2018-08-01 21:38] #65 closed

[2018-08-01 21:39] brendandburns commented on #62
0.4.0 is now published. Closing. If you still see problems please re-open.

[2018-08-01 21:39] #62 closed

[2018-08-01 21:41] brendandburns commented on #67
The `exec` command takes streams for `stdin`

If you path a stream that contains the tar file as the stdin stream and the command should be a command that untars from stdin.

Hope that helps.

[2018-08-01 21:41] #67 closed

[2018-08-02 15:09] cmosgh commented on #67
@brendandburns  Any ideas what am I doing wrong?
[code]
And I am always getting
[code]

[2018-08-02 15:14] cmosgh commented on #67
Done some digging and it seems that
https://github.com/kubernetes-client/javascript/blob/master/node-client/src/web-socket-handler.ts#L46 should be
[code]
instead of
[code]

[2018-08-02 15:49] cmosgh commented on #67
Created a PR https://github.com/kubernetes-client/javascript/pull/69 and followed the instructions for cla/linuxfoundation but it still says its not ok.

[2018-08-04 03:21] spiffxp opened #74 "Create an OWNERS file"
ref: https://github.com/kubernetes/community/issues/1721

This repo is listed in sigs.yaml as belonging to sig-api-machinery, but it lacks an OWNERS file.  Can you please add one with the appropriate list of approvers and reviewers? eg:
- [robust example: approvers, reviewers, aliases](https://github.com/kubernetes-sigs/cluster-api-provider-vsphere/blob/master/OWNERS)
- [simple example: only appro

[2018-08-04 03:26] spiffxp commented on #74
/assign @brendandburns
my bad, guess which one comes up in autocomplete first

[2018-08-06 14:04] nagapavan opened #75 "Config: read from Buffer or create from Constructor"
We have a use-case of loading config params from another Json Object, loaded from persistence layer - as the target cluster is dynamic in our case.

It would be helpful to have Config read from Buffer or by invoking parameterised constructor:
[code]

[2018-08-06 18:39] flyboarder opened #76 "install from git via npm"
#65 has instructions for a local install from git, however this is inconvenient for CI/CD processes as we need to download and build a dependency which results in longer build times, and increased complexity.

NPM supports installs from github via `npm install kubernetes-client/javascript`, however the current directory structure prevents this from working.

To solve these issues:
- flatten the pr

[2018-08-08 10:42] Doccrazy commented on #66
Thanks @brendandburns , I was having the same issue and your patch fixed it for me. I simply added
[code]
after the `npm install` command to my Dockerfile. Using client version 0.4.0 from npm.

[2018-08-08 22:50] brendandburns commented on #75
Ack, will work on this.

[2018-08-08 22:51] brendandburns commented on #56
Closing this since #64 is merged and released.

[2018-08-08 22:51] #56 closed

[2018-08-09 06:51] cmosgh commented on #66
It does work @Doccrazy

Lets hope https://github.com/theturtle32/WebSocket-Node/pull/323 will be merged soon so we don't patch this manually. Thank you @brendanburns !

[2018-08-10 22:59] brendandburns commented on #42
I've never seen `access-key` or `secret-key` in a standard kubeconfig? Can you find them in the spec?

If they're not official, I don't think we can support them, they should be using the `authProvider` extension point.

[2018-08-13 15:27] brendandburns commented on #43
@flyboarder Sorry for the delay in responding here (cleaning up old issues)

There is now a `loadFromCluster` command in the `KubeConfig` class:

https://github.com/kubernetes-client/javascript/blob/master/node-client/src/config.ts#L134

You can use this as follows:

[code]

There's a complete example here:

https://github.com/kubernetes-client/javascript/blob/master/examples/in-cluster.js

Closin

[2018-08-13 15:27] #43 closed

[2018-08-13 15:31] brendandburns commented on #32
(cleaning up old issues)

The top level problem (`headers` is null) has been fixed, `headers` should be an array, not an object, so perhaps that's what was causing your problem?

My `exec` examples work correctly for me, so I'm closing this for now. Please re-open if issues persist.

[2018-08-13 15:31] #32 closed

[2018-08-15 08:18] inyee786 opened #81 "how to run the kubernetes client inside the pod?"
i am trying to access the pod with the below command, do i have to add something more for access the pod

[code]

i am new to this, can u give me simple example

[2018-08-15 18:09] dbolkensteyn opened #82 "Add a client for the pod read-log endpoint"
**Command-line:** `kubectl log <pod-name>`
**Documentation:** https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.11/#read-log-pod-v1-core

From what I read so far on https://github.com/kubernetes/kubernetes/pull/13885, the `/log` endpoints only expects `binary.k8s.io` as protocol. Without it (but still sending the `*.channel.k8s.io` ones), a `403 Forbidden` status code is returned.

[2018-08-16 10:58] inyee786 commented on #81
you have to write rabc and use serviceaccount in your pod

[2018-08-16 10:58] #81 closed

[2018-08-21 18:15] #74 closed

[2018-08-22 18:53] #75 closed

[2018-08-22 21:49] whitecolor opened #87 "TS interfaces for kube resources"
I think this library could include kube resources definitions. I have one for my own, look something like this:

[code]

Though they are manually created, not generated as I assume can be.

I use those interfaces to created helm charts or kube configs (JS results are converted to yalm configs and applied to server). I find using Typescript for making configs much more convenient, flexible and safe

[2018-08-23 03:44] brendandburns commented on #87
I think that this is a good idea.

The generator template is located here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache

It should be easy enough to add something around here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L137

[2018-08-23 05:09] brendandburns commented on #47
Quick update here:

1.11 support is merged.

#55 is closed and #22 is in PR.

Once the fix for #22 is merged, I will send a README change moving this to beta/gold.

[2018-08-23 23:29] #22 closed

[2018-08-23 23:34] brendandburns commented on #47
#22 is now fixed, I sent a PR to update the status to beta. #93

[2018-08-26 18:58] #47 closed

[2018-08-31 18:37] cjhpaul opened #96 "Retry for transient faults"
Is it supposed to handle transient faults like 504 by retrying, or have users handle?
It seems to me the fix could be as simple as using one of request wrappers like node-request-retry in place of request, for example.
Any thoughts would be appreciated.

[2018-09-04 14:37] brendandburns commented on #96
They are left for the user to handle.  The original code is generated from the [Swagger Codegen](https://swagger.io/tools/swagger-codegen/) project, so if you wanted to add that retry library, that would be the right place to add it (unless you can figure out a way to add it into this library w/o modifying the generated code in `api.ts`)

PRs welcome.

[2018-09-04 14:37] #96 closed

[2018-09-05 23:57] sheldonkwok opened #97 "Helper function for app client creation"
Hello,

I was trying to use the Apps API instead of the Core API and noticed there aren't helpers for creating clients from a config. I ended up writing my own that look almost identical to the config ones provided for Core. Should we add helpers for Apps as well? I can just submit a PR.

Thanks,
Sheldon

[2018-09-06 04:48] brendandburns commented on #97
I recently added this generic function:

https://github.com/kubernetes-client/javascript/blob/master/node-client/src/config.ts#L220

Which should enable you to create any API object type. Does that suit your needs?

If not, a PR would definitely be welcome.

[2018-09-06 22:16] sheldonkwok commented on #97
That's actually perfect! Thanks! Look forward to the release.

[2018-09-06 22:19] sheldonkwok commented on #97
We could also add another helper at the Config level to make it a little easier too. I'll submit a PR

[2018-09-07 04:26] brendandburns commented on #97
Thanks!

[2018-09-07 04:40] brendandburns commented on #97
Just pushed `0.6.0` which should contain this.

[2018-09-11 17:29] bterlson opened #100 "Recommended tsconfig settings"
There are a few tsconfig settings you might consider adopting in this project.

* esModuleInterop: make TypeScript's ES6 module import/export semantics more in line with standards, and  enables other tools to understand the static module graph for things like tree-shaking.
* allowSyntheticDefaultImports: allow importing a commonjs module as the default export
* strict: make TypeScript extra pedant

[2018-09-11 18:28] brendandburns commented on #97
Closed via #99

[2018-09-11 18:28] #97 closed

[2018-09-15 04:37] brendandburns commented on #100
Filed #101 adopting nearly all of these settings.

Thanks!

[2018-09-18 19:28] flyboarder commented on #46
@pfremm here you go, it's written in clojurescript
https://github.com/degree9/enterprise/blob/master/src/degree9/kubernetes.cljs#L56-L68

[2018-09-19 00:17] runarberg commented on #19
Shouldn't `PATCH` operations have the `Content-Type` header set to `application/strategic-merge-patch+json` by default. It is kind of annoying to use this client if you have to mutate the client object before every patch operation.

[2018-09-19 11:37] markanderstam commented on #19
@runarberg I agree this is what's missing. The swagger [spec](https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/apps_v1.json#L5314) clearly states that this endpoint "consumes":  `["application/json-patch+json", "application/merge-patch+json", "application/strategic-merge-patch+json"]`.

And since this file is generated from the swagger spec I'm guessing something have to be do

[2018-09-20 04:17] brendandburns commented on #19
@markanderstam

There are two places that you might want to edit:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L287

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L379

That second one actually looks most promising...

I think y

[2018-09-20 18:25] scher200 opened #103 "Creating a Pod"
Dear team, I looked for a way to create a pod but could not find while searching code.
Is there a doc/manual page?

[2018-09-21 18:23] #103 closed, assigned to nobody

[2018-09-21 18:30] #100 closed

[2018-09-21 18:52] flyboarder opened #104 "Automate API Generation"
@brendandburns is there some k8s machinery that we can use to automate running the generator when upstream cuts a new version?

[2018-09-22 13:31] scher200 commented on #103
Thank you @brendandburns and what whould I do to create a Deployment?

[2018-09-22 18:26] scher200 commented on #103
thanks

[2018-09-23 06:14] scher200 commented on #103
While listing deployments:
[code]

 i get this error:
[code]

[2018-09-23 19:26] flyboarder opened #105 "Error while listing deployments"
[code]

 i get this error:
[code]

_Originally posted by @scher200 in https://github.com/kubernetes-client/javascript/issues/103#issuecomment-423794533_

[2018-09-23 19:27] flyboarder commented on #105
@brendandburns I think this is a typo should it be `apiClientType`?

[2018-09-24 06:58] scher200 commented on #105
You are right I posted the wrong error, it was:
[code]

[2018-09-24 10:56] scher200 commented on #105
I tried all sorts of stuff but keep getting this error:
[code]
code:
[code]

[2018-09-24 17:44] scher200 opened #106 "attach fix for UnhandledPromiseRejectionWarning"
For anyone with the the following error:
[code]

just simply override the following code in file node_modules/@kubernetes/client-node/dist/attach.js,
[code]

Hope it works for you too!

[2018-09-24 22:28] conwaychriscosmo opened #107 "loadFromCluster does not exist"
https://github.com/kubernetes-client/javascript/commit/71f0ac85fbb4d8617ded56c6efa127cfb0916452

[code]
has a call to kc.loadFromCluster() and loadFromCluster is not a method.  What should we be using?

[2018-09-24 23:04] conwaychriscosmo commented on #107
is it supposed to be more like the below?
[code]

[2018-09-25 12:07] VegarM opened #108 "Watch.watch(...) throws error with useless [object Object]"
I got the following when running my code:
[code]
The `[object Object]` doesn't tell me much, and i guess it's not suppose to be this way.

This happens because the object is added to the error as a string. Using something like `JSON.stringify` on  `obj` before adding it to the error would make it useful.

[2018-09-26 07:54] scher200 commented on #105
@flyboarder can you please past in an example of how you list deployments?

[2018-09-26 14:42] cabrinoob opened #110 "readNamespacedPodLog with follow=true"
I have a problem with the usage of `readNamespacedPodLog` with the `follow` parameter set to true.

This function returns a Promise (BlueBird). I'd like to display the logs in real time of a pod in my Angular app but I have no idea of how to use the promise of a streamed response ...

I tried this :

[code]
I saw in the source code that the Promise returns a `http.ClientResponse` which extends an

[2018-09-26 17:18] flyboarder commented on #105
@scher200 I use an older version of the library wrapped in ClojureScript.

[2018-09-26 17:21] scher200 opened #111 "Listing Deployments not working"
I tried all sorts of stuff but keep getting this error while listing deployments:
[code]

my code:
[code]

[2018-09-27 17:55] brendandburns commented on #107
The call is here:

https://github.com/kubernetes-client/javascript/blob/master/node-client/src/config.ts#L152

What version of the library are you using?

Thanks
--brendan

[2018-09-27 17:56] brendandburns commented on #110
The stream should implements events, so you can run:

[code]

[2018-09-27 17:58] brendandburns commented on #111
You want to use:

[code]

Not the `apiClientType` call...

[2018-09-27 17:59] brendandburns commented on #104
We can work with sig-api machinery, but for now I think the best we can do is periodically watch the git repo...

[2018-09-27 18:02] brendandburns commented on #105
oh, I figured this out... You need to pass the client, not the call type so it should be:

[code]
e.g. you pass the client for the API group (apps/v1beta1) not the specific type (apps/v1beta1/Deployment)

[2018-09-27 18:02] #105 closed

[2018-09-27 18:04] brendandburns commented on #111
Sorry my first comment was not quite correct, I've edited it to correct it.

That should work...

I'll update the docs to to be more clear.

[2018-09-27 18:04] brendandburns commented on #106
I'll put a better fix for this in the original typescript.

Thanks!

[2018-09-27 18:08] scher200 commented on #106
no worries

[2018-09-27 18:09] scher200 commented on #111
thank you!

[2018-09-28 14:35] cabrinoob commented on #110
@brendanburns
Hi,
Do you have a snippet because I'am doing like this :
[code]
And it does'nt work. I'am stucked on the `await`. I cannot figure out how to mix promise and stream ...

[2018-09-28 14:57] brendanburns commented on #110
I'll try to repro/write an example today...

Thanks for the patience!

On Fri, Sep 28, 2018, 7:35 AM cabrinoob <notifications@github.com> wrote:

[2018-09-29 12:00] mojojoji opened #112 "Data send through websocket to kubernetes api is trimmed by one byte"
Kubernetes websocket api needs to attach a byte to the message buffer sent to identify if the type of message is stdin, stdout, stderr (https://blog.openshift.com/executing-commands-in-pods-using-k8s-api/)
[code]
This means the length of the buffer created and send to websocket api should be ` 1 + the length of input data`
But as per the below code in websockethandler, the the new buffer has same

[2018-10-02 00:57] #49 closed

[2018-10-02 00:58] brendandburns commented on #111
CLosing this as I assume 'thank you' mean s 'it works' :)

[2018-10-02 00:58] #111 closed

[2018-10-02 00:59] brendandburns commented on #112
Fixed by #113

[2018-10-02 00:59] #112 closed

[2018-10-02 02:50] itowlson commented on #29
It looks from the source like the following might work:

[code]

It's defined on line 44137 of `node-client/src/api.ts` (in the current HEAD at least).

[2018-10-02 03:08] itowlson commented on #31
Looking at `package-lock.json` I believe this is fixed as of late August (https://github.com/kubernetes-client/javascript/commit/9ff658e51dde50c29f769ecc6c605086883b7d44).  Okay to close?

[2018-10-03 11:47] kavandesai opened #115 "issue with executing command with "-- /bin/bash -c" prefix"
Hi
I am not able to execute command - -- /bin/bash -c 'ls -al' or in general command with prefix
-- /bin/bash -c.
Below is the code snippet -

let command = "-- /bin/bash -c 'ls -al'";

exec.exec('default', 'pod_name', 'container_name', command, stdoutStream, stderrStream, null, false /* tty */)
.then(() => {
    console.log(`${stdoutStream.contents}`);
  })
  .catch(e => {
      //handle exceptio

[2018-10-03 11:51] danielmerrison opened #116 "feature request: add oidc support"
The javascript client seems to lack support for oidc auth provider

Looks like the python client has had it added:
https://github.com/kubernetes-client/python/issues/195

[2018-10-03 18:34] brendandburns commented on #115
I don't think you want or need the '--' that's command-line syntax for "ignore all flags after this" which isn't necessary in a native library. As it stands your code is trying to execute an executable named '--' which isn't what you want...

[2018-10-03 18:34] #115 closed

[2018-10-06 10:51] marvinosswald commented on #110
this issue over at the python client matches with my observations, the promise never resolves with follow true

https://github.com/kubernetes-client/python/issues/199

[2018-10-06 15:53] inyee786 opened #117 "how to create a job and apply a deployment"
do you have function which will create job or apply a deployment just like below example

https://github.com/godaddy/kubernetes-client/blob/master/examples/apply-deploy.js

[2018-10-07 06:28] brendandburns commented on #117
There's a simple example of how to create a namespace here:

https://github.com/kubernetes-client/javascript/blob/master/examples/namespace.js

It would be easy to modify that to create a Job or a Deployment instead.

You need to:

[code]

[2018-10-07 06:28] #117 closed

[2018-10-07 18:26] scher200 opened #118 "unable to send data to stdin with attach"
@brendandburns I tried the follow script but I am unable send any data to the stdin:
[code]
while the container is fine by using kubectl attach ..

[2018-10-08 17:10] inyee786 commented on #117
@brendanburns  thanks for quick response

[2018-10-08 23:17] brendandburns commented on #118
@scher200 you are correct, I think I see the bug. I will send a patch this evening/tomorrow.

[2018-10-10 06:39] scher200 commented on #118
awesome!

[2018-10-12 07:53] FedeBev opened #122 "Namespace '"http"' has no exported member 'ClientResponse'. with node 10"
Hi everyone,
adding this library to my typescript project with node 10.11 (types "@types/node": "^10.11.4") I get the following error:
Namespace '"http"' has no exported member 'ClientResponse'.

Everything works correctly with node 8 (types "@types/node": "^8.10.36"

Maybe it's a bug of the definition of node types for node 10?

[2018-10-12 08:06] cabrinoob opened #123 "Exec.exec() fails in Electron app (ws.client not a constructor)"
Hi,
I'am using your lib in an Angular 6 application. I'd like to use the Exec.exec() method to display a terminal in my app to open a shell command in a pod.

My problem is that it seems to have an error with the websocket connect() method

When I call this from my Angular app :

[code]

I have this error :

[code]

It's working fine in a nodeJS app.

[2018-10-12 20:29] flyboarder commented on #123
The library should work from an electron node.js instance.

[2018-10-12 20:31] cabrinoob commented on #123
I was'nt precise enough in my previous post : My Angular app is wrapped in an Electron application and I have this error message.

[2018-10-13 00:47] itowlson commented on #123
Can you provide a minimal project that reproduces the problem?  (E.g. a patch to an Electron baseline app.)

[2018-10-13 19:17] cabrinoob commented on #123
@itowlson : ok i'll try to give you that asap
Thank you

[2018-10-15 20:39] saada opened #124 "Feature Request: `cp`"
Offer an API equivalent to kubectl `cp`.

Suggested design...

[code]

[2018-10-16 03:50] brendandburns commented on #123
@cabrinoob there is this PR here:

[2018-10-16 03:51] brendandburns commented on #122
I see the response says we need to move to `IncomingMessage`

https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29674

I'll work on a PR to fix this.

[2018-10-16 03:53] brendandburns commented on #124
fwiw, cp is just a wrapper on top of exec.

I implemented this for Java here:

https://github.com/kubernetes-client/java/pull/375

I'd gladly take an equivalent PR (with tests!) for TypeScript, or if I get to it, I'll send a PR...

[2018-10-16 03:55] itowlson commented on #123
@brendandburns That PR addressed an Electron issue shelling out to an auth provider.  The error @cabrinoob is seeing looks more like a type level error.  I'm wondering if there is a versioning issue in play, or something like that.

[2018-10-16 06:34] analytik opened #125 "Empty-string username should be supported"
Here's a valid configuration for Kubernetes clusters <= 1.5
[code]

And here's [the error](https://github.com/kubernetes-client/javascript/blob/c1c0039be792b829037553d946c12b28a6142afb/node-client/src/config_types.ts#L55) I get when I try to connect to it:
[code]

KubeConfig should support empty-string user for insecure clusters.

[2018-10-17 04:56] #118 closed

[2018-10-18 15:33] pdougall1 opened #128 "Docs don't seem to be generated anywhere."
You've got this huge API but I can't find any docs about it.

While spelunking I found a lot of beautiful documentation (really great work IMO) and it looks like you're using swagger, but I don't see the docs generated anywhere.

I'm actually fine just grepping through the code but I wanted to bring it to your attention in case someone finds this great library while in a more frustrated state and

[2018-10-18 19:02] itowlson commented on #128
I think at the moment there are just the JSDoc comments - I don't think they are rendered to HTML or pushed to a site.  I suspect the assumption is that people will refer to the k8s API documentation for what all the objects and operations mean, but I can see how it would be difficult for a new user to locate the appropriate operations or types within the JS library.

@brendandburns is there a k8s

[2018-10-18 20:05] weibeld opened #129 "Support for loading YAML files"
I couldn't find any facilities in this library to load Kubernetes API objects from YAML files, something like [this](https://github.com/kubernetes-client/java/pull/207) for the Java client.

Currently, I have to do it like this with `js-yaml` and `fs`:

[code]

Maybe it would be good to have a class for this, like in the Java client, or at least mention it in the README how it can be done with `js

[2018-10-18 23:06] brendandburns commented on #128
Not that I know of, but I filed an intern proposal recently for someone to create such a thing :)

[2018-10-18 23:07] brendandburns commented on #128
The general API reference is here:

[2018-10-18 23:10] #108 closed

[2018-10-19 01:08] #122 closed

[2018-10-19 05:03] flyboarder commented on #128
This library is built with swagger, so you can use Swagger UI or any of those tools.

To view API docs: https://petstore.swagger.io
Change JSON file at the top to: https://raw.githubusercontent.com/kubernetes-client/javascript/master/node-client/src/swagger.json

[2018-10-20 14:51] edvald commented on #123
The issue is likely that the `websocket` library used has a native dependency. I came across this as well in a different context. I suggest switching to https://github.com/websockets/ws which has the binary dependencies as optional addons for performance improvement (which I do not think is very important for this library).

[2018-10-20 15:44] saada commented on #124
Related: https://github.com/kubernetes-client/javascript/issues/67

[2018-10-21 11:11] edvald commented on #106
Adding this to the linter would be good to detect these types of issues: https://palantir.github.io/tslint/rules/no-floating-promises/

[2018-10-22 13:19] Grigsuv opened #133 "Help. Can't find documentation or information"
Hi,I need this functions `

1) Kill pod by name
2)Change deployments pod's count(Add or delete)
3) Restart all pods in deployment

I tried to find it in examples, in files....but can't find enough information

[2018-10-22 13:24] Grigsuv opened #134 "Help find some functions"
Hi,I need this functions `

1) Kill pod by name
2)Change deployments pod's count(Add or delete)
3) Restart all pods in deployment

I tried to find it in examples, in files....but can't find enough information

[2018-10-22 18:50] itowlson commented on #134
Duplicate of #133 probably due to GitHub glitch (@Grigsuv please reopen if I missed something in this one)

[2018-10-22 18:50] #134 closed

[2018-10-22 18:52] Grigsuv commented on #134
Yes it is,github had some problems

[2018-10-22 19:04] itowlson commented on #133
Have a look at `examples/typescript/simple` for the plumbing required to instantiate a client and call a method.  From there, I think the operations you are looking for are:

1. `deleteNamespacedPod`
2. `patchNamespacedDeployment` or `replaceNamespacedDeployment`
3. Not sure - I don't know if restarting pods is possible via the API - from what I've seen the idea would normally be to delete the pod

[2018-10-22 19:10] Grigsuv commented on #133
Thank you.Can you provide example of using patchNamespacedDeployment or replaceNamespacedDeployment?What parameters must pass  beside demploymentName Namespce I need data example?

[2018-10-22 20:36] itowlson commented on #133
For a `replace` you would get the current deployment object via a `listNamespacedDeployments` or `readNamespacedDeployment`, modify that object, and send that in the replace, e.g.:

[code]

For a `patch`, I believe you need to create an object containing _just_ the field you want to change, in this case `spec.replicas`, and send that e.g.

[code]

Let me know if that doesn't work and I can do some

[2018-10-22 20:39] itowlson commented on #133
It would definitely be good to have some examples showing more of the create-monitor-modify-delete lifecycle.

[2018-10-23 07:36] Grigsuv commented on #133
Why I cant use await?Using this client `const k8sApi = kc.makeApiClient(k8s.Apps_v1beta1Api);`  is that normal?

[2018-10-23 07:39] Grigsuv commented on #133
What is deference btw  `readNamespacedDeployment` and `patchNamespacedDeployment` besides getting deployment?

[2018-10-23 07:55] Grigsuv commented on #133
Also class `Apps_v1beta1Api` dons't  contain function of deleting namespaced pod,what class contains deleting and replaceNamespacedDeployment functions ?
What deference btw `patchDeployment` and `replaceDeployment' besides getting info from cluster?

[2018-10-24 10:14] vaishnavipamulapati commented on #124
I would like to work on this issue

[2018-10-24 15:19] FredrikFolkesson opened #135 "tslib missing - With version 0.7.0"
Hi,

We have javascript project that uses this lib and with 0.7.0 we get an error during runtime like this:

[code]

We install it with --production flag if that matters. (But the package is listed as a normal dependency and not a dev dependency)

We did not see this problem with version 0.6.0

EDIT:
Checking in the generated index.js file there is now a require to `tslib` that did not exist in `v

[2018-10-25 09:59] edvald opened #137 "Avoid synchronous exec and file reads"
This came up in relation to #132. There are several instances of synchronous file reads and one shell exec in the code, that should generally be avoided in Node.js. In order to fix that, we'd need to make several methods async.

The public methods that would need to be made async are:
- `KubeConfig.apiFromDefault()`
- `KubeConfig.apiFromFile()`
- `KubeConfig.applyHTTPSOptions()`
- `KubeConfig.appl

[2018-10-26 01:22] salaxander opened #139 "Metrics server support"
Hello!

I'm interested in adding support for the metrics server endpoints, i.e.  `/apis/metrics.k8s.io/v1beta1/nodes`.

Happy to submit a PR if people are open to it.

Thanks! :)

[2018-10-26 04:02] #135 closed

[2018-10-26 04:10] brendandburns commented on #133
The kubernetes API reference is here:

[2018-10-26 04:12] brendandburns commented on #135
I just pushed `0.7.1` which should fix this...

[2018-10-26 09:11] FredrikFolkesson commented on #135
Thanks! :)

[2018-10-26 17:09] #139 closed

[2018-10-28 17:25] amit-o opened #140 "Node patch fails with error code 415"
I'm trying to patch a node as unscheduable with the client, but the request fails with 415.

[code]

Unless I'm doing something wrong, I'm assuming the library doesn't send Content-Type: application/merge-patch+json in the header, as seen [here](https://github.com/kubernetes/kubernetes/issues/61103)

[2018-10-30 04:41] brendandburns commented on #137
I think it's ok to migrate these to be async, especially across a minor version boundary (e.g. rev to `0.8.0`)

[2018-10-30 04:42] brendandburns commented on #124
@vaishnavipamulapati go for it, it's yours.

[2018-10-30 04:44] brendandburns commented on #140
Duplicate of https://github.com/kubernetes-client/javascript/issues/19

[2018-10-30 04:44] #140 closed

[2018-10-30 07:09] itowlson commented on #137
One approach used in some packages is to offer both sync and async versions of such functions. But I guess that dates from when async involved messy Node-style callbacks rather than just using await - nowadays async has no ease of use disadvantage. Agree that if we are going to switch these to async then we should do it sooner rather than later.

[2018-10-30 15:19] edvald commented on #137
Ok, I can get a PR going for that.

Since we're modifying APIs I have a suggestion to make. The pattern of using the `load*()` and `apply*()` methods to mutate the config and request objects is rather unusual.

A more idiomatic style for the load methods would be static methods that generate a class with the appropriate options (e.g. `kc = KubeConfig.fromString(...)`), and in this case the `loadFr

[2018-10-30 17:17] itowlson commented on #137
@edvald I like this.  Changing names also helps alleviate my concern about subtle breaking changes - with your proposal at least code will fail with a clear explanation at the line where the problem is, rather than with something being unexpectedly undefined ten lines later!

[2018-10-31 00:18] brendandburns commented on #137
yep, changing names seems good to me too.

Let's make sure we also add something about how to migrate in `README.md`

Thanks

[2018-10-31 16:08] edvald commented on #137
Alrighty, will do. Just came across a slight stumbling block, which is that the generated API classes expect `applyToRequest` to be synchronous. It's still solvable, but I'll need to get back to this next week.

[2018-11-01 18:53] weikinhuang opened #144 "Any examples or guidance for using CRDs with the js api?"
There's no examples on how to extend the client library to be able to use CRDs via the same api interface as the rest of the kubernetes api.

For example the godaddy/kubernetes-client lets you extend their api manually, see https://github.com/godaddy/kubernetes-client/blob/master/examples/using-crds.js

[2018-11-01 20:51] flyboarder commented on #144
All the API's work the same, see #117

`.createCustomResourceDefinition()`

[2018-11-01 21:03] weikinhuang commented on #144
Sorry about the confusion, but i'm more talking about crud operations on the extended apis created by CRDs not the CRD itself. Since CRDs are part of the api, and the resources created by the crds are not.

[2018-11-02 07:55] gaogaoSpark opened #145 "can not use proxy"
I want access kubernetes from remote and add proxy .but  No effect

proxy: {
        '/api': {
            target: 'https://10.20.16.229:6443/',
            changeOrigin: true,
            secure: false,
            headers: {
              Referer: 'https://10.20.16.229:6443/'
            }
        }
    },

[2018-11-02 15:31] smcgunigal opened #146 "Unhandled JSON parse errors in 'watch' cause the process to crash."
The `watch` function does not ensure the data received is valid JSON before parsing it and does not handle any errors that may come from parsing. This can cause the process to restart when the api-server responds with non-valid JSON, which happens intermittently if the watch is used continuously. In particular, if the etcd cluster is unresponsive due to a timeout, the response is not able to be pa

[2018-11-03 23:12] scaccogatto commented on #146
If I watch `/apis/apps/v1/namespaces/{namespace}/deployments/{name}` the watcher just crashes because the reply contains no `type`.

I think it is related to: https://github.com/kubernetes-client/javascript/blob/01b721af83658b755ffa7bc3931383dc39e3a9fe/src/watch.ts#L63

Also I think that if k8s reply has no `type` we should just callback with type `undefined`.

[2018-11-04 09:15] #145 closed

[2018-11-05 03:35] gaogaoSpark commented on #123
I came across  the same problem .how to Solve this problem？

web-socket-handler.js?f1bc:80 Uncaught (in promise) TypeError: ws.client is not a constructor
    at WebSocketHandler.connect (web-socket-handler.js?f1bc:80)
    at Exec.eval (exec.js?0f84:28)
    at Generator.next (<anonymous>)
    at eval (tslib.es6.js?4d3a:71)
    at new Promise (<anonymous>)
    at Object.__awaiter (tslib.es6.js?4d3a

[2018-11-05 19:09] brendandburns commented on #146
Fixed by #148

[2018-11-05 19:09] #146 closed

[2018-11-08 11:01] JorritPosthuma commented on #52
Hi @edvald, I'm curious to if/how you solved it in the meantime? Right now I'm doing something like this:

[code]

This snippet only changes the create methods, but you can do the same for the `delete`, `replace`, ... methods.

[2018-11-09 23:53] edvald commented on #52
That's actually a much better solution than we'd gone with, which was basically casting values at the call-site. I'd be in favor of applying this, with the addition of similar wraps around `delete` etc., in the `makeApiClient` method.

[2018-11-11 08:29] geekflyer commented on #52
just came across this. On this occasion I just wanna mention that https://github.com/pulumi/pulumi-kubernetes also has typescript definitions which are generated (afaik also from the openapi spec) and their types are correct, i.e. only actually required fields are marked requires in the types.

[2018-11-13 23:45] weibeld opened #151 "External credential provider for authentication"
Does this client support external credential providers as described [here](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins)? This feature was introduced in Kubernetes v1.10 and implemented in the [Go client](https://github.com/kubernetes/enhancements/issues/541), and the [Python client](https://github.com/kubernetes-client/python/issues/514) see

[2018-11-13 23:50] brendandburns commented on #151
@weibeld it does not currently support 'exec' style authenticators. I'd welcome a PR if you want to add it.

You can see the authenticator specialization here:

https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L305

It probably needs some re-factoring to support multiple different providers anyway...

[2018-11-14 00:05] brendandburns commented on #137
ah, right... You're going to need to potentially update the swagger generator here:

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L217

and

https://github.com/swagger-api/swagger-codegen/blob/master/modules/swagger-codegen/src/main/resources/typescript-node/api.mustache#L435

[2018-11-14 00:12] brendandburns commented on #129
I'll add this support.

[2018-11-14 07:34] flyboarder commented on #52
@geekflyer they are using a go build to generate the files, this project uses the generator script located in https://github.com/kubernetes-client/gen

[2018-11-15 16:54] spiddy opened #152 "There is no way to invoke legacy API with customObjects"
More specifically I'm interested in deleting custom objects through `deleteNamespacedCustomObject()` but without a `group` (e.g. for ConfigMaps that are on `v1` legacy version)

According to https://kubernetes.io/docs/reference/using-api/api-overview/#api-groups there are two types:

- The core (also called legacy) group, which is at REST path `/api/v1`
- The named groups are at REST path `/apis/$

[2018-11-15 16:56] spiddy commented on #152
Actually I was hoping to find the `/api/v1` migrated the named groups list from server-side, but I can't find it, so I suppose we're stuck having to support it.

[2018-11-15 21:43] brendandburns commented on #152
This is all based off of the released swagger.json, so we can only support the paths in that swagger.

It's possible that it's present in an earlier version of this library.

Closing this issue b/c I don't think there's anything more we can do here.

[2018-11-15 21:43] #152 closed

[2018-11-15 23:58] brendandburns commented on #42
Closing this issue as obsolete. Please re-open if there is more work to be done here.

[2018-11-15 23:58] #42 closed

[2018-11-15 23:58] brendandburns commented on #29
Closing this since I think it's been addressed.

[2018-11-15 23:58] #29 closed

[2018-11-15 23:59] brendandburns commented on #46
Closing this issue as I think this is "by design" please re-open if you think there is more we can do here...

[2018-11-15 23:59] #46 closed

[2018-11-16 00:04] brendandburns commented on #125
This is fixed, and #154 adds a unit test for this behavior.

[2018-11-16 00:04] #125 closed

[2018-11-16 00:07] brendandburns commented on #107
Closing this as I think it is answered. Please re-open if you have additional questions.

[2018-11-16 00:07] #107 closed

[2018-11-16 00:10] brendandburns commented on #110
Yeah, I think what you need to do is:

[code]

This is because the log with `follow=true` never closes the TCP stream, so the promise never completes.

But if you await after you register the event listener, you should get events...

[2018-11-16 14:36] spiddy commented on #110
I don't get the example, how is `obj` used before it is initialized?

I get `ReferenceError: obj is not defined` trying this

[2018-11-16 16:59] brendandburns commented on #110
Ah, sorry, you are correct, I was skimming and not paying careful enough attention to the code.

I think that this will require a different solution, which probably involves writing some custom code.

Sorry for the mislead.

[2018-11-22 14:44] mkraeva-astea opened #156 "Typescript definitions are broken in 0.7.1"
The 0.7.1 release has broken the typescript definitions - running `tsc` on the example for listing all pods, I get numerous errors like

The typings work in v0.6.0; v0.7.0 compiles successfully as well, but I get the runtime error described in #135.

[2018-11-25 20:50] #129 closed

[2018-11-27 00:44] brendandburns commented on #156
hrm, I will try to figure out what is missing here.  Apologies!

[2018-11-29 06:43] brendandburns commented on #156
Looks like this was fixed by #138 I'll cut a new release...

[2018-11-30 02:24] juliahw opened #157 "Watch API for Job fails with `Error: unexpected object`"
I'm encountering this error when I use the Watch API to watch a job:

[code]

My Job spec looks like this:
[code]

And my code looks like this:

[code]

The API appears to be returning a valid Job object, but it is being parsed incorrectly. I am using version 0.7.1 of this library.

[2018-12-02 06:16] brendandburns commented on #157
But watch shouldn't return `Job` objects, it should return a Watch object (which might contain a Job object)

There's something funky going on here, I will try to reproduce.

[2018-12-03 18:51] juliahw commented on #157
Good point!

Let me know if I can provide any other details.

[2018-12-04 16:21] brendandburns commented on #151
Just noticed, this is a duplicate of #34, closing in favor of that issue

[2018-12-04 16:21] #151 closed

[2018-12-05 00:58] juliahw commented on #157
@brendanburns I've figured out the issue. In my original example, I wrote

[code]

but the correct path was

[code]

It would be great if `watch` could accept only valid endpoints, but the original mistake is on me. Thanks for your help!

[2018-12-05 00:58] #157 closed

[2018-12-05 19:58] juliahw commented on #110
@cabrinoob Did you ever find a workaround? I'm stuck on the same issue.

[2018-12-05 20:03] cabrinoob commented on #110
@juliahw : No. I think i'll try to take a look at socket.io with a nodeJS backend or whatever. But for me, this cannot work as expected directly using a promise that returns a stream

[2018-12-05 20:09] juliahw commented on #110
Ok :( I think the [GoDaddy Kubernetes client](https://github.com/godaddy/kubernetes-client) might be able to do this, so I'll give it a go. It's too bad we can't use the officially supported library.

[2018-12-05 20:21] cabrinoob commented on #110
Yes, it could be nice to have the `.getStream()` implementation of godaddy watch()

[2018-12-06 05:38] brendandburns commented on #156
Apologies for the delay, I finally pushed `0.7.2` please try and see if it fixes things.

Thanks!

[2018-12-06 08:34] #34 closed

[2018-12-06 10:46] mkraeva-astea commented on #156
Unfortunately, v0.7.2 doesn't work either.

I made a minimal reproducible example here: https://github.com/mkraeva-astea/kube-client-typescript-example.

The example uses v0.6.0 and compiles correctly -  `npm install && npm run build` runs successfully and `npm test` lists my local pods.
If you then run `npm install @kubernetes/client-node@0.7.2 --save-exact` and try to rebuild, you can see multip

[2018-12-07 00:16] drakedevel commented on #156
@mkraeva-astea it looks like the issue is missing type dependencies (specifically `@types/ws @types/node @types/request`)

If I add those, your example builds for me:

[code]

[2018-12-14 15:57] alewitt commented on #128
fyi: Change JSON file at the top to: `https://raw.githubusercontent.com/kubernetes-client/javascript/master/src/swagger.json`

[2018-12-14 18:21] ddgenome commented on #87
Types for all Kubernetes resources are available in the Node package in `dist/api.d.ts`, which is exported from `dist/index.d.ts`. For example, the complete deployment definition is available as `AppsV1beta1Deployment`, `ExtensionsV1beta1Deployment`, `V1Deployment`, and `V1beta2Deployment`, dependending on which version you are using/your cluster supports. There are some issues with the definition

[2018-12-14 19:44] ddgenome commented on #87
I understand the issue with optional/required. What usability issues does them being classes and not interfaces present?  This seems to work:

[code]

Just curious, as I went down a similar road as you before this client existed and the others had resource interfaces, https://github.com/atomist/k8-sdm/blob/98b289bed20387845ff83612d0c8c86084e555fb/src/k8.ts#L231-L556 .

[2018-12-14 20:15] whitecolor commented on #87
I don't like classes/OOP in general =)

Well, need to try. I'm still using my definitions and they work ok for me.

[2018-12-16 10:00] Gwee opened #161 "Loading gcloud config fails in 0.7.2"
Cypress tests fail to run due to gcloud confg failing to load with gcloud config config-helper --format=json.
"config config-helper -- format=json is not a valid option"
0.7.1 works as expected

[2018-12-18 13:58] amitgilad3 opened #162 "Understanding when exec command has finished running"
i am uploading files to my kubernetes container and when i run the following code - i dont know exactly when the command has finished.
const file = fs.createReadStream(tmpTarResultFile);//which I have and I can see it is a proper tgz
const uploadCommand = ["tar", "xzf", "-"];
Exec.exec(namespace, podName, containerName, uploadCommand, null, null, file, false);

is there a way to find out when the

[2018-12-18 17:32] SchwarzM commented on #19
why is this closed ? it is still not the default behaviour of patch operations.

[2018-12-18 17:35] brendandburns commented on #19
There's a workaround (see setting 'defaultHeaders' above)

I'm ok to reopen of someone wants to work on a more complete solution.

[2018-12-18 18:20] brendandburns commented on #162
`Exec` returns a `Promise<WebSocket>`. You can use the `WebSocket` API (reference here: https://developer.mozilla.org/en-US/docs/Web/API/WebSocket) to determine when the socket is closed/command is done.

[2018-12-18 18:20] #162 closed

[2018-12-18 21:18] msonnabaum commented on #19
I also just hit this. I have to agree that the client isn't providing much value if we have to apply workarounds for existing methods to work.

[2018-12-18 21:30] msonnabaum commented on #19
Actually, I don't quite understand how this is even a workaround. I don't see any method on the client that lets me set the request headers.

If I try to set the property directly, I get:

[code]

[2018-12-19 19:18] brendandburns commented on #19
@msonnabaum you can extend from the client and update the `defaultHeaders` field.

subclasses can access that field.

[2018-12-19 21:56] NicolaiSchmid commented on #144
@brendandburns Could you provide a little bit more context for me?
I'm trying to use the custom `kubervirt.io` API and I'm completely lost, how to use `createClusterCustomObject` to create the CRD in the client and then query for the `virtualmachine` resource.
The CRD itself looks like this: https://pastebin.com/jvgbfbJA

[2018-12-20 20:32] flyboarder commented on #144
Something like this:

[code]

[2018-12-21 15:52] msonnabaum commented on #19
Right, that makes sense.

This seemed to work to solve my immediate problem:

[code]

I appreciate you reopening the issue though so we can get a client-side fix in.

[2018-12-21 18:23] gflarity opened #165 "browser-side support"
```For now, the client is implemented for server-side use with node using the request library.```

Just curious. Aside from the use of the request library, are there any other major impediments to supporting direct browser usage?

Would this be a welcome/encouraged contribution?

[2018-12-22 00:44] brendandburns commented on #165
You would need to regenerate the client to use jquery or something else. It's a welcome contribution, but it requires working with the https://github.com/kubernetes-client/gen repository to change/update the code generator.

[2018-12-22 02:12] brendandburns commented on #161
@Gwee can you send your Kubeconfig file (anonymize first, please)

Thanks

[2018-12-24 13:54] GiladShoham opened #170 "Exec.exec fails on json.parse"
Using version 0.7.1 when I run exec which fails (status code 1) I got a valid json on the handler - https://github.com/kubernetes-client/javascript/blob/master/src/web-socket-handler.ts#L47
So the JSON.parse is working as expected.
Since version 0.7.2 I got a string which  make the JSON.parse to throw.
Here is real example of response from 0.7.1 and 0.7.2
0.7.1:
[code]
0.7.2:
[code]

[2018-12-24 16:52] lucasyvas commented on #53
I sympathize with the effort required to make client libraries for multiple languages, but using a generator produces some terrible interfaces like this as you've pointed out.

 I'm happy you created this issue as I was wondering what the best default value was to put in for values you want to not set! So I will try this out and maybe that'll work.

It's too risky to expose the client calls to the

[2018-12-27 16:20] kevinsimper commented on #128
It would be nice with some published documentation for the function `kc.loadFromDefault();`, but I can just read the sourcecode, but for beginners 😄

[2019-01-03 19:07] masalinas opened #171 "Some questions about APIs"
Whats the diferente from Core_v1Api, Apps_v1Api, etc. ?

For example inside Core_v1Api not exist the function: listDeploymentForAllNamespaces and under Apps_v1Api yes.

Exist more documentation about this question?

Regards

[2019-01-05 21:33] flyboarder commented on #156
@brendandburns as per this SO post, they should be in `devdependencies`
https://stackoverflow.com/questions/45176661/how-do-i-decide-whether-types-goes-into-dependencies-or-devdependencies

[2019-01-05 23:54] flyboarder commented on #171
This is related to how k8s breaks up the api, I recommended reading their documentation.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/

[2019-01-07 04:53] silasbw commented on #19
I can take a pass at trying to change swagger-codegen.

I created an issue on swagger-codegen https://github.com/swagger-api/swagger-codegen/issues/9035 and created a strawperson proposal for a solution https://github.com/swagger-api/swagger-codegen/pull/9036.

[2019-01-09 05:36] ypjin commented on #139
@salaxander I'm in the need to use this library to get resource metrics and have no clue how to do that. Would you please advice on it? Thanks in advance!

[2019-01-09 05:41] ypjin opened #175 "Can this send raw queries to Kubernetes API?"
Hi!
I'm trying to use this library with Resource Metrics API. Since it does not have such support I'm wondering if it can send raw queries to Kubernetes API. Similar to this https://github.com/kubernetes-client/python/issues/528#issuecomment-402304007.

Thanks and best regards!

[2019-01-09 08:05] cabrinoob opened #176 "listNamespacedIngress response format"
Hi,
I'am using the method `listNamespacedIngress` of `Extensions_v1beta1Api` class and I have a comment on the object format returned.

[code]
In the snippet above, the data object have a `body` property which contains an `items` array which contains all ingress objects in _currentNamespce_. But these `ingress` objects lack the **kind** and **apiVersion** properties.

They just have `metadata`, `s

[2019-01-11 06:16] brendandburns commented on #170
I'll investigate this.

[2019-01-11 06:17] brendandburns commented on #175
I believe that if you use the `Config.applyToRequest(...)` method here:

https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L146

It should work correctly.

[2019-01-11 06:21] brendandburns commented on #176
What happens when you list other objects? If it is only Ingress then it's definitely a bug.

If it does the same thing for other objects then we'll need to investigate further to see what the "correct" behavior is.

[2019-01-11 16:14] macrozone opened #177 "authorization with glcoud no longer works"
i updated gcloud and reinitialized it. now, i can't do requests anymore with `@kubernetes/client-node` (it worked before)

when i do a request, i get this error body:

[code]

I initialize the client with:

[code]

I think it is related to how gcloud does authentification. Someone has an idea what's wrong?

[2019-01-11 16:48] macrozone opened #178 "access-token does not get generated if no access-token is present"
follow up of https://github.com/kubernetes-client/javascript/issues/177

If you never used an auth-provider, your .kube/config looks like this (e.g. with google cloud):

[code]

in this case the js-client sees that there is an auth-provider and tries to get the propery `access-token`, which is undefined here.

There is some logic to update the access token if it is expired, but this also only work

[2019-01-12 02:20] brendandburns commented on #171
Specifically, the first part is the 'apiGroup' it's where the default '' api group is called 'Core'

Closing since I think this is answered.

[2019-01-12 02:20] #171 closed

[2019-01-12 02:36] brendandburns commented on #170
If I remember correctly, this has something to do with the various different websockets protocols, though I don't know what changed between releases...

[2019-01-12 02:40] brendandburns commented on #170
Ah, I figured it out, it was in the switch to isomorphic-ws we dropped the protocols header....

I'll see about fixing.

[2019-01-12 03:12] brendandburns commented on #170
PR with the fix here: #180

Once this merges I'll cut a new release.

Apologies for the oversight during the refactor....

[2019-01-12 04:20] brendandburns commented on #176
So I used `kubectl --v=10 get ingress` which dumps the raw body, and the raw body that I saw was:

[code]

And similarly for Pods.

So it looks like that's the way `*List*` objects come back via JSON. I suspect that in Go what happens is that that JSON is converted to a Golang object and then _back_ to JSON, and somehow in doing that the kind is populated.

So I'm going to close this for now. Feel

[2019-01-12 04:20] #176 closed

[2019-01-12 04:32] brendandburns commented on #175
I validated this and added an example in #181

Closing this since it is answered.

[2019-01-12 04:32] #175 closed

[2019-01-15 01:07] ypjin commented on #175
That's perfect. Thanks a lot @brendandburns !

[2019-01-15 01:37] brendandburns commented on #156
@flyboarder I actually am not sure, we use the `request` library in our public API:

https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L117

(specifically the `applyToRequest(...)` call)

So per that SO post, I think we _do_ need it in `dependencies`

[2019-01-15 01:55] #116 closed

[2019-01-15 20:45] #156 closed

[2019-01-16 03:35] flyboarder commented on #156
@brendandburns I took another look at the answer post, you are correct! We do need the types in dependencies for consuming projects to understand relevant types.

[2019-01-19 08:15] proAlexandr opened #187 "forward.portForward - Uncaught Error: not opened"
Hi, I faced an issue with `forward.portForward` method.

In my app, I use it in this way
[code]
where `service.namespace` and `service.pod` is not empty strings

Next, I enter `http://localhost:8081` in a browser and see a website hosted on a kubernetes pod, everything is OK.
But sometimes, when I update page in my browser I see infinite page loading. If I updated the page again it could be infini

[2019-01-21 23:14] itowlson commented on #187
A PR with your patch would be great!  Thanks!

cc @brendandburns

[2019-01-22 12:25] slashblog opened #188 "Security vulnerability in dependency"
For Kubernetes-client we have **jsonpath** as the dependency. This internally is using JSONSelect package which uses jquery-1.6.1 and uglify-1.0.1. Both of which are having security vulnerabilites (details follow).

JQuery vulnerability: [CVE-2011-4969](https://nvd.nist.gov/vuln/detail/CVE-2011-4969) && [SONATYPE-2014-0026](https://github.com/jquery/jquery/pull/1505)
Uglify vulnerability: [SONATYP

[2019-01-22 23:05] #170 closed

[2019-01-22 23:49] brendandburns commented on #187
Yeah, a PR would be great.  Can you make this an optional behavior? e.g. if I don't want it to re-initiate, I can disable the feature?

Thanks!

[2019-01-22 23:53] brendandburns commented on #188
Yeah, we'll update the dependencies to the patched versions.

Note that for these vulnerabilities:
First one is XSS, since this library runs in node on the server, instead of in the browser, this vulnerability doesn't really apply.

Second one is a compute DOS attack, only applies if you let people pass you arbitrary JSONPath expressions, which is only used in `KUBECONFIG` file loading, and if som

[2019-01-23 04:50] slashblog commented on #188
Thanks @brendanburns for confirming.

[2019-01-24 06:05] brendandburns commented on #188
@slashblog I investigated this some more. Neither of these packages are present in the dependencies for the JSONSelect package. How are they affected by these vulnerabilities?

We do have a reference to uglify (`uglify-js` package) but the version is > `2.6.0` which seems to mean that the CVE doesn't apply.

Can you clarify why you think we depend on these vulnerable packages?

[2019-01-24 11:34] slashblog commented on #188
@brendandburns I am including the kubernetes-client package in my package as dependency which brings JSONSelect as dependency. The JSONSelect is giving these security issues. If I check the node_modules/JSONSelect folder, I can see this:

[code]
The jquery-1.6.1.min.js is the one causing the above vulnerability.

Similarly,

[code]
The above uglify.js is causing the other vulnerability.

Even thou

[2019-01-24 11:40] slashblog opened #192 "Security vulnerability in dependency: shelljs 0.8.3"
Please address the following security vulnerability:

[2019-01-25 00:45] brendandburns commented on #188
That directory is a demo of how to use the JSONSelect library, it's not referenced by this code at all. Thus, not a security issue for this code.

Likewise, the uglify library is used to package the JSONSelect library (look at the reference in the Makefile) it's not actually referenced by JSONSelect as far as I can tell.

Given that these are not actually referenced by this library, this isn't a s

[2019-01-25 00:45] #188 closed

[2019-01-25 00:47] brendandburns commented on #192
shelljs is used to execute a command in the KUBECONFIG file. This command should not be considered untrusted. The string is explicitly an arbitrary command the user is asking us to execute.

This is not a vulnerability for this library. Closing. Please re-open if you want further action (and suggest what that action is)

[2019-01-25 00:47] #192 closed

[2019-01-28 00:34] elvisace opened #194 "What is the release schedule?"
Hello,

I see that `ttlSecondsAfterFinished` on `V1JobSpec` has been added in master in January. The latest release was on `Oct 19, 2018`.

Any idea when there will be another release (including the ttl changes)?

Thanks!

[2019-01-28 02:01] flyboarder commented on #194
There was a recent release to `0.8.0`

[2019-01-28 06:00] brendandburns commented on #194
As @flyboarder mentions, there was a release 4 days ago, that should include that change.

Closing this issue, please re-open if you need more info.

Thanks!

[2019-01-28 06:00] #194 closed

[2019-01-29 03:34] elvisace commented on #194
Thanks!!

[2019-01-29 19:41] TomNeyland opened #196 "Exec: Support commands with arguments"
As noted [here](https://github.com/kubernetes-client/javascript/blob/44e070ab6fd5c80618f86453c35dc4ebf878d1e2/src/exec.ts#L20), it would be nice for `Exec.exec()` to support a command with arguments.

[2019-01-30 22:19] ddgenome opened #198 "0.8.0 exposes bluebird promises in API, breaking things"
Commit f4c4a647b94f71fed3e7ef7fd681789c7c89b9af exposes bluebird promises as part of the externally facing API. This breaks downstream TypeScript projects in two ways:

1.  The `@types/bluebird` were not moved from "devDependencies" to "dependencies" in the package.json, see #156 for context.
2.  Bluebird promises are incompatible with ES6 Promises, see DefinitelyTyped/DefinitelyTyped#11027, so do

[2019-01-31 00:04] brendandburns commented on #198
Hrm, I'm not sure why the regenerate added bluebird promises to the API surface area.

@flyboarder do you have any ideas here?

[2019-01-31 16:32] TomNeyland commented on #196
Resolved in #197

[2019-01-31 16:32] #196 closed

[2019-01-31 18:47] brendandburns commented on #198
In looking at this, I think we can simply remove the import from `api.ts` and it will work. It won't be awesome for people who don't use `es6` but I think they'll know what to do...

[2019-02-01 22:44] brendandburns commented on #198
Added a Changelog.

[2019-02-02 01:34] sheldonkwok opened #203 "Thoughts on using prettier for code?"
Prettier is becoming more standard across Typescript repos and enforces an acceptable style. Thoughts on introducing it to the code base? I saw that tslint was added somewhat recently.

[2019-02-03 00:17] flyboarder commented on #198
@brendandburns no idea here, I just ran the generator so I imagine the problem is caused upstream by that. Where is bluebird introduced in the project and do we actually use it internally anywhere?

[2019-02-04 05:07] brendandburns commented on #203
I don't have strong feelings one way or the other.

@drubin @itowlson what do you think about prettier vs tslint?

[2019-02-04 13:21] drubin commented on #203
Seems like `tslint` is still required for a bunch of rules not purely related to styling, like unused vars.

https://alexjover.com/blog/use-prettier-with-tslint-and-be-happy/

I don't have strong views I think as long as we maintain a consistent style that also does basic checking that we also get with tslint.

[2019-02-04 19:19] sheldonkwok commented on #203
I personally use both tslint and prettier. Prettier is definitely heavily opinionated and has few configuration options because it wants you to stick to their style. It's very consistent and I didn't have enough reasons to vehemently object to anything. This doesn't really apply as much to this project but style consistency across repos in an org is nice. Prettier is also popular enough that you c

[2019-02-05 03:56] brendandburns commented on #203
Sure, I'd be happy to see the PR with the changes. I lean towards editorconfig since it's what the mainstream typescript repo uses...

[2019-02-05 23:13] sheldonkwok commented on #203
https://github.com/sheldonkwok/javascript/commit/9f7482c9ba0ece0460abfa041882dc2bdb0cab30

[2019-02-05 23:19] sheldonkwok commented on #203
- A majority of the changes are `'` vs `"` which is something that editorconfig doesn't support.
- The second class of changes seem to be around how people expand a long line onto multiple lines. There are several styles incorporated into the repo and it would be nice if they were more consistent.

The editorconfig on the ts repo seems to mainly enforce spacing.

[2019-02-06 06:02] brendandburns commented on #203
@sheldonkwok these look pretty reasonable to me.  Personally, I prefer `'` to `"`, I think that's a Python influence :)

Any chance you can do a different PR with editorconfig so that we can compare?

Sorry to make you jump through the hoops, but this seems like the kind of decision we should only make once...

[2019-02-06 07:55] drubin commented on #203
I use editor config for a bunch of different projects but the scope is incredibly limited see https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties. This is not a replacement for linting/formatting per lang.

I think it actually makes sense to implement both. EditorConfig is more widely supported by IDE's out the box and potentially prettier to deal with the more typescript for

[2019-02-06 09:00] buehler opened #206 "feat: Possibility to create/update multiple objects from YAML or concatenated YAML"
Hey there!

Thank you for this api, it's a very useful tool.
I built a wrapper around `kubectl` to actually ease some deployments and fix some issues with those deployments.

Now what bugs me (I'm currently thinking about using `@kubernetes/client-node` in my CLI tool):
is it possible to actually make something like `kubectl apply -f ./`?

So the use-case would be:

I've got a folder in my reposit

[2019-02-06 19:50] sheldonkwok commented on #203
Maybe we can use https://www.npmjs.com/package/tslint-config-prettier ?

I actually also prefer `'` :)
I pushed a new change out to see the diffs with `'`
https://github.com/sheldonkwok/javascript/commit/dc8ea4b3d5f259e3524b9579d200dfc237b0dc4e

[2019-02-07 06:34] brendandburns commented on #203
These changes LGTM!  @sheldonkwok can you craft this into a PR with the relevant config files (and possibly instructions in README.md too?)

Thanks!

[2019-02-07 06:38] brendandburns commented on #206
Do you really want the 'apply' functionality, meaning "create if not exists"?

Or do you just need "Create multiple objects from YAML"

The first one is fairly hard to implement and will likely not do it in favor of the forthcoming [server-side apply](https://github.com/kubernetes/enhancements/issues/555)

The second is definitely a reasonable feature request.

Let me know what you think (and if i

[2019-02-07 06:40] brendandburns commented on #123
Closing since I believe this was fixed by #132, please re-open if there are still issues.

[2019-02-07 06:40] #123 closed

[2019-02-07 06:54] brendandburns commented on #66
We moved to isomorphic-ws so I'm going to close this issue. Please re-open if someone hits it again.

[2019-02-07 06:54] #66 closed

[2019-02-07 08:21] buehler commented on #206
Actually kinda "both"? :-)
I mean, when `apply` is executed, it creates resources and if they already exist (I was assuming this is magic by the kubernetes master) it does patch / update the resources. (Am I wrong on this assumption?)

I'm not a `go` pro, so I looked over into the kubectl apply repository code and saw that they map their yamls to whatever magic in go :-)

But actually I meant that

[2019-02-07 08:56] drubin commented on #203
Is it possible to use https://palantir.github.io/tslint/rules/object-literal-key-quotes/ `"consistent-as-needed"` I always find it pretty odd to have some properties quoted as others not?

From the changeset

[code]

Not sure what everyone else thoughts are? @brendanburns @itowlson

[2019-02-07 21:09] sheldonkwok commented on #203
I like that rule. Shouldn't need extra quotes. Will submit a mr

[2019-02-08 04:02] brendandburns commented on #206
Unfortunately, currently the "create if not exists" part of the code is in the `kubectl` tool, not in the server.

There is ongoing work to move it from client to server. Because of that, I don't think it's worth the time to implement it in this client (though if someone else wanted to do it, I'm open to accepting a PR).

So for the time being "apply" == "create if not exists" won't be possible fr

[2019-02-08 04:04] brendandburns opened #208 "Improve the release process"
For example, we need to add a tag to git, probably should automatically rev package.json and package-lock.json...

[2019-02-08 14:28] cross311 opened #209 "Access token is not refreshed using refresh token, like kubectl"
I am using Azure AD for auth on our kubernetes cluster.  When I use the kubectl on my mac it never gives me a 401.  However, if I have not used kubectl in 10 minutes, when I run a script that uses this library it gives me a 401.  If i then run a quick command using kubectl then run my script again it works.  I looked to see if this issue was already raised, the closest is #177.  But it is closed.

[2019-02-08 14:32] cross311 commented on #209
Actually, I see that there is an open pull request for this: #179.

[2019-02-08 18:51] NathanRSmith commented on #128
It would be wonderful if there was some description of the naming scheme in the README. I understand that it's generated from Swagger, but until the JSDocs are hosted somewhere, even a description of how to roughly translate from the [k8s API Docs](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.13/) to the code API would be helpful.

I'm not opposed to spelunking, but attempting

[2019-02-08 22:37] brendandburns commented on #209
Yep, duplicate of #178, closing.

[2019-02-08 22:37] #209 closed

[2019-02-12 09:54] buehler commented on #208
I'd strongly suggest semantic release.

If you wouldn't mind, I could provide some help with that. Currently I'm working heavy with semantic release and the adjacent systems

[2019-02-12 19:19] sheldonkwok commented on #203
Unfortunately, prettier does not support that rule

[2019-02-12 19:30] drubin commented on #203
@sheldonkwok thanks for trying. It just hurts my eyes a little when things don't line up, but it's currently the way it is.

[2019-02-14 00:19] #178 closed

[2019-02-14 22:46] #203 closed

[2019-02-14 22:50] sheldonkwok commented on #208
A lower cost solution for now could also be to use the `npm version` command to manage package versions and git tags. https://docs.npmjs.com/cli/version.html

[2019-02-15 11:42] drubin commented on #208
`npm version` uses a slightly different tagging system it uses `v0.1.1` vs `0.1.1` it also doesn't actually ask for confirmation and push and publish.

But maybe we should look at https://github.com/sindresorhus/np @brendandburns before we merge the bash?

[2019-02-15 19:52] #208 closed

[2019-02-16 15:13] fdalm opened #213 "Enforcing order of execution of command lines when using exec"
I'm trying to use exec to pass down a list of commands to a container in order to have a simple CI pipeline in place. I can send and execute all commands (and get logs and exit status) however I'm not being able to enforce the order of execution.

I have tried numerous approaches, some guaranteed to provide a sequential, ordered flow but none has worked so far. Surely, any shortcomings I might hav

[2019-02-16 18:21] drubin commented on #213
HI @fdalm

I think this issue has more to do with the way the kubernetes API server handles commands each command is executed in a clean context. Similar to starting a new bash shell.

But in your case is there a reason why you aren't doing

[code]

It feels logically this would make more sense since its a single script/workflow.

Each one of these tasks would be similar to doing the following wit

[2019-02-18 10:10] borremosch commented on #110
I was facing the same issue and have written a FollowLogs class to be able to follow logs. It is included in  #214.

[2019-02-18 18:57] alewitt opened #215 "Vulnerable Dependency .. jsonpath > static-eval"
Similar to #31 but seems like a new issue. Please Advise.
[code]

[2019-02-19 08:36] cabrinoob commented on #110
Hi @borremosch, thank you for your PR. Do you have a code sample that shows how to use your class ?

I rapidely read your code and I was asking myself a question : You only specify namespace and podname to get logs, but what if you have a multicontainer pod ? You have to specify the container name too isn't it?

Thank you

[2019-02-19 10:11] brendandburns commented on #215
To exploit this in this context you would have to have a malicious jsonPath injected into your Kubeconfig file.

Considering that the kubeconfig file contains the secrets needed to access your cluster, if someone malicious has access to that file, there are much worse things they could do than inject arbitrary JSON code.

This doesn't seem worth worrying about to me.

[2019-02-19 10:14] brendandburns commented on #213
To add a little more to what @drubin is saying:

Each `exec` call happens in it's own shell/context. So your `cd` in one exec doesn't change the working directory for the next `exec`

I'm closing this, since it's not a bug.

[2019-02-19 10:14] #213 closed

[2019-02-19 10:18] borremosch commented on #110
[code]

[2019-02-19 14:15] #215 closed

[2019-02-20 22:42] fdalm commented on #213
Hey, @drubin !

Thank you so much for your prompt reply. I missed the notification, sorry!
Upon further research, I reached the conclusion now pinpointed by @brendandburns. The context of the call went under the radar for me.

As for expressing the tasks that way, I was experimenting with a way of describing CI/CD pipelines. It was harder for me to get each command's output for some reason. I gues

[2019-02-23 00:30] NicolasT commented on #165
Recent versions of `swagger-codegen` (as used by `kubernetes-client`) have a `typescript-fetch` 'language' type which should be portable across NodeJS and browser (using `portable-fetch`, which is what the generated code uses).

However, things are not as simple. There's a bit of code (`config.ts` mainly) that's quite tightly coupled to a NodeJS environment (not sure how to read `kubeconfig` files

[2019-02-26 14:30] NicolasT commented on #165
I figured one could adjust how `kubernetes-client/gen` generates the API bindings, to make it generate `typescript-fetch` code which would then work in the browser, and be done with it.

However, things aren't as simple: with `fetch`, there's no way to emulate `strictSSL = false` to ignore 'invalid' TLS certificates, which is possible in the current library. This feature will never be possible on

[2019-02-26 22:52] flyboarder commented on #165
I agree, this library makes heavy use of platform specific code. We should move the browser javascript to it's own repo.

[2019-02-27 08:58] NicolasT commented on #165
Goh... not entirely sure about that, to be honest. It should be possible to keep NodeJS and browser libraries in the same 'source tree'. The major pain-point is generated code, I guess. However, I bet we can work-around this, it's mostly a matter of writing API-compatible stubs and delegating to the 'right' one.

For whatever using platform-specific code (e.g. the current `config` using `fs` and s

[2019-02-28 19:22] brendandburns commented on #165
Maybe we can extract out the node or browser specific stuff into separate things that we could have users dynamically require/import?

[2019-02-28 20:58] NicolasT commented on #165
To some extent, yes. However:

- In-browser, `request` isn't available so the code as generated today can't work.
- In NodeJS, `fetch` can be made available, but the `fetch` API doesn't support disabling TLS server certificate validation, which is currently supported by this lib.
- As in my PoC, we can stub `request` with an implementation using `fetch` underneath (and not support disabling TLS se

[2019-03-06 00:40] #187 closed

[2019-03-06 10:41] CorentinDy opened #216 "Authentification"
Hi ,
I'm wondering if there is any way to make an authentification ? or if the error is related to something else ?

`'pods is forbidden: User "system:anonymous" cannot list pods in the namespace "default"',`

I was trying the exemple to get pods from default namespace but I'm stuck with this error

The kubernetes cluster is on AWS.

[2019-03-06 18:37] orojina commented on #216
The same here I'm getting:

`body:                                                                                                                                                                                                                                                                            { kind: 'Status',

[2019-03-06 18:49] orojina commented on #216
BTW the example to get pods from the python library works well but the nodejs is throwing the error I mentioned. I used the same config file for both runs

[2019-03-07 00:19] brendandburns commented on #216
Can you send an example of your config file (with personal data removed, of course)

[2019-03-07 14:58] orojina commented on #216
The config file looks similar to this:

[code]

[2019-03-07 18:05] brendandburns commented on #216
Ah! I see the problem...

Basically it expects an `authConfig` to be present, but that's not how this is modelled (which is a little messed up imho, but oh well)

I will send a PR to fix this, in the meantime if you add:
[code]

It will work (that's a definite work-around)

The relative bug is this line here:

https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L279

[2019-03-07 19:43] orojina commented on #216
Hi @brendandburns I tried to apply the workaround so my config file now looks like this:

[code]

But I'm still getting the same error.

@CorentinDy you had any luck ?

[2019-03-08 00:40] brendandburns commented on #216
@orojina I sent a PR (#217) which should fix things. If you can patch it in and try, that'd be great, otherwise, I'll wait til it merges and cut a new release.

Thanks!

[2019-03-10 17:34] metal3d opened #218 "Can't resolve 'child_process' with electron app + Angular + TS"
Hi,

I'm trying to create an application that embed Angular in Electron.

My package.json file includes `"@kubernetes/client-node": "^0.8.1"` and `"electron": "^4.0.8",`

I'm building a service that prepare the client:
[code]

Then I try to build the application:
[code]

The given error is:
[code]

There is no webpack configuration (and I have to say that I really don't know how and why some issue

[2019-03-11 13:37] brendandburns commented on #218
I don't really know anything about this issue, but I searched around a little bit.  I think adding:

[code]

to your `package.json` file may fix things.

Ref: https://stackoverflow.com/questions/54162297/module-not-found-error-cant-resolve-crypto

I'm closing this, since this is an electron-specific issue unrelated to this library.

[2019-03-11 13:37] #218 closed

[2019-03-11 20:28] rvichery commented on #216
The PR did not fix the issue, just tried connecting to an EKS cluster with master branch. The exec attribute in the User object is not populated at https://github.com/kubernetes-client/javascript/blob/master/src/config_types.ts#L66

I will create a PR to fix the issue, I have tested a fix locally and it worked.

[2019-03-12 08:44] metal3d commented on #218
Hi,
Thanks for you answer.

I already tried and it gives no effect. I really don't understand why it works with TS in electron, but why in an Angular service or class the problem happens.

If I'm making an external ts script, then I use "tsc" to compile, no problem, but it's complex to attach the class in Angular components afterward.

I tried to change many tsconfig options, package.json options,

[2019-03-13 10:35] dynnamitt opened #220 "Improve docs for programmatic configuration."
loadFromOptions ?

Sample using AWS EKS from a lambda ...

[2019-03-13 17:53] brendandburns commented on #216
Closing since #219 is merged.

[2019-03-13 17:53] #216 closed

[2019-03-13 17:54] brendandburns commented on #220
There's an example in the unit test here:

https://github.com/kubernetes-client/javascript/blob/master/src/config_test.ts#L144

It's probably worth improving the docs too.

[2019-03-13 18:43] #220 closed

[2019-03-14 07:58] dynnamitt commented on #220
thx

[2019-03-15 16:16] brendandburns commented on #216
@rvichery @CorentinDy I just pushed `0.8.2` to `npm` which has this fix.  Thanks!

[2019-03-15 21:32] orojina commented on #216
Hey @brendandburns @rvichery just to confirm that the issue has been resolved in `0.8.2` . Thanks a lot!

[2019-03-17 23:30] jsimmonsc commented on #137
I started digging into supporting oidc token refresh and ran into this issue.  +1 for this.

I'm not super strong in js and have just started trying to get our company to sign a CLA, so I'm a little limited in my ability to do much...  But is there something I can do to help get this done / merged.

[2019-03-20 16:09] tetchel opened #224 "Path to ca.pem must be absolute"
[code]

My cluster config contains
[code]

If I replace that path `mycluster/ca.pem` with an absolute path (`/Users/tim/.kube/mycluster/ca.pem`), then it works.
If the path is a relative one, or if the file is not found, perhaps the library could prepend the kube config directory `$HOME/.kube/` to the configured path?

FWIW the relative path config worked out-of-the-box with the godaddy `kubernete

[2019-03-20 16:11] tetchel commented on #224
Well, I guess "must be absolute" is not quite correct, because if the working directory was `$HOME/.kube` then it would work. But you see what my issue is.

[2019-03-20 17:02] NolanChan opened #225 "A way to sort returned values?"
In `kubectl`, you can sort returned values by using `--sort-by`. An example would be:

[code]

I kept looking through the documentation for the `kubernetes` api and inside this client, but I could find no way to sort returned values. Is there a way to do this?

[2019-03-20 19:16] tetchel commented on #224
Potential fix:

We could extract the logic of `findHomeDir` plus [this](https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L205) into a function like `findKubeDir` to return something like `"/Users/tim/.kube"`

Then [here](https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L258) we can test if each file exists before trying to open it. If it doesn't ex

[2019-03-20 19:18] tetchel commented on #224
Also, looking at [bufferFromFileOrString](https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L358), if the file doesn't exist but the `cluster.caData` is provided, it will still fail because the code tries to access the file first (same with the user's certFile/Data and keyFile/data). I'm not sure if that is intentional. Maybe it's that function that should/could be refactor

[2019-03-21 19:03] tetchel commented on #224
@brendandburns  ?

[2019-03-21 23:27] brendandburns commented on #224
@tetchel will look today.

[2019-03-21 23:30] brendandburns commented on #225
Sorting happens client side in `kubectl` so you would need to use:

[code]

Or something like that.

[2019-03-21 23:30] #225 closed

[2019-03-21 23:57] brendandburns commented on #224
@tetchel fix is in #226

[2019-03-22 03:12] tetchel commented on #224
Now that's service! :+1:

[2019-03-23 06:15] richardhca opened #227 "FIX README.MD"
"There are several more examples in the examples directory."
This sentence looks quite awkward to me. Despite understandable, rewrite as "More examples can be found in examples directory" is recommended.

[2019-03-24 22:40] brendandburns commented on #227
PRs are welcome to improve the docs. I'm going to close this issue though, because it's not really an issue.

[2019-03-24 22:40] #227 closed

[2019-03-24 22:55] #224 closed

[2019-03-25 00:47] tetchel commented on #224
@brendandburns any idea when this will be available in an npm release? I'd like to pick it up as soon as possible

[2019-03-25 17:15] rvichery opened #228 "Unauthorized status code when calling Kubernetes after token expiration time"
I am seeing an issue where I receive a 401 Unauthorized status code using Exec Auth. It seems the token expires and does not get renewed. Interestingly, if I do a call to Kubernetes API every minute or 5 minutes (see below snippet) I don't see the issue, but if I wait after the initial token expiration time to do a subsequent call, it fails with a 401 Unauthorized.

Here is the snippet I used to d

[2019-03-25 23:25] brendandburns commented on #228
@rvichery this seems like it's a bug in the auth tool rather than this code. Any chance you can instrument the exec tool's output in the case when the token is already expired?

[2019-03-27 02:04] NolanChan opened #229 "Kubernetes Exec WebSocket not sending data"
I realize I'm a frequent poster, I really appreciate you guys taking some time to look over this!

My issue is [nearly the same as this SO post](https://stackoverflow.com/questions/47781794/kubernetes-websockets-api-pod-exec-node-js-client-send-method), except that I'm using the Kubernetes Javascript Client (hence this issue).

Basically, if I create a `WebSocket` using `exec.ts`:

[code]

then

[

[2019-03-27 12:25] drubin commented on #229
Hi @NolanChan

The websocket doesn't behave like a "shell" you can't just send commands to it like a normal websocket API as I think you were expecting.

You need to type `ls` inside the terminal `root@shell-demo:/#`

If however you just want to send multiple commands programmatically your issue might be similar to this https://github.com/kubernetes-client/javascript/issues/213 ? if not let me kno

[2019-03-27 18:42] NolanChan commented on #229
Hi @drubin ,

Unfortunately I was hoping that the websocket behaved similarly to [the stream that `dockerode` creates on `exec`](https://github.com/apocas/dockerode/blob/a41fc414d1f74851c7b7e8f32e7ab3020b8e5fa7/examples/exec_running_container.js), in that you could `write` input into the stream and it would recreate a container's `shell`.

On a high level, I'm trying to recreate a shell experience

[2019-03-27 22:08] #82 closed

[2019-03-27 22:09] brendandburns commented on #229
@NolanChan if you pass a different stream than `process.stdin` then you can write to that stream and it will be read as if it is coming in via `stdin`.

You also almost certainly want to set `tty` to false in that case or else the shell will send control characters (which you probably don't want, unless you are emulating a terminal.)

[2019-03-27 22:09] #229 closed

[2019-03-27 23:48] NolanChan commented on #229
Hi @brendanburns , I just tested your suggestion by

1. passing in a `writable` stream instead of `process.stdin`,
2. passing commands into `stdin`, i.e. - `stdin.write('echo hello world')`
3. nothing is being outputted to `stdout` except the original line `root@shell-demo:/#` from the initial command

I am trying to emulate a terminal. I experimented with `tty` true or false, and neither helped.

[2019-03-28 00:47] NolanChan commented on #229
Also @drubin when you mentioned that:

it seems that the [handleStandardInput](https://github.com/kubernetes-client/javascript/blob/master/src/web-socket-handler.ts#L51) method, which is connecting the `stdin` stream passed to the `exec` call, is basically feeding whatever data is from `stdin` into `ws.send`. It seems that from my understanding, the expected behavior then is to pass commands insid

[2019-03-28 14:39] brendanburns commented on #229
The shell expects a newline after the command...

On Wed, Mar 27, 2019, 5:47 PM Nolan Chan <notifications@github.com> wrote:

[2019-03-28 17:39] NolanChan commented on #229
I forgot to mention that I tried that, along with sending my data encoded in a `Buffer.from`. Things I've tried includes:
[code]

and also each command that I passed into the `writableStream` I also passed into `ws.send`

[2019-03-28 18:39] brendandburns commented on #229
You shouldn't be passing anything to ws.send

You should pass the stream instead of `process.stdin` in the example code above.

e.g.
[code]

[2019-03-29 05:32] mathewmoon commented on #216
Still present for me in 8.2

[2019-03-29 16:50] rvichery commented on #216
@mathewmoon, what kind of error are you getting ? Can you please post your kubeconfig here as well ?

[2019-03-29 16:52] rvichery commented on #228
Sorry, I did not have time to instrument the exec tool's output yet. I will give it a try today and will let you know.

[2019-03-31 03:59] kazif commented on #21
Hello. I'm using io.kubernetes.client.apis.CoreV1Api;
<dependency>
			<groupId>io.kubernetes</groupId>
			<artifactId>client-java</artifactId>
			<version>4.0.0</version>
		</dependency>
I have created a pod using createNamespacedPod, now I want to run this POD.
I do not see createNamespacedDeployment() in the library.
Your help greatly appreciated and thanks

[2019-04-01 15:58] technosophos opened #230 "Some of the function signatures are a little... ergonomically challenging"
When creating various namespaced objects in TS, I found myself writing function calls like this:

[code]

Note that arg 3 is boolean, arg 4 is a string that accepts only `"true"`, and argument 5 is a `string | undefined` that accepts only `"All"` (note uppercase) or `undefined` as a value.

I know the clients are largely autogenerated, but writing code this way is frustrating, error prone, and dif

[2019-04-01 21:16] brendandburns commented on #230
Sure, if you want to improve the code generator it's here:

https://github.com/OpenAPITools/openapi-generator

Specifically:
https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-node

They're quite good at merging PRs....

[2019-04-03 15:27] sudheer-sweetiq opened #231 "How to create a job from cronjob programmatically?"
I would like to run a cronjob programmatically using the following command, Can anyone help on this?
`kubectl create job --from=cronjob/test-job test1`

[2019-04-03 19:40] silasbw commented on #230
I'm the maintainer of an unofficial kubernetes-client for JavaScript (with TypeScript declarations) that tries to address your concern with a more fluent/intuitive interface: https://github.com/godaddy/kubernetes-client

I have plans to power godaddy/kubernetes-client with kubernetes-client/javascript (e.g., https://github.com/godaddy/kubernetes-client/pull/394). At that point godaddy/kubernetes-c

[2019-04-03 20:41] #231 closed

[2019-04-04 15:04] redborian opened #232 "Token fails to refresh in windows"
I get the following error when accessing the cluster using `@kubernetes/client-node` package with an expired token:
[code]
I get this error when I access the cluster after a few hours of idle time. I get this error consistently with the latest version of the package.
After running any `kubectl` command, it starts working again. I suspect the `kubectl` command refreshes the token behind the scenes.

[2019-04-05 14:21] RabbidDog opened #233 "system env no_proxy with IP range format not inferred"
System: Ubuntu 18.04
kubernetes-client: v0.8.2

added the IP range 10.96.0.0/12 in no_proxy env variable. But the requests to get kubernetes resources tries to go through the company proxy. Explicitly added 10.96.0.1 to no_proxy env variable and then requests to get kubernetes resources succeed.

[2019-04-05 15:06] drubin commented on #233
As far as I understand `no_proxy` works with wild cards so in your example you would use

`no_proxy=10.96.` instead of an actual subnet range.

[2019-04-07 20:13] brendandburns commented on #230
@silasbw I'd be open to having a `github.com/kubernetes-client/javascript-fluent` (or somesuch) official repo if you wanted to...

[2019-04-07 20:14] brendandburns commented on #232
looks like you don't have the `shelljs` package installed (or it's broken somehow).

you may need to re-install it using `npm`

[2019-04-07 20:14] #232 closed

[2019-04-07 20:16] brendandburns commented on #233
Yep, it's filter-matching, not a CIDR:

https://github.com/request/request/pull/1096/files#diff-ccc0734f65dd7a299409ff07d35be095R300

Closing.

[2019-04-07 20:16] #233 closed

[2019-04-08 04:59] silasbw commented on #230
@brendanburns yes, we'd be up for working through that.  Do you have a suggestion on how to proceed?

[2019-04-08 11:31] RabbidDog commented on #233
I hoped for the same but tests reveal that it does not work for  `no_proxy=10.96.` . Only specifying the complete IP is working.
Also amazing was that I had to include `localhost` in the list of no_proxy.
[Putting this comment in closed ticket just in case anyone faces the same issue]

[2019-04-08 19:47] brendandburns commented on #230
@silasbw can you file an issue here:

https://github.com/kubernetes/org

Requesting that repo, and cc me and also @mbohlool

Thanks!

[2019-04-08 19:48] brendandburns commented on #230
@silasbw

Actually, as I think about it, I'd also be open to there being a `fluent` directory and library within this client. That might be even easier...

[2019-04-09 00:43] silasbw opened #234 "Adding fluent bindings"
This is a summary of the options briefly discussed in https://github.com/kubernetes-client/javascript/issues/230#issuecomment-480979749.

https://github.com/godaddy/kubernetes-client is a fluent JavaScript language API binding and includes experimental support for using https://github.com/kubernetes-client/javascript as it's backend.  It could makes sense to move https://github.com/godaddy/kuberne

[2019-04-09 00:47] silasbw commented on #234
@brendandburns thoughts?  Specifically on Option 2 vs Option 3?  Have you crossed this bridge with any of the other clients?

[2019-04-10 06:08] MaxG2395 opened #235 "Unable to access any methods other than listNamespacedPod"
For some reason, my code works just fine when using listNamespacedPod.
However, if I try to use any method other than that (i.e listNamespacedStatefulSet), I get the following error:

Here's my wrapper code:
[code]

Here's my test:
[code]
The error I'm getting is the following:
[code]

If I change the listNamespacedStatefulSet for listNamespacedPod, it works flawlessly.

[2019-04-10 20:42] kraenhansen commented on #52
How are people even using this library from TypeScript? I want to create a namespace and the types require me to fill in `clusterName`, `creationTimestamp` and a lot of other obviously optional parameters.

I would love to see a TypeScript example that simply creates a namespace:

[code]

[2019-04-16 23:11] brendandburns commented on #234
I don't have a really strong opinion. I don't think that most NPM users are worrying too much about the transitive dependencies :)

If I had to vote, I think I'd vote for #3 as that's closer to what we're doing for Java, but I'd vote for whatever is easiest/happiest to implement more strongly...

(and apologies for the delay, I was on vacation)

[2019-04-16 23:15] brendandburns commented on #235
StatefulSets are in a different API group than Namespaces.  StatefulSets are in `apps/v1` while namespaces are in `v1` (aka `CoreV1`).

See the code here:

https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L239

And pass `Apps_v1API` as the ApiType. See the file here:

https://raw.githubusercontent.com/kubernetes-client/javascript/master/src/api.ts

Forr all of the differen

[2019-04-16 23:16] #235 closed

[2019-04-17 03:46] silasbw commented on #234
OK.  I'm actually heading out on vacation.  I'll take a pass at this when I get back.

[2019-04-18 07:40] inyee786 opened #236 "how run kubeclt command"
i want to run some kubectl command

eg `kubectl describe po <pod name>`
     `kubectl get <custom resource> -n namespaces`

[2019-04-18 17:37] brendandburns commented on #236
This is the javascript library, it's not for kubectl.

There are lots of kubectl docs on the web, e.g. https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands

[2019-04-18 17:37] #236 closed

[2019-04-18 17:38] brendandburns commented on #234
Cool, have a good break!

[2019-04-20 15:12] inyee786 commented on #236
hi @brendanburns
i want to describe the the pod, so that i can get current the event,
How can i achieve this using JavaScript client?

[2019-04-25 13:38] ankitabhopatkar13 commented on #228
I am facing exactly same issue. Did you find any workaround or solution @rvichery

Will be really helpful.

[2019-04-26 03:56] #228 closed

[2019-04-26 20:36] lizardruss opened #239 "Support Terminal Resize"
For pod `exec` and `attach`, there's another stream that can be used for resizing the TTY height and width. This can be implemented by sending a serialized object as JSON over this stream.

[2019-04-30 14:14] SchwarzM commented on #19
since @silasbw proposal was accepted, can we now get this into the client ?

[2019-04-30 21:18] brendandburns commented on #234
@silasbw are you back? No rush, but it would be fun to get this going.

[2019-05-02 13:44] thesayyn opened #241 "GKE: Not compatible with gke"
I couldn't get this work with GKE clusters.

I'm getting `masterAuth` data from @google-cloud/container and passing them to **applyToRequest** function which supposed to configure the `request` package for me.

`clientCertificate` paired with **request's** `cert` option.
`clientKey` paired with **request's** `key` option.
`clusterCaCertificate` paired with **request's** `ca` option.

Result is nas

[2019-05-02 19:20] brendandburns commented on #241
This definitely works with GKE clusters if you download everything into a `kubeconfig` file.

If you're trying to dynamically construct in memory then you may need to figure out the encoding/decoding of how those certificates are represented in the API.

So the library definitely works with GKE, you need to figure out how to construct the right client config in memory if you want to go that route.

[2019-05-02 19:20] #241 closed

[2019-05-03 09:27] thesayyn commented on #241
Then a helper function or an example would be good.

[2019-05-07 03:53] brendandburns commented on #239
Closing since #240 merged.

[2019-05-07 03:53] #239 closed

[2019-05-07 23:07] from-nibly opened #242 "Split up files to support tree shaking"
Could the api.js/api.d.ts file be split up into a set of files? This would help with tree shaking and with the fact that even the d.ts file is over 20,000 lines long. Unless something really fancy was done only splitting on clients would actually do anything. This would result in one file for each of the following ApiClients and the models imported for each:

- Admissionregistration_v1alpha1Api
-

[2019-05-08 05:04] rvichery commented on #228
@brendandburns, are you planning a new release soon to include the fix created by @ankitabhopatkar13 ? Thanks.

[2019-05-09 06:57] richardgragasin commented on #21
Can you provide the steps on how you address this issue? currently having similar issue.

[2019-05-09 15:35] brendandburns commented on #242
Unfortunately, that file is generated by a code generator. To do this you'd need to modify the code generator. It's located here:

https://github.com/OpenAPITools/openapi-generator

[2019-05-09 16:14] from-nibly commented on #242
Gotcha. This would also be a good point to switch to something other than request since request has been deprecated. https://github.com/request/request/issues/3142

[2019-05-13 04:04] silasbw commented on #234
Hey @brendanburns -- yes, and planning on spending time on this this week.  I haven't thought very carefully about how to actually do this.  Do you have a specific process you'd like me to follow?

One strawperson proporsal for how to do `Option 3` is to submit a PR to this repository that copies the https://github.com/godaddy/kubernetes-client code into a `fluent` directory and we discuss issues

[2019-05-13 09:56] michaelgeorgeattard opened #243 "aws-iam-authenticator not found when kube config contains exec env variables"
I am getting an `aws-iam-authenticator not found` error with the following kube config snippet:

[code]

Looks like this is due to a bug in `exec_auth.ts`:

https://github.com/kubernetes-client/javascript/blob/e5ec9456cf8cde7da768701092adf7a91583f1c9/src/exec_auth.ts#L60

`shelljs.exec` second parameter is defined below:

https://github.com/shelljs/shelljs#execcommand--options--callback

Maybe thi

[2019-05-14 17:18] brendandburns commented on #243
The environment variable setup here:

https://github.com/kubernetes-client/javascript/blob/master/src/exec_auth.ts#L58

Can you add more details about the bug?

Thanks!

[2019-05-14 17:19] brendandburns commented on #243
And I think that the error indicates that the `aws-iam-authenticator` is not in your `${PATH}`

[2019-05-14 23:32] brendandburns commented on #234
I like the strawperson proposal. Let's treat this as an experiment to learn what fluent might mean, and then do a KEP to change the library procedure in general using our learnings?

(sorry for the delay in responding....)

Looking forward to it!

[2019-05-15 15:23] michaelgeorgeattard commented on #243
The bug is probably in the way `shell.exec` is called.

Transforming the below:
[code]

Into:
[code]

Allows `shelljs` to "find" `aws-iam-authenticator`.

Environment variables should NOT be passed as the second variable to `shell.exec` but rather as below:

https://github.com/shelljs/shelljs#execcommand--options--callback

[2019-05-15 15:25] michaelgeorgeattard commented on #243
Also to replicate add `env` variables to kube config as below:

[code]

[2019-05-16 02:14] brendandburns commented on #243
Ah, ok, I think I see. The problem is that we should duplicate the existing environment variables before we pass them to exec.

As far as I can read the docs, the way that we are passing environment variables is correct, but because there is no PATH present in the env it isn't present.

I'm pretty sure I see the right way to fix this, I will send a PR.

[2019-05-16 05:24] xujihui1985 commented on #144
@brendandburns I don't know why this issue is closed, and I don't see an answer here, How can I apply an CR with this client?

[2019-05-16 08:44] Obirah commented on #19
For anyone who's stumbling across this issue and needs a workaround similar to the one of @msonnabaum but a bit more generic:

[code]

[2019-05-16 22:16] Obirah opened #245 "HTTP 403 when authenticating via username/password"
Hi,

I am using the kubernetes-client to perform API calls against OpenShift 3.11 (Kubernetes 1.11 API) clusters and I'm facing a problem when authenticating via username and password.

If I use the following KubeConfig, I get a 403 Forbidden on any API call I try:
[code]

The response I get from the API indicates that the user is not even passed correctly, as the API recognizes me as "system:anon

[2019-05-20 16:07] brendandburns commented on #243
Sent a PR with the fix.

[2019-05-20 17:12] brendandburns commented on #245
It seems clear to me that the user name and password aren't making it through to the server. I will try to repro this in a unit test and see what is going on...

(though basic auth is deprecated afaik...)

[2019-05-22 20:18] 1N50MN14 opened #247 "dependency deprecation warning"
`jsonpath` has `jison` as a dependency which in turn has `nomnom` as a deprecated (since 2015) dependency.`jison` doesn't seem to be maintained. `npm` throws two warnings related to that during installation.

Would it be possible to move away from `jsonpath` to an alternative implementation as far as I can see it's only used in `cloud_auth.ts`?

Thanks

[2019-05-22 22:34] drubin commented on #247
Wonder if it would be it would be easy to switch it out for https://github.com/s3u/Jsonpath seems like it might be Api compatible and pretty active.

[2019-05-22 22:35] drubin commented on #247
/assign drubin

[2019-05-23 03:33] brendandburns commented on #247
SGTM, thanks @drubin !

[2019-05-24 16:40] #247 closed

[2019-05-24 21:33] #243 closed

[2019-05-26 19:22] silasbw opened #249 "JSON parse uncaught exception in watch implementation"
The [watch](https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts) can raise an uncaught exceptions on [JSON parse](https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L62) errors. Invalid JSON might be piped to the stream when, for example, the connection is abruptly terminated (_e.g._, `'{"start of json'`).

[2019-05-29 14:44] foxylion opened #251 "Client prints credentials on console"
We are using the `aws-iam-authenticator` to retrieve credentials for the Kubernetes cluster.

The Javascript client seems to print the generated credentials to the console. This results in a cluttered console output mixed up with normal outputs.

[code]

Is there a possibility to disable the output of credentials on the console?

My Kubernetes configuration looks like this:
[code]

[2019-05-29 15:35] brendandburns commented on #251
Ah, yes, I think I see the issue, I think we need to send 'quiet' to shelljs in order to send output to /dev/null.

The relevant code is here:
https://github.com/kubernetes-client/javascript/blob/master/src/exec_auth.ts#L55

Docs for shelljs here:
https://github.com/shelljs/shelljs#execcommand--options--callback

PR welcome, otherwise I'll get to it when I get a chance.

[2019-05-29 15:57] foxylion commented on #251
@brendandburns I thanks for your quick response. I created a pull request.

#252

[2019-05-29 18:50] brendandburns commented on #249
Closing since #250 is merged.

[2019-05-29 18:50] #249 closed

[2019-05-29 18:50] brendandburns commented on #251
Closing since #252 has merged.

[2019-05-29 18:53] foxylion commented on #251
@brendandburns Thanks for merging! How often is the library released?

[2019-05-29 20:43] brendandburns commented on #251
I'm going to cut a release once #253 merges, I'd estimate 1-2 days.

[2019-05-29 20:43] brendandburns commented on #251
Do you need it sooner, I could probably short-circuit the lgtm for that PR...

[2019-05-29 21:02] foxylion commented on #251
@brendandburns no that's fine, not that urgent. :)

[2019-05-29 21:02] #251 closed

[2019-05-30 18:39] brendandburns commented on #245
I added a bunch of authentication tests here:

https://github.com/kubernetes-client/javascript/pull/254

everything seems to be working correctly to me, so I don't know why the auth isn't working for you...

[2019-05-30 19:02] brendandburns commented on #251
@foxylion 0.9.0 was just pushed to npm with this fix (and a few others)

[2019-05-30 19:04] foxylion commented on #251
@brendandburns thank you!

[2019-05-30 19:16] drubin commented on #245
@brendanburnsIt appears like this is being executed from a pod which I think might be triggering some logic to try to load the default service account tokens?

@Obirah is one of those special characters perhaps a `:`?

[2019-05-31 00:38] silasbw commented on #19
Oops, I never circled back around to this.  The change I mentioned [here](https://github.com/kubernetes-client/javascript/issues/19#issuecomment-451821642) was merged into swagger-codegen (https://github.com/swagger-api/swagger-codegen/pull/9036) and I created a PR for the OpenAPITools/openapi-generator (https://github.com/OpenAPITools/openapi-generator/pull/1868) that was also merged.

I haven't

[2019-05-31 05:09] brendandburns commented on #245
@drubin in cluster shouldn't matter with the code path he's specifying `loadFromClusterAndUser(...)`

But a `:` in the password would definitely mess things up...

[2019-05-31 09:07] Obirah commented on #245
@drubin @brendanburns in my case the password contains no colon.

Unfortunately, due to enforced password policies, I am not able to create an user without special chars in the password. Otherwise, I would've done that in order to exclude the possibility that the chars in the password are messing with the client.

[2019-05-31 09:34] drubin commented on #245
@Obirah the password is base64 encoded but we do string concatenation so the only char that could affect things would be `:`  `opts.auth = `${user.username}:${user.password}`;`

@brendanburns why do we have 2 different ways of adding username password auth?

https://github.com/kubernetes-client/javascript/blob/5946eee7ccb50eca9239ca753c8d1eda29109c28/src/config.ts#L115
and
https://github.com/kuber

[2019-05-31 15:54] brendandburns commented on #245
@drubin

First one is used when we make watch calls which use the raw `https` package in node. This package uses a [different convention](https://nodejs.org/api/http.html#http_http_request_options_callback) for specifying auth.

The other one is for all other API requests which use the `request` package which has a [different convention for auth](https://github.com/request/request#http-authenticat

[2019-05-31 20:24] darkobits opened #258 "[0.9.0] Missing dependency: "jsonpath"."
Looking through some other Issues here, it appears that this project is switching from the `jsonpath` package to `jsonpath-plus`. This project's `package.json` at `0.9.0` [corroborates this](https://github.com/kubernetes-client/javascript/blob/0.9.0/package.json#L59).

However, the build artifact for [`cloud_auth.ts`](https://github.com/kubernetes-client/javascript/blob/0.9.0/src/cloud_auth.ts) (`

[2019-05-31 21:59] brendandburns commented on #258
ugh, hrm, let me check....

[2019-05-31 22:08] brendandburns commented on #258
@darkobits I just pushed `0.9.1` that I think fixes this, can you double check for me?

Thanks!

[2019-06-01 02:04] sergelerator commented on #258
It seems 0.9.1 does not contain an `index.js` file.

[2019-06-01 19:20] ssube opened #261 "0.9.1 does not have a dist directory"
Upgrading to the recent 0.9.1 release causes `TS2307: Cannot find module '@kubernetes/client-node'. ` errors, apparently due to a lack of `dist/index.js` in the package ([as mentioned in this comment](https://github.com/kubernetes-client/javascript/issues/258#issuecomment-497903727)):

[code]
and
[code]

[2019-06-02 22:36] pjir opened #263 "deletePersistentVolume method bad response"
**deletePersistentVolume** method returns body **V1PersistentVolume** and it should return **V1Status**.

    deletePersistentVolume(name: string, pretty?: string, body?: V1DeleteOptions, dryRun?: string, gracePeriodSeconds?: number, orphanDependents?: boolean, propagationPolicy?: string): Promise<{
        response: http.IncomingMessage;
        body: V1Status;
    }>;

The same for other delete

[2019-06-03 15:31] brendandburns commented on #261
hrmph! there's clearly something broken in our release-generation process. I will try to figure out what the issue is...

[2019-06-03 15:33] brendandburns commented on #263
@pjir it actually returns both, depending on the situation (async delete vs delete completed).

Swagger 2 (current spec) doesn't support multi-return so we have to live with this, Swagger 3 will support it (and eventually we'll get there).

I'm going to close this since there's nothing that can be done in this library.

[2019-06-03 15:33] #263 closed

[2019-06-03 17:53] brendandburns commented on #261
I just pushed `0.9.2` which should have fixed this....

Thanks! (and apologies)

[2019-06-03 17:54] brendandburns commented on #258
Just pushed `0.9.2` which should work...

[2019-06-04 12:01] brendandburns commented on #258
Closing this since I validated that 0.9.2 works correctly.

[2019-06-04 12:01] #258 closed

[2019-06-04 12:01] brendandburns commented on #261
Closing since I validated this is working.

[2019-06-04 12:01] #261 closed

[2019-06-05 11:30] drubin opened #265 "Support multiple files in KUBECONFIG env variable"
According to the [official docs](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/#set-the-kubeconfig-environment-variable) we should be able to load multiple config files and join them.

The client currently doesn't support this we should support it.

References comment in https://github.com/kubernetes-client/javascript/pull/226#issuecomment-498898940

[2019-06-05 16:55] arianbessonart commented on #144
I'm trying to retrieve `certificates` from `certmanager.k8s.io/v1alpha1` group/version.
The certificate object I already created running `kubectl apply -f https://github.com/jetstack/cert-manager/releases/download/v0.8.0/cert-manager.yaml
` in the GCP console.

How can I use the client to retrieve `certificates` as well as `issuers`?

[2019-06-05 19:51] brendandburns commented on #265
fwiw, the merging rules here are _really_ poorly defined, but we can take a rough stab and see what compatability things people complain about...

[2019-06-06 02:56] silasbw opened #266 "code gen generates ts with compile errors"
There are two high-level classes of errors.  I'm looking for feedback on how to address:

1. A name change for classes and enums.  swagger-codegen _appears_ to drop the `_` (e.g., Core_v1Api -> CoreV1Api).  This seems like it _should_ have been a breaking change with swagger-codegen (i.e., a major version bump).

2. swagger-codegen started implementing required parameters for typescript using opti

[2019-06-06 04:33] brendandburns commented on #266
For #1, I'm fine with a breaking change. We'll rev. the minor version number and add a release note.

For #2, could we make those fields optional in `KubernetesObject`?  That might require a bunch of code changes in the library.

I'm also ok trying to fix all the swagger (that's probably better for the k8s community anyway)

[2019-06-06 08:51] xujihui1985 commented on #144
@ankitabhopatkar13
const client = kc.makeApiClient(k8s.Custom_objectsApi)
await client.getNamespacedCustomObject(
  'certmanager.k8s.io',
  'v1alpha1',
  '<your namespace>',
  '<your resource name>',
)

[2019-06-06 09:35] ankitabhopatkar13 commented on #144
@xujihui1985 I think you wanted to address @arianbessonart in above comment ?

[2019-06-06 13:24] xujihui1985 commented on #144
@ankitabhopatkar13 yes, sorry I'm blind 😹

[2019-06-06 13:48] arianbessonart commented on #144
@xujihui1985 thanks!!!
This is very helpful.

[2019-06-07 02:33] silasbw commented on #266
OK, renaming is easy.

For 2, changing all the fields in `KubernetesObject` does require a bunch of code changes (_e.g._, adding null assertion operators to many of the statements that reference a property of a `KubernetesObject`.  I made https://github.com/kubernetes-client/javascript/pull/268 to be concrete.

I looked into updating swagger.json and I think I was mostly wrong about the missing re

[2019-06-07 04:10] brendandburns commented on #266
Seems like you decided to optionalize things and got them compiling, so I'm going to close this issue. Please re-open if there is more to do.

[2019-06-07 04:10] #266 closed

[2019-06-09 13:51] kevinsimper commented on #128
/remove-lifecycle rotten

[2019-06-12 05:19] AleF83 opened #274 "Error while compiling Typescript project"
I'll added `@kubernetes/client-node` package to my project. (npm module version is 0.10.0)
I get the following error while running `tsc` command:

[code]

I saw in `logs.d.ts` and see that:
[code]

In `@types/request` package I see the following:
[code]

Am I missing anything?

[2019-06-12 06:24] silasbw commented on #274
It looks like `request` is using the CommonJS-style export -- should `logs.ts` use the CommonJS-style import?  _I.e._, https://github.com/kubernetes-client/javascript/pull/275

[2019-06-12 20:11] brendandburns commented on #274
Pushed `0.10.1` out to NPM with the fix.

[2019-06-12 20:11] #274 closed

[2019-06-12 20:16] AleF83 commented on #274
Thanks for quick response!

[2019-06-13 18:08] #265 closed

[2019-06-13 18:12] drubin commented on #265
@starpit this has been merged it would be really nice if you could give it a test see if it works for you? Let us know if you manage to give it a test

You should be able to reference it before its published via the npm GitHub style includes https://docs.npmjs.com/files/package.json#repository

[2019-06-14 22:39] silasbw opened #279 "`allowSyntheticDefaultImports` is required to use this library"
See https://github.com/kubernetes-client/javascript/pull/275#issuecomment-501819140.

Our [tsconfig.json](https://github.com/kubernetes-client/javascript/blob/master/tsconfig.json) sets both `esModuleInterop` and `allowSyntheticDefaultImports` to true.

If users of this library don't set `allowSyntheticDefaultImports` to true they'll get compile errors.  If we want to catch these compile errors in

[2019-06-14 23:18] silasbw commented on #19
I've confirmed that users can specify override headers to each REST call.  Close this issue?  @brendandburns

[2019-06-14 23:25] silasbw commented on #52
This issue was fixed with https://github.com/kubernetes-client/javascript/pull/268.  The latest versions of the library include the fix.  Should we close this @brendandburns ?

[2019-06-15 03:22] brendanburns commented on #19
Sgtm

/close

On Fri, Jun 14, 2019, 4:18 PM Silas Boyd-Wickizer <notifications@github.com>
wrote:

[2019-06-15 03:23] #19 closed

[2019-06-15 05:17] #279 closed

[2019-06-15 07:54] drubin commented on #52
/close
Fixed in #268

We can reopen if there are any other issues.

[2019-06-15 07:54] #52 closed

[2019-06-17 06:57] elizabeth-cloudcover opened #281 "deleteNamespacedDeployment not deleting cascading resources"
When I call deleteNamespacedDeployment method, I find that the corresponding replicaSet and Pods are not removed. I also added a call to deleteNamespacedReplicaSet but still I can see one orphan pod running. I have also tried setting the Propagation policy to Foreground and Background but still of no help. Is there is a way to do the cascading deletion. If yes, where and how to use it? If not, do

[2019-06-17 16:05] brendandburns commented on #281
The APIs are the same as what kubectl uses so in general the answer is "yes cascading delete should work"

What does your code look like?

[2019-06-17 16:21] fentas commented on #144
Still, a bit confused here.
`k8s.Custom_objectsApi` is undefined for me, do I have to define this somewhere?

[code]

[2019-06-17 21:20] brendandburns commented on #124
/remove-lifecycle rotten

[2019-06-18 04:50] xujihui1985 commented on #144
@fentas no, you don't have to, Custom_objectsApi is a built in Class, do some log before `makeApiClient`  call to see what you really passed

[2019-06-18 07:07] fentas commented on #144
[code]

using `"@kubernetes/client-node": "^0.10.1"`

[2019-06-19 07:50] ndeloof opened #283 "Electron support broken"
Support for Electron was introduced in #132 but then broken in #158 by re-
`shelljs.exec` to run commands. Shelljs [doesn't support electron](https://github.com/shelljs/shelljs/wiki/Electron-compatibility) with no obvious fix.

[2019-06-21 16:39] aackerman opened #287 "patchNode doesn't use the correct headers by default"
By default patchNode should supply the `application/merge-patch+json` header.

I had to call the API as follows to get a patch node call to work

[code]

[2019-06-21 18:17] brendandburns commented on #287
It appears that the generated typescript code never tries to set a custom content type, so as far as the generated code is concerned this is the right way to do this.

One could argue that it should do something different (though which header is it supposed to chose, since there are three potential content types for patches?)

But either way, this is a bug in the code generator (if it is a bug at

[2019-06-21 18:17] #287 closed

[2019-06-22 08:47] #35 closed

[2019-06-22 11:25] drubin commented on #283
@ndeloof could you please check if #284 fully fixes the issue and if so close?

[2019-06-22 13:10] #283 closed

[2019-06-24 12:39] niklasbuechner commented on #281
I am currently having the same issue. This is the code:

[code]

When you call this code with `const namespace = 'default';` and your deployment name, it deletes the deployment but not the replica set. If you go further and delete the replica set using the api, it will not delete the pods of the replica set.

If you do the same thing using `kubectl delete` everything works as expected.

minikube v

[2019-06-24 13:45] niklasbuechner commented on #281
And the fix for the problem is either

[code]
or
[code]

(If you do not want to use the optional values.)

@brendanburns How exactly is the library supposed to behave? The same as `kubectl` which has the `propagationPolicy: Background` as standard or just as an abstraction layer above the api?

As an additional question: if I want to propose a change to the library's function ergonomics, where exa

[2019-06-24 19:56] PepperTeasdale opened #288 "Memory leak when watching nodes"
kubernetes version 1.12
kubernetes/client-node version 0.10.1
node version: 8.16.0

I have an app that is watching node events in the cluster in a loop, ignoring most events that it receives. Over time this app slowly grows in memory consumption until it reaches the limit and is OOM killed. I made a very minimal reproducible case like the following:
[code]

I took some heap snapshots and inspected

[2019-06-24 21:46] #104 closed

[2019-06-25 05:00] brendandburns commented on #288
I'm pretty sure the choice of `json-stream` was 100% arbitrary :)

I looked at the code, I actually think it's not needed and we can just use `readline`

Will refactor and send a PR.

[2019-06-25 05:39] brendandburns commented on #288
I made a PR here:

https://github.com/kubernetes-client/javascript/pull/289

If you can test it, that would be awesome...

[2019-06-25 09:58] #106 closed

[2019-06-25 13:22] brendandburns opened #290 "declare a 1.0 release?"
@drubin @silasbw

What are the blockers to a 1.0 release do you think?

Should we try to get the fluent Type/Java Script code added?

Maybe in conjunction with the 1.15 kubernetes API update?

[2019-06-25 14:44] silasbw commented on #290
I'd love to get the fluent code added.  I was planning on updating the [PR](https://github.com/kubernetes-client/javascript/pull/244) today the recent code changes and a short discussion of where the bindings are at and future changes/improvements that should probably happen.

[2019-06-25 16:49] drubin commented on #290
I think we should release a 0.10 with fluent Api and 1.15 bindings before going to 1
0

I can foresee a few issues poping up from adding fluent bindings and since we plan versionin them together it might give us a small buffer.

But can't think of any blockers.

[2019-06-25 16:53] silasbw commented on #290
One more thing is updating the codegen tooling and regenerating api.ts.  Last time it caused breaking changes.  We could either update swagger-codegen to the latest major, or switch to the openapi-generator.

BTW, is the longer term plan to switch to the openapi tooling?

[2019-06-25 18:38] PepperTeasdale commented on #288
Thanks for the fast response! The new version works, but I'm still having my memory issue, so that was not the root cause. I'll do some more analysis and update here what I discover.

[2019-06-25 20:09] drubin commented on #290
I also think #53 might be a relevant fix before 1.0

[2019-06-26 17:30] #87 closed

[2019-06-26 19:07] PepperTeasdale commented on #288
Ok, so I've looked into this a little more and ran some experiments. One thing I was doing wrong on my side was not aborting the request when the connection closed or errored out. The library doesn't do this for you, but [returns the request object](https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L67) I think it would be worth making that explicit in the example or somewhe

[2019-06-26 22:34] #53 closed

[2019-06-27 00:36] brendandburns commented on #290
We should definitely switch to the openapi-generator..

[2019-06-27 00:39] brendandburns commented on #288
Ok, so I bet that request is accumulating all of the bytes read from the request stream... It's worth exploring to see if it's feasible to get the request logic to drop the data as it's read instead of retaining it.

Let's leave this issue open and we can explore options here. At the very least we'll need to improve the docs.

[2019-06-28 14:31] gflarity opened #291 "watch doesn't handle request failures (non 200 statuses)"
[code]
If the underlying rest call that watch does fails with a non 200 status the error isn't properly handled/propagated. In the above sample cb will received undefined for phase and node and done will not get called with an error.

I have a patch coming to fix/improve this.

[2019-06-28 15:55] PepperTeasdale commented on #288
Yeah, it looks like the issue might be coming from [using the callback version of request here](https://github.com/kubernetes-client/javascript/blob/master/src/watch.ts#L16), which creates an in memory buffer:

From what I understand from [this issue in the request repo](https://github.com/request/request/issues/225) something along the lines of this might fix:
[code]

[2019-06-28 18:44] #291 closed

[2019-06-29 17:47] drubin commented on #165
/remove-lifecycle rotten

[2019-07-01 07:51] whites11 opened #293 "Help: get kubernetes version"
I'm trying to get the kubernetes cluster version (the same info you can get from the `kubectl version` command).

Is there a way to get this info with kubernetes-client?

Thanks

[2019-07-01 08:10] whites11 commented on #293
ok found the answer myself:

client.version.get().then(console.log)

[2019-07-01 08:10] #293 closed

[2019-07-02 05:43] KiranRamashetty opened #294 "Error setting user info form Default config ~/.kube/config."
Trying to get list of pods using the default config file (set by kubectl).  Getting an error setting user info

Node JS code snippet

[code]

tried with python and it works as expected

[code]

[2019-07-02 05:52] KiranRamashetty commented on #294
Found an closed issue related to same topic

[216](https://github.com/kubernetes-client/javascript/issues/216)

[2019-07-03 06:30] KiranRamashetty commented on #294
its also working with  godaddy version of k8 - https://github.com/godaddy/kubernetes-client

I would be like to use this npm module so it would be great if you can help me fix the issue

__~/.kube/config content__

[code]

[2019-07-04 03:40] brendandburns commented on #294
I don't think the library currently supports `oidc` auth providers.

PRs definitely welcome or we'll get to it eventually...

cc @silasbw in case it's easy to port the godaddy auth code.

[2019-07-04 03:41] brendandburns commented on #294
If you want to help add an `oidc` provider, there's a cloud example here:

https://github.com/kubernetes-client/javascript/blob/master/src/cloud_auth.ts

That would be easy (I think) to adapt.

[2019-07-05 00:10] erulabs opened #295 "loadFromOptions does not appear to work with a parsed kubeconfig"
loadFromOptions seems to be a bit hobbled compared to the previous `fromKubeconfig` from https://github.com/godaddy/kubernetes-client/

For example, previously, with fromKubeconfig, one could provide the current context as `current-context` (as it typically appears in yaml). `loadFromOptions` appears to require `currentContext` (camalcase), and additionally doesn't appear to work with TLS - I get

[2019-07-05 11:02] drubin commented on #295
Hi @erulabs the library does support programmatically passing credentials in and it does support both the `-data` and the file references for cert data.

The docs/examples are definitely lacking here I went to try to find an example and it wasn't there, (pr's welcome) so sorry about that confusion.

I think the best example might be in the tests although it doesn't work exactly as you expect it (p

[2019-07-05 11:03] drubin commented on #295
/assign drubin

[2019-07-07 14:11] jeasonstudio opened #296 "Delete all by label selectors?"
Is there any way to delete all by label selectors?

[2019-07-08 23:43] silasbw commented on #294
I can take a pass at porting it over.

How do you want to handle async?  E.g., refreshing the token.  We get around this in the other providers by shelling out to sync commands.  Continuing that approach for oidc seems cumbersome, but there might be an obvious approach I'm missing.

An alternative is to update https://github.com/kubernetes-client/javascript/blob/master/src/auth.ts#L5 to async + Pr

[2019-07-10 22:03] erulabs commented on #295
Heya @drubin - thank you very much for the assist - `loadFromClusterAndUser(cluster, user)` works like a charm.

I feel like it would be pretty useful to have a snippet somewhere on the README like:
[code]

For people just trying get going quickly with the library from a .kube/config file (obviously context selection can be more complex but I think that example makes it pretty clear that it's a bi

[2019-07-11 02:43] erulabs commented on #295
^ This actually doesn't work - It doesn't appear to be using the certificate-authority-data in the cluster definition? `Error: unable to verify the first certificate`....

[2019-07-11 02:53] erulabs commented on #295
Got things working after some transformation from a parsed yaml document into what this library expects:
[code]

pretty ugly tho! :(

[2019-07-11 04:26] silasbw commented on #294
I looked into converting `getToken` to a promised based interface: that approach leads to altering [applyToRequest](https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L116) to be asynchronous.  That's challenging because it's part of the openapi-generator API contract: https://github.com/OpenAPITools/openapi-generator/blob/master/modules/openapi-generator/src/main/resources/

[2019-07-11 13:31] chrissound opened #297 "Very verbose error response?"
I see output of:
[code]

for

[code]

How can I get a more friendly error message? I can't even make sense of it as is.

[2019-07-13 11:01] #206 closed

[2019-07-13 15:30] drubin commented on #295
@erulabs

I noticed you are actually trying to load a custom kubeconfig file. Not actually dynamically load javascript objects.

[code]

there is also `kc.loadFromString(fs.readAsync('/path/to/file'))`

I think this would work much nicer than what you are currently doing

[2019-07-15 03:51] brendandburns commented on #296
No, as far as I know the Kubernetes API doesn't support that. You'd have to do it client side.

[2019-07-15 03:51] #296 closed

[2019-07-15 03:55] brendandburns commented on #297
Pretty sure that's coming from the `console.log(err)` so you can pick out individual fields from the `err` object and print those (e.g. err.response.statusMessage` and `err.response.statusCode`) are probably interesting.

In this case, you're getting a 404 probably because the namespace doesn't exist.

[2019-07-15 03:55] brendandburns commented on #297
Closing, since this is working as intended.

[2019-07-15 03:55] #297 closed

[2019-07-15 03:57] brendandburns commented on #295
Closing this as I don't think there's more to do here. Please re-open if there is additional help needed.

Thanks

[2019-07-15 03:57] #295 closed

[2019-07-15 03:58] brendandburns commented on #294
@silasbw yep, that's probably right. I struggled with this in the past when we tried to remove `sync` file calls...

[2019-07-15 10:31] chrissound commented on #297
Thank you for the pointers.

[2019-07-15 17:16] silasbw commented on #294
OK, I'll give it a go.

[2019-07-16 02:14] leowang15 opened #300 "serviceaccount "default" not found"
When I create spec namespace it will catch error:
[code]

[2019-07-16 09:42] OJezu commented on #287
If this is a bug in code generator not in the library, was this taken to the code generator bug tracker?

There is also hardly any documentation how to use the patch functions.

[2019-07-16 17:33] brendandburns commented on #300
Looks like your pods have a service account that doesn't exist in the cluster.

Does kubectl work in the same environment? (my guess is it doesn't)

I think this is a general authn/authz problem not specific to this library.

[2019-07-18 13:18] yangukmo opened #301 "Shutdown watch without reason"
Hi. I'm using watch to monitor Pods.

[code]

I deployed this as a Docker and it is being restarted every hour without any error message.
I don't know what the problem is.

[2019-07-18 17:03] brendandburns commented on #301
Watches use a long standing network connection. Somewhere in the network path the watch is timing out or getting disconnected.

In general, watch shouldn't be treated as persistent, you should wrap your call to watch in a loop.

Or (preferred) you should use a more complete interface like a watch cache or informer:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/in

[2019-07-18 17:03] #301 closed

[2019-07-19 04:22] brendandburns commented on #288
It's trickier than just doing this since we need to stream the lines, not just the raw data. I'll see what I can do here but it may take a bit of time...

[2019-07-19 04:31] brendandburns commented on #294
I realized someone (maybe even me) did implement a really primitive oidc connector, but it's not activated in the library:

https://github.com/kubernetes-client/javascript/blob/master/src/oidc_auth.ts

I'll send a PR to activate it at least, but it doesn't handle refresh...

[2019-07-19 06:44] yangukmo commented on #301
@brendanburns Thank you for your answer. :+1:
The above issue is not occurring because of the change to informer.
But periodically, all Pods are generating 'updated' events.
There have been no changes, but I wonder why they are called.

[2019-07-19 10:28] niklasbuechner opened #305 "CRD creation does not support additionalPrinterColumns.JSONPath with standard spelling"
**Error**

According to the kubernetes documentation, the printer columns of a custom resource definition can be customised by using `additionalPrinterColumns`: https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns

Every printer column requires the value `JSONPath`. This library however requires the key name to be spelled `

[2019-07-19 12:24] #110 closed

[2019-07-19 16:54] brendandburns commented on #305
This code is generated, so it's something in either the swagger/open-api spec or the generator.

It's going to take a while before we have the cycles to look.

Would be happy to have you look into it if you want, the relevant code is here:

https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-node

And:

https://github.com/kubernetes

[2019-07-20 01:32] brendandburns commented on #301
The update events occur when the watch drops and the informer re-connects. The reason for this is that it is possible that there were changes between the watch that stopped and the reconnect that may otherwise be missed.

So the informer first lists all objects, and then watches each time the watch reconnects.

Thus you should expect (and handle) updates for objects that already exist.

[2019-07-20 17:49] silasbw commented on #294
FYI, I submitted a PR to openapi-generator folks to add Promise support to the `Authentication` interface: https://github.com/OpenAPITools/openapi-generator/pull/3408

[2019-07-22 13:22] niklasbuechner commented on #305
I found the misconfiguration of swagger and opened a pr in the corresponding kubernetes-client/gen repository.

Thank you for the help @brendandburns. Shall I assign you to the pr or is the correct reviewer assigned automatically?

[2019-07-22 16:56] silasbw commented on #305
FYI, we're in the process of switching from swagger-codegen to openapi-codegen:

* https://github.com/kubernetes-client/gen/pull/125
* https://github.com/kubernetes-client/javascript/pull/307

If we can get ^ landed without too much discussion, it might be easiest to pull @niklasbuechner's change into the openapi switch over.

[2019-07-22 23:32] brendandburns commented on #305
@niklasbuechner @silasbw

What is the best ordering for this? Is that flag still present in the openapi generator?

I'd like to optimize for getting the switch done and then pulling in this fix.

Thanks!

[2019-07-23 00:35] silasbw commented on #305
The flag is present (fyi, https://github.com/OpenAPITools/openapi-generator/blob/master/docs/generators/typescript-node.md).

I'd also like to switch to the openapi-generator and then pull this in.

[2019-07-23 15:05] niklasbuechner commented on #305
Sounds good to me. 👍

[2019-07-23 23:40] #305 closed

[2019-07-24 13:39] dinfer commented on #165
any progress?

[2019-07-24 16:37] brendandburns commented on #300
Closing this due to lack of response.

[2019-07-24 16:37] #300 closed

[2019-07-25 08:42] rupeshA opened #308 "Please fix the security issue introduced by request lib"
The request being used by this project is vulnerable to Weak Authentication Algorithm. The function function in oauth.js uses SHA-1 for authentication which is no longer considered cryptographically secure. With enough resources an attacker might be able to crack the authentication mechanism and cause security attacks.

Ref:
https://github.com/request/request/issues/2640  https://security.googlebl

[2019-07-25 20:42] cmarkwell opened #309 "Allow REST proxy functions to specify a request body"
REST Proxy functions such as connectPostNamespacedServiceProxy and connectPutNamespacedServiceProxy do not provide an option to add a request body. This is harmful for APIs that require information to be sent through said means.

As of #19, users can specify headers through the options argument. Perhaps we can use this options object to specify a body for localVarRequestOptions as well?

I'm willi

[2019-07-26 04:57] brendandburns commented on #309
Per the openAPI swagger definition of the API:

[code]

From: https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json

There is no Body expected for that method. We can't fix this in the client, if the OpenAPI/Swagger is wrong, then it should be fixed there, but I actually don't think it is wrong, I don't think proxy expects a body parameter.

[2019-07-26 09:40] cmarkwell commented on #309
True. I'll do some more research, and I'll bring up the question over in that repo. Thanks for pointing me in the right direction.

[2019-07-26 09:40] #309 closed

[2019-07-26 12:53] jdmaguire commented on #175
@brendanburns You are my hero.

[2019-07-26 23:20] brendandburns commented on #308
PRs would be welcome to fix this.

[2019-07-29 07:40] radu-matei opened #310 "New release that re-includes the byline dependency"
#250 removed the dependency on `byline` and added `json-stream`. This change was part of all releases starting [0.9.0](https://github.com/kubernetes-client/javascript/releases/tag/0.9.0), including part of the latest release to date, [0.10.2](https://github.com/kubernetes-client/javascript/releases/tag/0.10.2).

However, https://github.com/kubernetes-client/javascript/commit/57f6c0bb924cebfa5ed9cf

[2019-07-29 10:14] JohnLBergqvist commented on #241
@brendandburns This most definitely does not work with GKE cluster from a kubeconfig file.
Here is how i'm setting up the object:
[code]
Now this config (albeit minimal) works fine in the pre-merger kubernetes-client, however now I get the `Error: unable to verify the first certificate` after attempting to make an authenticated request.

[2019-07-29 20:35] drubin commented on #310
@radu-matei I am a little confused is your application is dependant on `byline` and upgrading to `0.10.2` broke because we removed `byline` and you were explicitly using it somewhere?

[2019-07-29 20:44] radu-matei commented on #310
Precisely - that being said, we should probably have explicitly declared it as a dependency (and did after upgrading the Kubernetes client, so this is not blocking in any way) - that being said, a new release would ensure that this doesn't break future upgrades from older versions that relied on `byline`.

[2019-07-29 22:56] brendandburns commented on #310
I'm going to close this. We're going to do a new release eventually, but I don't think that there's anything actionable other than "do a new release" which we will definitely get to eventually....

[2019-07-29 22:56] #310 closed

[2019-07-30 09:20] AmazingTurtle opened #311 "Broken link in SECURITY_CONTACTS"
See https://github.com/kubernetes-client/javascript/blob/4d8ad748884ec3e77b10240cb65d516f817a1639/SECURITY_CONTACTS#L7
Link pointing to embargo policy is broken

Why do you guys always point to `master` and not a specific commit?

[2019-07-30 20:59] drubin commented on #311
@AmazingTurtle Thanks for reporting this. I have submitted a PR that should fix this.

[2019-07-31 05:06] #311 closed

[2019-07-31 09:47] entropitor opened #313 "Ingress extensions/v1beta1 vs networking.k8s.io/v1beta1"
Currently this client has no method to create an Ingress with the new api `networking.k8s.io/v1beta1` (https://github.com/kubernetes/kubernetes/pull/74057). It's working fine when using kubectl

E.g. this is working
[code]

But there is only one `createNamespacedIngress` function and that is still using the extensions api

[2019-08-01 18:30] brendandburns commented on #313
We need to regenerate the API for the newer version.

[2019-08-01 18:48] entropitor commented on #313
@brendanburns Is this hard to do?

[2019-08-02 21:10] brendandburns commented on #313
Here's an example PR one of the last times we did this:
https://github.com/kubernetes-client/javascript/pull/262

Instructions here:
https://github.com/kubernetes-client/javascript#re-generating-code

[2019-08-05 13:39] silasbw commented on #294
I'm just getting back from vacation and will pick this up again.

[2019-08-06 16:48] mikedanese opened #317 "client should periodically reload InClusterConfig token"
See https://github.com/kubernetes/kubernetes/issues/70679

[2019-08-06 19:27] stephentriphahn opened #318 "Watch does not pass the correct value when request fails"
The patch merged for issue #291 (Pull Request #292 ) references `response.StatusMessage`.  `StatusMessage` does not exist on the response object, therefore passes undefined to the `done()` callback. It should reference `response.statusMessage`.

I will create a Pull Request with this small change.

[2019-08-07 23:42] benbuzbee opened #320 "LIstWatch<T>::start should be async, or an event should indicate the cache has been seeded"
The [ListWatch](https://github.com/kubernetes-client/javascript/blob/master/src/cache.ts) class is a powerful tool for controllers since it handles watch re-registration and caching, but since there is no way to know when the cache has been seeded by the initial list operation, it is needlessly hampered.

**Example Use Case**
Imagine a toy ReplicaSet implementation. As part of your reconciliation

[2019-08-08 00:23] maminio opened #321 "Error Connection Refused"
Just by running the example code for listing the pods I get this in the pod logs:
[code]

Not sure what’s causing it.

[2019-08-08 20:39] benbuzbee opened #322 "ListWatch<T> should implement off(verb, callback)"
Controllers may want the option to share a cache for a particular type of object. For example, imagine a process which has N subsystems that care about Deployments. It would be ideal for that process to use a single deployment informer shared amongst subsystems so that only one copy of the cache needs to be maintained.

However, if those subsystems are ephemeral, being created and destroyed, this

[2019-08-13 12:07] #322 closed

[2019-08-13 12:13] brendandburns commented on #321
There's no Kubernetes server running @ 127.0.0.1:8080

My guess is that you don't have a Kubernetes config file in an expected location ($HOME/.kube/config)

If kubectl works (e.g. `kubectl get pods`) and the example doesn't, please send the location and contents (secrets redacted of course) of your kubeconfig file.

[2019-08-14 07:14] #320 closed

[2019-08-14 07:18] drubin opened #325 "Version lock kubernetes-client/gen so we can verify the code generated is always the same"
We should not be randomly using master branch of `kubernetes-client/gen` to generate the code. This makes it almost impossible to accept PR's and automatically verifying that the code is from the correct commit (people might have older master versions or running from another commit).

We could also further optimize this by adding a check in CI if the generated code doesn't match the codified commi

[2019-08-14 20:12] louis-murray commented on #294
is this still moving? I'd love to see this get in to master + a release soon if possible. I'm happy to help with any bit of it too.

[2019-08-14 20:52] silasbw commented on #294
Yup -- I was waiting for the openapi folks to release a new minor version that included our changes.  They did that this week.  I should probably take a stab at rebuilding the the .ts code using the new openapi version and then there's some updates to the client code to convert the auth handling code to use the new Promise-based interface we added to openapi.  It would be helpful if you wanted to

[2019-08-15 02:47] #137 closed

[2019-08-15 09:42] ericwong3 opened #327 ""Error: unable to get issuer certificate" when certificate-authority-data contains a self signed certificate"
I am using Aliyun's serverless kubernetes service, and it provides an YAML to connect to the cluster and perform administration. The config file works with kubectl CLI. However, if I use it with this library, the "Error: unable to get issuer certificate" message appears. I was able to circumvent the issue by adding `insecure-skip-tls-verify: true` but clearly that is not good. This issue occurs on

[2019-08-15 21:11] shimmerjs commented on #295
We ran into this issue because we are pulling valid Kubeconfig JSON objects from Vault and trying to instantiate clients with them.  If `loadFromOptions` can't be made to support a direct JSON Kubeconfig representation, maybe an alternative function?  Could potentially make `loadFromString` also support JSON strings and YAML strings.  I think the underlying issue is all of these functions are writ

[2019-08-16 20:34] #318 closed

[2019-08-16 20:39] brendandburns commented on #327
Odd. In theory this should work. (and it does work for other providers)

I will try loading up this config in a dev. environment and see if I can reproduce the problem.

[2019-08-16 20:40] brendandburns commented on #327
One other thing you might try is exporting the CA cert to a file, and then using:

[code]

Rather than the inline version. If that works then it's especially weird.

[2019-08-16 21:16] louis-murray commented on #294
Great! Point me in a direction and I'm happy to help

[2019-08-18 01:56] silasbw commented on #294
@louis-murray: let's get https://github.com/kubernetes-client/javascript/pull/328 merged and then if you have cycles, can you implement [OpenIDConnectAuth](https://github.com/kubernetes-client/javascript/blob/master/src/oidc_auth.ts)?

The GoDaddy bindings have some code you can use as inspiration: https://github.com/godaddy/kubernetes-client/blob/master/backends/request/auth-providers/openid.js.

[2019-08-18 10:21] itayvallach opened #329 ""Error: unable to verify the first certificate" when using loadFromCluster()"

[2019-08-19 09:07] #329 closed

[2019-08-19 23:14] louis-murray commented on #294
yeah I can do that :+1:

[2019-08-21 14:12] brendandburns commented on #325
Closing since this is mostly covered by #330

[2019-08-21 14:22] drubin commented on #325
/close

[2019-08-21 14:22] #325 closed

[2019-08-21 15:58] brendandburns commented on #317
@mikedanese

I read through the docs on this new feature. How can a client know when a token is about to expire? (and thus needs to be reloaded)

As far as I can tell, the kubelet rotates the token, but there's no notification or other information the client can use.

If this is the case, the only thing a client can do is _always_ reload which isn't ok from a perf perspective.

[2019-08-22 06:03] mikedanese commented on #317
There are three options today:

1. Reload once per minute (which is what client go does). Rational for the frequency const is here: https://github.com/kubernetes/kubernetes/blob/ebf15029da1e413365e8e728f0e873a717cf29e7/staging/src/k8s.io/client-go/transport/token_source.go#L54-L57
2. Reload on 401 (which is what some exec auth plugins do e.g. here: https://github.com/kubernetes/kubernetes/blob/mas

[2019-08-23 03:18] enj commented on #317
File system notifications via something like `inotify` is also an option (though difficult to do cross platform).

[2019-08-23 04:32] ericwong3 commented on #327
Just tested, no this does not work, same error. (The property is recognized though, file not found error will appear if I set a wrong path)

[2019-08-23 04:45] #317 closed

[2019-08-23 16:21] brendandburns commented on #327
Can you decode the CA certificate? My bet is that there are multiple intermediary certificates and we don't currently support that in this library...

[2019-08-23 16:22] brendandburns commented on #321
Closing due to no response.

[2019-08-23 16:22] #321 closed

[2019-08-23 16:24] brendandburns commented on #294
#328 is now merged.

Please extend the existing open id auth here:

https://github.com/kubernetes-client/javascript/blob/master/src/oidc_auth.ts

To add refresh.

Thanks!

[2019-08-26 02:59] louis-murray commented on #294
I finished the code and opened a PR @brendandburns @silasbw thanks for your help guys!

[2019-08-26 10:10] ericwong3 commented on #327
I tried https://certificatechain.io/ which can be used to regenerate the certificate chain, and the result shows that the certificate is root in itself. (For your knowledge, the base64 certificate above is the original one from Aliyun)

[2019-08-29 04:36] brendandburns commented on #327
I tried this on my machine and I get:

[code]

I suspect that this is because nodejs wraps libssl while Go (afaik) has their own implementation.

I'm not sure this is fixable without a great deal of effort. I'm not sure I will take this any farther (for now) but I'll leave this issue open if people hit the same problem.

[2019-08-29 16:41] TheHolyWaffle commented on #19
Ok, we have the workaround nowadays to specify custom http headers with request , as described in https://github.com/kubernetes-client/javascript/issues/19#issuecomment-497534040. But this still is not the real solution to PATCH calls.

Why is "Content-Type": "application/merge-patch+json" simply not the default for patch operations? :(

[2019-09-03 11:52] ebrehault commented on #218
It seems this error is due to bad imports, see https://github.com/mikaelbr/node-notifier/issues/192

[2019-09-05 22:31] #230 closed

[2019-09-09 08:24] aeb-sia opened #336 "Reject with error instead of object"
It would be nice if the promises rejected with an error and not with an object. Currently when I try to retrieve an object that is not present a 404 is thrown as an object which doesn't implement `Error`

https://github.com/kubernetes-client/javascript/blob/master/src/gen/api/customObjectsApi.ts#L151

[2019-09-09 12:28] lakshaygaur opened #337 "Exec error : 'Unexpected server response: 400'"
Im trying to exec on a running container but everytime i run exec with this sdk i get this following error.

`type: 'error',
  message: 'Unexpected server response: 400',
  error: Error: Unexpected server response: 400`

Im using Azure's AKS service and Im loading the conf file from cluster-data provided by azure cli.

[2019-09-09 15:39] brendandburns commented on #336
@aeb-sia thanks for filing the issue.

Why is this important? What use case does it block? That information will help us prioritize the work. (or feel free to send a PR)

Thanks

[2019-09-09 15:41] brendandburns commented on #337
400 == bad request, your request is malformed in some way.

from a detail perspective, the server is attempting to create a web socket to support the `exec` but the initial request is returning a 400 because that request is malformed.

You should be able to catch this error and get more details from the response body as to why the request is malformed.

[2019-09-09 16:19] aeb-sia commented on #336
It makes life easier. Errors have stacktraces that you don't get when you throw a simple object.

It doesn't block anything. I am open to sending a PR, but I'd need some guidance as to where this shoudl be added. It looks like the code is generated and I have no idea where I should make changes

[2019-09-10 06:30] lakshaygaur commented on #337
k8sApi client is working fine, I can list pods and namespaces with the same configuration. But I dont see anything which could point to malformed request details.

Here is my error log trace:

[code]

[2019-09-10 22:05] brendandburns commented on #336
The code is generated by the generator here:

https://github.com/OpenAPITools/openapi-generator

Specifically this directory:
https://github.com/OpenAPITools/openapi-generator/tree/master/modules/openapi-generator/src/main/resources/typescript-node

They're generally pretty good at accepting PRs...

Thanks!

[2019-09-10 22:08] brendandburns commented on #337
In this particular case you're getting a `404` message, presumably because `/api/v1/namespaces/blockchain-buyer/pods/peer-1buyer-hlf-peer-85c8f5bf88-t9fkp` doesn't exist.

I'm closing this issue since I think you have sufficient info to debug. If you find a problem with the client library, please re-open this issue.

Thanks!

[2019-09-10 22:08] #337 closed

[2019-09-11 05:59] ameerthehacker opened #338 "UNABLE_TO_GET_ISSUER_CERT when using list namespaces api"
Describe the bug
Getting error"Unable to connect to the kube cluster: UNABLE_TO_GET_ISSUER_CERT"

My kubeconfig is using a self signed cert to connect to the cluster. The CA and private key exist in the kubeconfig.

[2019-09-11 06:00] ameerthehacker opened #339 "Error while getting list of namespaces"
/Users/alexmiles/.nvm/versions/node/v8.11.1/lib/node_modules/kubelive/node_modules/@kubernetes/client-node/dist/config_types.js:18
            throw new Error(`clusters[${i}].cluster.server is missing`);
            ^

Error: clusters[1].cluster.server is missing
    at /Users/alexmiles/.nvm/versions/node/v8.11.1/lib/node_modules/kubelive/node_modules/@kubernetes/client-node/dist/config_types.js:1

[2019-09-11 17:47] brendandburns commented on #338
Does `kubectl` work correctly?

If so, can you send you attach your kubeconfig file (secrets redacted, but please retain the CA cert) to this issue.

Thanks

[2019-09-11 17:49] brendandburns commented on #339
Your kubeconfig isn't parsing correctly. Can you attach the kubeconfig (secrets redacted)

Thanks

[2019-09-13 06:56] ZedYeung opened #340 "Anything similar to Golang clientcmd ModifyConfig?"
It looks like currently, we could only read the config file, is there any method like Golang clientcmd ModifyConfig so that we could modify the config file?

[2019-09-13 09:15] SachinVarghese opened #341 "Listing/Watching kubernetes Custom Resources"
Is it currently possible to list or watch k8s CRDs in javascript and create client code for the same?

[2019-09-13 22:59] brendandburns commented on #340
Not currently. Can you describe your use case in more detail? Do you want to modify and then save to file a kubeconfig?

[2019-09-13 23:01] brendandburns commented on #341
Please see this example here:

https://github.com/kubernetes-client/javascript/blob/master/examples/cache-example.js#L13

And the informer example here:

https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/informer/informer.ts

Closing this issue as the question is answered. Please re-open if you need more info.

[2019-09-13 23:01] #341 closed

[2019-09-14 01:05] ZedYeung commented on #340
yes, ideally, i hope it could be same as  Golang clientcmd ModifyConfig.

On Fri, Sep 13, 2019, 3:59 PM Brendan Burns <notifications@github.com>
wrote:

[2019-09-14 01:35] brentbahry opened #342 "Example cluster configuration documentation update"
1. I found the user object needs a `username` property to successfully authenticate via `CoreV1Api.loadFromOptions`
2. May be worth including an https example; my use case, which I imagine is common, is connecting to a production k8s (GKE). I had to dig around to determine that certificate authority data needs to be passed into the client (got error 'unable to verify the first certificate'), and a

[2019-09-14 07:25] SachinVarghese commented on #341
@brendandburns Thanks for the links but I was actually looking for an example with a custom resource definition listing and not simply listing/watching for pods which could be very similar. Please let me know how can such a use case be implemented in javascript.

[2019-09-14 22:46] brendandburns commented on #340
For future reference, code is here:
https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/config.go#L158

Hrm. Why not just modify the config object in Javascript and then export to YAML?

That function seems super twisty and it's not exactly clear to me why its useful.

Can you describe your use case in more detail?

Thanks

[2019-09-14 22:49] brendandburns commented on #342
Hrm, what you are doing isn't the suggested happy path. Generally people load from a kubeconfig file (e.g. `$HOME/.kube/config`)

The happy path way that people load is using `loadFromDefault()` and is used in all of the examples (e.g. https://github.com/kubernetes-client/javascript/blob/master/examples/example.js#L4)

Or if you are loading inside a cluster, you should use `loadFromCluster` as sho

[2019-09-14 23:07] ZedYeung commented on #340
That is exactly what it did. It is very true that function is super twisty with some rules. I  just want to keep consistent with that official rule to modify the config file, in case some specific rule would be broken. But looks like that is not easy. What I do now is just modifying only one file in the order `env KUBECONFIG and then ~/.kube/config`. Hope that is good.

[2019-09-15 19:33] brentbahry commented on #342
I saw there to be value in the programmatic api, is there a pitfall I should be aware of? I'm using it currently.

<img width="1487" alt="Screen Shot 2019-09-15 at 12 30 18 PM" src="https://user-images.githubusercontent.com/1676613/64926653-c9215200-d7b4-11e9-9950-1d3e31ba6d8c.png">

[2019-09-16 15:54] brendandburns commented on #342
It's fine to create it programattically, it's just an advanced use case where we'd expect that a user knew enough about kubernetes configuration objects to know that they needed to include the `caData` etc.

In general, if you already have a `kubeconfig` file you're better off using the file loader config rather than constructing it programatically, the programatic support is there for people who

[2019-09-16 15:55] brendandburns commented on #340
That seems reasonable for now. I'll leave this issue open, but I don't expect we'll implement this in the near term.

[2019-09-17 13:36] RefRec97 opened #343 "ECONNREFUSED in async function"
When using the detector externally everything works fine, but when we want to use it in the kubernetes cluster we get this error message.
I'm quite sure the problem is caused in cache.ts with listFn().

`private async doneHandler(err: any) {
        const promise = this.listFn();
        const result = await promise;
        const list = result.body;
        deleteItems(this.objects, list.items, t

[2019-09-19 13:23] brendandburns commented on #343
This looks to me like the service account hostname environment variable isn't set in your environment for some reason.

See:
https://github.com/kubernetes-client/javascript/blob/master/src/config.ts#L173

Can you check if that environment variable is present in your cluster? You may not have a 'kubernetes' Service defined. What does `kubectl get services` show?

[2019-09-19 14:14] RefRec97 commented on #343
Thank you for your reply, the environment variable (`KUBERNETES_SERVICE_HOST`) is present with the correct ip in this pod.
The 'kubernetes' service is running in the 'default' namespace.
This Application runs in the 'namespaceName' namespace.

[2019-09-20 17:27] brendandburns commented on #338
Closing due to lack of response. Feel free to re-open if you want with the requested information.

[2019-09-20 17:28] brendandburns commented on #339
Closing due to lack of response. Please feel free to re-open with the requested information.

[2019-09-20 17:28] #339 closed

[2019-09-20 17:28] #338 closed

[2019-09-21 03:48] brendandburns commented on #343
When you say `"ip"` in the error message that you printed, is that literally the error message that you saw? Or did you remove the actual IP address (for privacy/security/whatever)

[2019-09-21 10:30] RefRec97 commented on #343
I did remove it, which was stupid as it is a private one, sorry. Yes when i said ip in the errormessage its a 10.x.x.x ip, the same that is saved in the kubernetes_service_host

[2019-09-22 21:37] woodcockjosh opened #344 "Patch doesn't send correct content type header"
I am having same problem described here: https://github.com/kubernetes-client/javascript/issues/287

[2019-09-22 21:41] woodcockjosh commented on #287
Thanks @aackerman for posting the workaround. Anyway if its a code generator problem can someone please link me the issue to the bug in the code generator?

[2019-09-23 16:08] brendandburns commented on #343
Ok, in that case is your master actually serving on `${IP}:443`? Is the master on a different port perhaps?

Can you `kubectl exec` into the Pod and try using `curl` and see if it works?

Thanks!

[2019-09-23 16:11] brendandburns commented on #287
I don't think it's actually a code generator bug. There are three different possible content-type headers to chose from, how is the code generator supposed to know which one to send. Having the user explicitly select the header seems like the right approach.

[2019-09-23 16:12] brendandburns commented on #344
Closing as a duplicate of #287.

I added additional thoughts there about why I don't think it is really a bug. I'm open to ideas about how to improve the code or make it more clear if people have better ideas.

Thanks

[2019-09-23 16:12] #344 closed

[2019-09-23 16:13] brendandburns commented on #342
Closing, since I don't think there is additional information to be provided here.

[2019-09-23 16:13] #342 closed

[2019-09-23 16:13] woodcockjosh commented on #287
@brendandburns this defeats the purpose of the sdk. While it may be difficult for the code generator to know with the current architecture. The end user shouldn't have to know this. If I use kubectl I don't have to know the content type of the request.

[2019-09-23 17:08] woodcockjosh commented on #287
I could be mistaken but it appears all PATCH requests have the same request header content type in v1.16. Can you not make the generator look at the http method to set the correct content type?

[2019-09-23 18:00] woodcockjosh opened #345 "Closing issues doesn't make your repo less buggy"
@brendandburns So I have seen that some repo owners and it looks like you in this case think that somehow closing issues that are active bugs somehow makes a repo less buggy. Actually it just make you look like a lazy and/or deceptive f*ck. You can write whatever bullshit excuse you want but if people look at all the closed issues, most of them are closed even though they are active bugs. Are you

[2019-09-23 18:26] RefRec97 commented on #343
strangely it does, it returns  `Client sent an HTTP request to an HTTPS server.`
But in the Podlog I still see: `connect ECONNREFUSED 10.96.0.1:443`

[2019-09-23 21:52] brendandburns commented on #345
This repository is part of the Kubernetes community and as such is covered by the CNCF code of conduct. I would encourage you to read the code of conduct that you can find here:

https://github.com/cncf/foundation/blob/master/code-of-conduct.md#contributor-code-of-conduct

Professional and respectful communication is a key value and hallmark of the Kubernetes community, please ensure that future i

[2019-09-23 21:52] #345 closed

[2019-09-24 00:10] woodcockjosh commented on #345
You got rekt bro. I hope you think twice about closing valid issues.

[2019-09-24 01:51] woodcockjosh commented on #345
Dont worry guys I sent them an email myself. We can all be standing tall explaining ourselves.

[2019-09-24 02:09] woodcockjosh commented on #345
For your research purposes, here's a model example on how to properly run a repo and encourage people to contribute rather than attract the kind of response you got from me https://github.com/kubernetes/minikube

[2019-09-24 11:46] woodcockjosh commented on #345
I apologize for my comments and can assure you it won't happen again. Please continue to manage your repo however you see fit.

[2019-09-25 03:57] brendandburns commented on #343
At this point, running `tcpdump` in the pod might be necessary to see what is going on. I'm out of good ideas about what could be going wrong.

Are you trying to connect repeatedly? Or just once? It's possible that maybe it's taking a second for networking to get setup correctly? [that's a stretch...]

[2019-09-25 09:12] RefRec97 commented on #343
We are calling cache.list repeatedly, but this error message just comes once. I will try the tcpdump later.
Maybe it could help if we arrange a skype call, if you would have time for that, so you can see it in action.

[2019-09-25 20:46] brendandburns commented on #343
does it happen on the first call? or intermittently? Is your API server crashing? It's possible that either CNI networking or the `kube-proxy` isn't always working correctly. Can you find the literal IP address of your api server (the IP address in `KUBERNETES_SERVICE_HOST` is generally a service load balancer not the actual IP address)

If it works talking directly to the ApiServer but not via th

[2019-09-26 07:22] RefRec97 commented on #343
It was the serviceaccount, we didnt use it, so your guess with `NetworkSecurityPolicy` was absolutely correct.
Sadly now we get this: `(node:1) UnhandledPromiseRejectionWarning: #<Object>`.
Not sure how to find out what #<Object> is

[2019-09-26 09:45] RefRec97 commented on #343
maybe it would help if I show you the output of the console debugs.

**1. From outside the cluster:**
loopstart, api: [object Object], watch: [object Object], listFN: [object Promise], cache: [object Object]
listcache start:
listcache: undefined
Enterprise Portal app listening on 0.0.0.0:14565
listcache start:
listcache: [object Object],[object Object],[object Object],[object Object],[object Objec

[2019-09-26 20:02] brendandburns commented on #343
I'll look into the ListWatch, I suspect that there is a permissions error (e.g. `503`) that I'm not catching well.

Can you try `kubectl watch ...` inside the Pod and see if it works (or prints an error message?) I bet that something is going wrong in HTTP

Another alternative would be to look at the API server logs to see if you can find the error there.

I'm glad we're making progress!

[2019-09-26 21:34] RefRec97 commented on #343
im really glad to, in the apiserver logs i got this:
`E0926 21:23:55.248544       1 status.go:71] apiserver received an error that is not an metav1.Status: &http.badStringError{what:"malformed HTTP response", str:"\x00\x00\x18\x04\x00\x00\x00\x00\x00\x00\x05\x00\x10\x00\x00\x00\x03\x00\x00\x00\xfa\x00\x06\x00\x10\x01@\x00\x04\x00\x10\x00\x00"}`

with `kubectl watch ...` do you mean something like

[2019-09-26 23:28] brendandburns commented on #343
Yeah, `kubectl get pods -w ...` was what I meant, sorry I typed the wrong thing...

I don't think that error is related, that looks like a call to an aggregated API server that's not working correctly or something like that...

[2019-09-26 23:29] brendandburns commented on #343
If it's easier/faster we can use the #kubernetes-client channel in Kubernetes slack tomorrow morning sometime (Pacific time) for more interactive discussion/debugging

[2019-09-27 04:40] zen0wu opened #349 "V1ServicePort.targetPort type changed from any to object in 0.10.3"
An issue I noticed while upgrading.

It used to be `any`, which works fine. Now it's `object`, where giving a number would cause a type error.

https://github.com/kubernetes-client/javascript/blob/master/src/gen/model/v1ServicePort.ts#L37

[2019-09-27 07:44] RefRec97 commented on #343
The kube slack idea is great, I would really appreciate that.
I made a `helm delete` on the application, then a `helm install`. After that I called `kubectl get pods -w -n namespaceName` but I could only see the new one now running and the old one being terminated.

[2019-09-27 17:22] brendandburns commented on #349
Thanks for pointing this out. I'm not sure where that came from... I will dig in and see what we need to do to fix it.

Note that you can always pass the number as a string (e.g. `"123"`) the code will do the right thing.

[2019-10-01 12:23] ssube opened #350 "bundle failing on electron dependency"
The v0.10.3 release seems to have a breaking change for clients bundled with rollup (and likely webpack) thanks to a transitive dependency requiring electron:

[code]

The `openid-client` package added in [this commit](https://github.com/kubernetes-client/javascript/commit/fb1ee0c9069bf686cdc480d522c3a556fa61ec15) has a requirement on `got`:

[code]

The `got` library, in turn, requires electron w

[2019-10-02 04:41] brendandburns commented on #350
Sorry about this! We'll fix that asap!

[2019-10-03 05:55] zenozen commented on #349
Thanks for responding. Passing as string doesn't pass the type check too, string doesn't conform to object. Probably need to with `any`.

[2019-10-03 20:29] brendandburns commented on #350
Actually, @ssube as I dig into this, do you have a suggestion about how to fix this? I haven't used rollup before and I'm not sure if it's something that we need to place in this library/package.json or something that you need to do on the rollup config side.

Advice/pointers would be useful.

Thanks!

[2019-10-03 23:45] ssube commented on #350
I've been looking into it as well, and this one seems a little tricky: my usual fix would be to replace the `require('electron')` module with a fake stub that will either `return undefined` or `throw`, as needed for the library doing the require. In this case, the lack of surrounding error handling in `got` or somewhere was complicating that, but I will take another try and see if I can come up wi

[2019-10-04 14:54] aeb-sia commented on #336
Not sure how this can be rebuilt so it uses the new open api generator. Do I need to check out the project and run the generation locally?

[2019-10-04 15:02] aeb-sia commented on #336
@brendandburns not really sure what I need to have installed to regenerate the code. I guess it's easier if you do that.
[v4.1.3](https://github.com/OpenAPITools/openapi-generator/releases/tag/v4.1.3) was just released, which should throw Errors on rejection

[2019-10-06 18:35] #242 closed

[2019-10-06 21:10] RefRec97 commented on #343
Hey, so have you had time to look into it?

[2019-10-11 07:29] gkze opened #353 "exec error: 'Unexpected server response: 401'"
While running the [exec example code](https://github.com/kubernetes-client/javascript/blob/master/examples/typescript/exec/exec-example.ts) (JavaScript-ified version pasted below for accuracy), I receive the following error:

[code]

Running the following JavaScript code (`node exec.js whoami`):

[code]

Here is the byte-for-byte request string, set on the `_header` property of the `ClientRequest`

[2019-10-11 15:14] brendandburns commented on #353
I think that the cause of this is the empty-header array (or lack of such handling) in exec_auth.ts I will try to repro in unit test...

[2019-10-12 01:39] #234 closed

[2019-10-13 17:25] brendandburns commented on #353
Yep, that was the bug. Sent a fix in #354

[2019-10-13 17:28] #353 closed

[2019-10-13 17:53] gkze commented on #353
Thank you so much for the fix!!

[2019-10-14 19:43] brendandburns commented on #353
This was pushed in release `0.11.0` please test and see if it fixes your issue.

[2019-10-16 11:19] drubin commented on #124
/remove-lifecycle rotten

[2019-10-25 00:18] xogeny commented on #349
I found a similar issue with `ExtensionsV1beta1IngressBackend`.  In that type definition, `servicePort` is listed as `object` but it should really be `number | string`.  You can see where the confusion may be coming from if you look at the `swagger.json` code found [here](https://raw.githubusercontent.com/kubernetes/kubernetes/master/api/openapi-spec/swagger.json):

[code]

Specifically, note the

[2019-10-25 07:47] drubin commented on #290
/remove-lifecycle rotten

[2019-10-25 12:50] jnummelin opened #358 "Inconsistency with go-client Azure auth"
Not sure yet if this is a bug or not, hopefully someone more familiar with AKS might be able to help me sort that part out. :)

One of our users reported that token refresh on AKS cluster does not work. The kubeconfig for the problematic cluster is:
[code]

Looking at the Azure auth [here](https://github.com/kubernetes-client/javascript/blob/master/src/cloud_auth.ts) makes me think this sort of au

[2019-10-28 18:10] #245 closed

[2019-10-28 23:10] brendandburns commented on #358
Yep, this is a limitation in the current cloud auth code. We'd gladly welcome a PR that performed the right token regeneration using the Azure ADAL libraries.

[2019-10-29 18:40] mrbobbytables opened #359 "Clean up outside collaborators"
Hey there @kubernetes-client/javascript-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through th

[2019-10-31 12:10] jnummelin opened #360 "OIDC auth does not handle custom CA certs"
Looking at the Go client implementation, one is able to use trusted IDP certs with `idp-certificate-authority` or `idp-certificate-authority-data` attributes. See: https://github.com/kubernetes/kubernetes/blob/a3ccea9d8743f2ff82e41b6c2af6dc2c41dc7b10/staging/src/k8s.io/client-go/plugin/pkg/client/auth/oidc/oidc.go#L41-L42

Currently the OIDC auth [implementation](https://github.com/kubernetes-clie

[2019-10-31 23:35] brendandburns commented on #360
We'd be happy to take a PR to add this support.

Thanks!

[2019-11-04 11:21] zoidbergwill commented on #341
So I just stumbled upon this issue looking for a similar answer to @SachinVarghese

So this client is generated with [this script](https://github.com/kubernetes-client/javascript/blob/master/generate-client.sh) which uses the [kubernetes-client/gen](https://github.com/kubernetes-client/gen) repo to generate a [typescript](https://github.com/kubernetes-client/gen/blob/master/openapi/typescript.sh)

[2019-11-04 11:21] zoidbergwill commented on #341
Can we re-open it but consider it blocked by https://github.com/kubernetes-client/gen/issues/121?

[2019-11-04 16:10] vilmosnagy opened #361 "OIDC Auth requires `client-secret` parameter"
Currently, if I use the OIDC auth mode I must insert a `client-secret` attribute to the `userConfig`:

[code]

As far as I understand:
 - the `cliend-secret` is an optional parameter in the OIDC specifications (if the oidc server doesn't want to authenticate the clients, it can be omitted)
 - there's a check for it in the [`oidc_auth` file](https://github.com/kubernetes-client/javascript/blob/mast

[2019-11-04 20:42] brendandburns commented on #361
I'm definitely not an OIDC expert, if you can point to the part in the spec where it's defined as optional, we're happy to take a PR to remove the check that requires it.

[2019-11-05 09:12] vilmosnagy commented on #361
As far as I understand the OpenID protocol _is a simple identity layer on top of the OAuth 2.0 protocol._ ([via](https://openid.net/specs/openid-connect-core-1_0.html)).

The OAuth 2.0 [RCF](https://tools.ietf.org/html/rfc6749) says the following about the `client_secret`:

Based on that definition, the `client_secret` can be an empty string.

Even if you demand that the framework's client (my cod

[2019-11-05 17:12] chadbr commented on #82
@dbolkensteyn Hey Dinesh -- Can you point me to an example of how to use the Log.log(..) method? I have not been able to figure out how to get something out the of the _stream: Writable_ parameter.

Thanks, Chad

[2019-11-05 20:34] dbolkensteyn commented on #82
It's been a while but try something along these lines:
[code]

and then pass `myStream` as the argument.

[2019-11-05 23:44] chadbr commented on #82
Thanks @dbolkensteyn -- I'm failing to grasp why we would pass a writable stream instead of getting a readable stream from the log function? I'm assuming the function is there to read log streams?

Sorry for the dumb question...

For example, when I call `spawn` - I get an object back with the process streams:

[code]

I would have assumed the log function would return something like `stdout: Read

[2019-11-05 23:59] chadbr commented on #82
As a side note -- I think I might have found a small bug?

This function is async / returns a promise, and it's not awaited / then'd? I'm not sure if it matters...

[code]

https://github.com/kubernetes-client/javascript/blob/9d5757e4757194e4fe93b513ea0b7703ab1c906a/src/log.ts#L78-L79

Sorry for the noise...

[2019-11-06 10:13] dbolkensteyn commented on #82
I don't have a good answer to either of your points as my knowledge of TypeScript is limited. Feel free to further investigate and open new issues (and/or PRs).

[2019-11-06 15:38] #128 closed

[2019-11-07 19:11] brendandburns commented on #361
Cool, we'd love a PR to add this support, basically to set client-secret to empty string if it's not present in the config.

Thanks!

[2019-11-11 13:47] dan-barrett opened #362 "Using CA Cert, I can't connect: "Error: unable to verify the first certificate". Works fine with curl."
I am trying to issue API calls without a kubectl proxy. In other words, I am trying to hit the remote API directly not through a local proxy. In order to do this, you need to include the ca certificate for TLS security and the Bearer token to authenticate.

I can do that perfectly successfully with `curl`. The following returns perfectly fine. (note: I took the certData from my kubectl config, the

[2019-11-11 20:15] chelnak commented on #358
@brendandburns Is this the right lib?
https://github.com/AzureAD/azure-activedirectory-library-for-js

[2019-11-12 00:27] brendandburns commented on #362
caFile is associated with the `server` not `user` object.

https://github.com/kubernetes-client/javascript/blob/master/src/config_types.ts#L8

Do you have a kubeconfig file? It's much easier to just load from a kubeConfig file than construct it in code...

[2019-11-12 16:24] mag415 opened #364 "makeInformer watch stops receiving updates for "/api/v1/configmaps""
[code]
Code above works as expected for about the first 10-15 mins, but stops receiving updates for config maps after that.

[2019-11-12 16:37] drubin commented on #364
@mag415  does the application throw an exception?

The informer API requires a connection to the k8s API server and I  believe if there is a disconnect/error it will throw an error. (but I might be wrong here)

[2019-11-12 16:46] mag415 commented on #364
I'm not seeing any exception thrown. Also while working with a debugger I'm not seeing the `doneHandler` get invoked at any point.

[2019-11-12 18:31] dan-barrett commented on #362
Thank you for looking at this Brendan. I had seen the certData property on User and assumed it was there. Putting it on the cluster obviously makes more sense; I've done that and things work as expected.

Note: I can't load the options from a kubeconfig file because I'm writing an application that needs the configuration data to be dynamic, so I have to set it on a per-request basis. But thanks fo